In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame(columns = [
    "Species",
    "Family",
    "BE",
    "Letzter_Nachweis",
    "Deutscher_Name",
    "Reference"
])
df

Empty DataFrame
Columns: [Species, Family, BE, Letzter_Nachweis, Deutscher_Name, Reference]
Index: []

In [11]:
import glob
filenames = glob.glob('*.csv')

In [12]:
filenames.sort()

In [13]:
dataframes = [pd.read_csv(f) for f in filenames]

In [14]:
i = 0
while i < 27:
    df = pd.concat([df, dataframes[i]], axis = 0)
    i = i + 1
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Donacia brevicornis,Chrysomelidae,0,vor 1907,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
1,Donacia dentata,Chrysomelidae,0,1937,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
2,Donacia obscura,Chrysomelidae,0,vor 1907,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
3,Donacia thalassina,Chrysomelidae,0,vor 1950,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
4,Donacia tomentosa,Chrysomelidae,0,1943,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
...,...,...,...,...,...,...
31,Emberiza hortulana,Emberizidae,0,NaN,Ortolan,Rote Liste und Liste der Brutvögel (Aves) von ...
0,Barbastella barbastellus,Vespertilionidae,0,NaN,Mopsfledermaus,Rote Liste und Gesamtartenliste der Säugetiere...
1,Cricetus cricetus,Cricetidae,0,NaN,Hamster,Rote Liste und Gesamtartenliste der Säugetiere...
2,Rattus rattus,Muridae,0,NaN,Hausratte,Rote Liste und Gesamtartenliste der Säugetiere...
3,Cervus elaphus,Cervidae,0,NaN,Rothirsch,Rote Liste und Gesamtartenliste der Säugetiere...

In [15]:
df.reset_index(drop=True, inplace = True)

In [16]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Donacia brevicornis,Chrysomelidae,0,vor 1907,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
1,Donacia dentata,Chrysomelidae,0,1937,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
2,Donacia obscura,Chrysomelidae,0,vor 1907,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
3,Donacia thalassina,Chrysomelidae,0,vor 1950,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
4,Donacia tomentosa,Chrysomelidae,0,1943,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
...,...,...,...,...,...,...
924,Emberiza hortulana,Emberizidae,0,NaN,Ortolan,Rote Liste und Liste der Brutvögel (Aves) von ...
925,Barbastella barbastellus,Vespertilionidae,0,NaN,Mopsfledermaus,Rote Liste und Gesamtartenliste der Säugetiere...
926,Cricetus cricetus,Cricetidae,0,NaN,Hamster,Rote Liste und Gesamtartenliste der Säugetiere...
927,Rattus rattus,Muridae,0,NaN,Hausratte,Rote Liste und Gesamtartenliste der Säugetiere...
928,Cervus elaphus,Cervidae,0,NaN,Rothirsch,Rote Liste und Gesamtartenliste der Säugetiere...