In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame(columns = [
    "Species",
    "Family",
    "BE",
    "Letzter_Nachweis",
    "Deutscher_Name",
    "Reference"
])
df

Empty DataFrame
Columns: [Species, Family, BE, Letzter_Nachweis, Deutscher_Name, Reference]
Index: []

In [12]:
import glob
filenames = glob.glob('*.csv')

In [13]:
filenames.sort()

In [14]:
dataframes = [pd.read_csv(f) for f in filenames]

In [15]:
i = 0
while i < 34:
    df = pd.concat([df, dataframes[i]], axis = 0)
    i = i + 1
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Donacia brevicornis,Chrysomelidae,0,vor 1907,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
1,Donacia dentata,Chrysomelidae,0,1937,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
2,Donacia obscura,Chrysomelidae,0,vor 1907,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
3,Donacia thalassina,Chrysomelidae,0,vor 1950,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
4,Donacia tomentosa,Chrysomelidae,0,1943,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
...,...,...,...,...,...,...
6,Nitella confervacea,Characeae,0,NaN,NaN,Rote Liste und Gesamtartenliste der Armleuchte...
7,Nitella gracilis,Characeae,0,NaN,NaN,Rote Liste und Gesamtartenliste der Armleuchte...
8,Nitella opaca,Characeae,0,NaN,NaN,Rote Liste und Gesamtartenliste der Armleuchte...
9,Nitella tenuissima,Characeae,0,NaN,NaN,Rote Liste und Gesamtartenliste der Armleuchte...
10,Tolypella intricata,Characeae,0,NaN,NaN,Rote Liste und Gesamtartenliste der Armleuchte...

In [16]:
df.reset_index(drop=True, inplace = True)

In [17]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Donacia brevicornis,Chrysomelidae,0,vor 1907,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
1,Donacia dentata,Chrysomelidae,0,1937,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
2,Donacia obscura,Chrysomelidae,0,vor 1907,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
3,Donacia thalassina,Chrysomelidae,0,vor 1950,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
4,Donacia tomentosa,Chrysomelidae,0,1943,NaN,Rote Liste und Gesamtartenliste der Blattkäfer...
...,...,...,...,...,...,...
1407,Nitella confervacea,Characeae,0,NaN,NaN,Rote Liste und Gesamtartenliste der Armleuchte...
1408,Nitella gracilis,Characeae,0,NaN,NaN,Rote Liste und Gesamtartenliste der Armleuchte...
1409,Nitella opaca,Characeae,0,NaN,NaN,Rote Liste und Gesamtartenliste der Armleuchte...
1410,Nitella tenuissima,Characeae,0,NaN,NaN,Rote Liste und Gesamtartenliste der Armleuchte...
1411,Tolypella intricata,Characeae,0,NaN,NaN,Rote Liste und Gesamtartenliste der Armleuchte...

In [18]:
# Saving the transformed dataframe to Data_cleaning_step2
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step2/Extinct_species_without_meta.csv', 
          index=False)