In [1]:
import camelot
import pandas as pd

# Updated Process

## 1. Create empty dataframe with proper column names

In [2]:
# This is where data will be added after cleaning. The final dataframe for export

In [3]:
df = pd.DataFrame(columns = [
    "Species",
    "BE", 
    "Bestand", 
    "Trend_lang", 
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "GfU"
])
df

Empty DataFrame
Columns: [Species, BE, Bestand, Trend_lang, Trend_kurz, RF, BB, D, GfU]
Index: []

In [4]:
df.shape

(0, 9)

## 2. Setup mechanism to store accuracy report : QA step

In [5]:
accuracy = []

## 3. Dictionary of dataframes on the go

In [6]:
# Dictionary to collect dataframes created from each table
d = {}

## 4. Adding the list of pages to be parsed

In [7]:
pages = []
i = 6
while i < 7:
    pages.append(i)
    i = i + 1
print(pages)

[6]

## 5. Parsing through the pages

In [8]:
for i in pages:
    # print page number
    print (i)
    # create dataframe with page number
    d[i] = pd.DataFrame()
    #read the page
    tables = camelot.read_pdf('rote_liste_rotalgen_rudolph_et_al.pdf', 
                              pages= str(i), 
                              flavor='stream', edge_tol=1000, row_tol=10)
    #tables = camelot.read_pdf('18_netzfl_print.pdf', pages= str(i), flavor='lattice')
    # add the accuracy report
    accuracy.append(tables[0].parsing_report)
    # assign the first table to a dataframe
    d[i] = tables[0].df
    print(d[i].shape)
# Print Done once all pages are parsed
print ("Done")

6
(42, 10)
Done

In [9]:
# Check accuracy reports for the process
accuracy

[{'accuracy': 53.46, 'whitespace': 86.9, 'order': 1, 'page': 6}]

In [10]:
d[6]

,0,1,2,3,4,5,6,7,8,9
0,,Tabelle 2: Rote Liste und Gesamtartenliste der...,,,,,,,,
1,Berlin.,,,,,,,,,
2,,Wissenschaftlicher Name,BE,Bestand,Trend,Trend,RF,BB,D,GfU
3,,,,,lang,kurz,,,,
4,Pleurocladia lacustris A. BRAUN,,0,ex,,,,D,R,
5,A\nnmerkungen,,,,,,,,,
6,,Audouinella chalybea (ROTH) BORY: A. chalybea ...,,,,,,,,
7,sern nahezu ganzj√§hrig vor. SCHOLZ (1963) nenn...,,,,,,,,,
8,,"dem Tegeler See und Pohlesee, GEISSLER &...",,,,,,,,
9,,Gr√§ben der Rieselfelder. Neuere Funde sta...,,,,,,,,
10,,"22.02.2014, Herbarbeleg B 40 0041842; Sta...",,,,,,,,
11,,"06.05.2016, Nasspr√§parat B 40 0041843). Die Ar...",,,,,,,,
12,,"dem Wasser (>0,15 ms-1) oder in der Wel...",,,,,,,,
13,,HUTH (2014) ist die Art gegen√ºber Verschmutzun...,,,,,,,,
14,,noch in der √ü-mesosaproben Zone. Die √§hnliche ...,,,,,,,,
15,,BER BOSSE (vergleiche ELORANTA et al. 2011) wu...,,,,,,,,
16,,ben. Von einer Aufnahme von A. pygmaea in die ...,,,,,,,,
17,,"hen, da die Dokumentation des Taxons (z. B. du...",,,,,,,,
18,,ner √∂ffentlichen Sammlungsinstitution) fehlt.,,,,,,,,
19,,Bangia atropurpurea (ROTH) C. AGARDH: B. atrop...,,,,,,,,
20,,1994 belegt (JAHN in GEISSLER & KIES 20...,,,,,,,,
21,,barbeleg B 40 0041847; Rudolph 23.07.1997...,,,,,,,,
22,,"28.05.2016, Herbarbeleg B 40 0041850). Au...",,,,,,,,
23,,"vom M√§rz 2004 (Fotobeleg vom 12.03.2004), dana...",,,,,,,,
24,,beobachtet. Als wohl popul√§rster Fundort der A...,,,,,,,,
25,,Spree vor dem Paul-L√∂be-Haus des Deutschen Bun...,,,,,,,,
26,,nur seit 2005 √ºber viele Monate eines jeden Ja...,,,,,,,,
27,,"ihre √∂kologischen Vorlieben, das Leben in der ...",,,,,,,,
28,,"gibt (Rudolph 09.04.2012, Herbarbeleg B 40 004...",,,,,,,,
29,,"beleg B 40 0041845; Rudolph 23.04.2016, Herbar...",,,,,,,,
30,,HUTH (2014) toleriert die Art m√§√üige Ver...,,,,,,,,
31,,"gen, erh√∂hte Chloridwerte und eine breite Temp...",,,,,,,,
32,,Batrachospermum atrum (HUDSON) HARVEY: B. ...,,,,,,,,
33,,"1995 belegt (RUDOLPH 1996; Rudolph 30.04.2016,...",,,,,,,,
34,,"ort siehe Foto 2), ist aber schon lange aus Be...",,,,,,,,
35,,"Oberspree, Pohlesee und Griebnitzsee, SCHO...",,,,,,,,
36,,"Tegeler See (Rudolph 08.05.2011, Nasspr√§parat ...",,,,,,,,
37,,Nasspr√§parat B 40 0041853; Rudolph 29.05....,,,,,,,,
38,,h√∂chstwahrscheinlich mit der Verringerung ...,,,,,,,,
39,,stoffzusammensetzung zu tun hat. Die Art ...,,,,,,,,
40,,Schilfst√§ngeln. Nach KNAPPE & HUTH (2014) komm...,,,,,,,,
41,w√§ssern vor.,,,,,,,,,

# Data cleanup steps

d[67]       
    : Look at the data frame extracted from 67th page
d[67].shape 
    : Look at the shape of the dataframe
d[68] = d[68].drop([12], axis=1)
    : Drop the 12th column in place
d[68][10] = d[68][[10, 11]].agg(' '.join, axis=1)
    : Join 10th and 11th columns with a space in between
d[69][[9,11]] = d[69][9].str.split('\n', expand=True)
    : Split 9th Column at the '\n' sign and add a new column called 11
column_to_move = d[69].pop(11)
column_to_move
d[69].insert(9, 11, column_to_move )
    : Pop column 11 and insert it at column 9
d[75].insert(9, '10', ["",""])
    : Insert two rows of column 10 after 9 with empty cells

In [11]:
d[6] = d[6].drop([1], axis=1)
d[6]
#: Drop the 12th column in place

,0,2,3,4,5,6,7,8,9
0,,,,,,,,,
1,Berlin.,,,,,,,,
2,,BE,Bestand,Trend,Trend,RF,BB,D,GfU
3,,,,lang,kurz,,,,
4,Pleurocladia lacustris A. BRAUN,0,ex,,,,D,R,
5,A\nnmerkungen,,,,,,,,
6,,,,,,,,,
7,sern nahezu ganzj√§hrig vor. SCHOLZ (1963) nenn...,,,,,,,,
8,,,,,,,,,
9,,,,,,,,,
10,,,,,,,,,
11,,,,,,,,,
12,,,,,,,,,
13,,,,,,,,,
14,,,,,,,,,
15,,,,,,,,,
16,,,,,,,,,
17,,,,,,,,,
18,,,,,,,,,
19,,,,,,,,,
20,,,,,,,,,
21,,,,,,,,,
22,,,,,,,,,
23,,,,,,,,,
24,,,,,,,,,
25,,,,,,,,,
26,,,,,,,,,
27,,,,,,,,,
28,,,,,,,,,
29,,,,,,,,,
30,,,,,,,,,
31,,,,,,,,,
32,,,,,,,,,
33,,,,,,,,,
34,,,,,,,,,
35,,,,,,,,,
36,,,,,,,,,
37,,,,,,,,,
38,,,,,,,,,
39,,,,,,,,,
40,,,,,,,,,
41,w√§ssern vor.,,,,,,,,

In [12]:
# Check whether all dataframes are of the same size
for key in d:
    print(key)
    print(d[key].shape)

6
(42, 9)

In [13]:
# Removing empty dataframes
# del d[64]
# del d[74]

In [14]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
d2 = OrderedDict(sorted(d.items()))

In [15]:
# Check whether the dictionary is sorted
for key in d2:
    print(key)

6

In [16]:
# Rename all the dataframes in the sorted dictionary
for key in d2:
    print(key)
    d2[key].columns = [ "Species",
    "BE", 
    "Bestand", 
    "Trend_lang", 
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "GfU"]
print("Rename completed for concat")

6
Rename completed for concat

In [17]:
# Concatanate all the non-empty dataframes in the sorted dictionary into the empty df
for key in d2:
    df = pd.concat([df, d2[key]], axis = 0)
df

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU
0,,,,,,,,,
1,Berlin.,,,,,,,,
2,,BE,Bestand,Trend,Trend,RF,BB,D,GfU
3,,,,lang,kurz,,,,
4,Pleurocladia lacustris A. BRAUN,0,ex,,,,D,R,
5,A\nnmerkungen,,,,,,,,
6,,,,,,,,,
7,sern nahezu ganzj√§hrig vor. SCHOLZ (1963) nenn...,,,,,,,,
8,,,,,,,,,
9,,,,,,,,,
10,,,,,,,,,
11,,,,,,,,,
12,,,,,,,,,
13,,,,,,,,,
14,,,,,,,,,
15,,,,,,,,,
16,,,,,,,,,
17,,,,,,,,,
18,,,,,,,,,
19,,,,,,,,,
20,,,,,,,,,
21,,,,,,,,,
22,,,,,,,,,
23,,,,,,,,,
24,,,,,,,,,
25,,,,,,,,,
26,,,,,,,,,
27,,,,,,,,,
28,,,,,,,,,
29,,,,,,,,,
30,,,,,,,,,
31,,,,,,,,,
32,,,,,,,,,
33,,,,,,,,,
34,,,,,,,,,
35,,,,,,,,,
36,,,,,,,,,
37,,,,,,,,,
38,,,,,,,,,
39,,,,,,,,,
40,,,,,,,,,
41,w√§ssern vor.,,,,,,,,

In [18]:
# Definition of extinction
df2 = df.loc[df["BE"] == "0"]
df2.reset_index(inplace = True)
df2 = df2.drop(['index'], axis=1)
df2.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU
0,Pleurocladia lacustris A. BRAUN,0,ex,,,,D,R,

In [19]:
df3 = df.loc[df["Bestand"] == "ex"]
df3.reset_index(inplace = True)
df3 = df3.drop(['index'], axis=1)
df3.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU
0,Pleurocladia lacustris A. BRAUN,0,ex,,,,D,R,

In [20]:
df2.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU
count,1,1,1,1,1,1,1,1,1
unique,1,1,1,1,1,1,1,1,1
top,Pleurocladia lacustris A. BRAUN,0,ex,,,,D,R,
freq,1,1,1,1,1,1,1,1,1

In [21]:
df3.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU
count,1,1,1,1,1,1,1,1,1
unique,1,1,1,1,1,1,1,1,1
top,Pleurocladia lacustris A. BRAUN,0,ex,,,,D,R,
freq,1,1,1,1,1,1,1,1,1

In [22]:
# export the dataframe as CSV
df2.to_csv('Algae_Phaeophyceae.csv', index=False)