In [12]:
import camelot
import pandas as pd

# Updated Process

## 1. Create empty dataframe with proper column names

In [13]:
# This is where data will be added after cleaning. The final dataframe for export

In [14]:
df = pd.DataFrame(columns = [
    "Species",
    "BE", 
    "Bestand", 
    "Trend_lang",
    "Trend_kurz",
    "RF",
    "BB",
    "D"
])
df

Empty DataFrame
Columns: [Species, BE, Bestand, Trend_lang, Trend_kurz, RF, BB, D]
Index: []

In [15]:
df.shape

(0, 8)

## 2. Setup mechanism to store accuracy report : QA step

In [16]:
accuracy = []

## 3. Dictionary of dataframes on the go

In [17]:
# Dictionary to collect dataframes created from each table
d = {}

## 4. Adding the list of pages to be parsed

In [18]:
pages = []
i = 5
while i < 6:
    pages.append(i)
    i = i + 1
print(pages)

[5]

## 5. Parsing through the pages

In [19]:
for i in pages:
    # print page number
    print (i)
    # create dataframe with page number
    d[i] = pd.DataFrame()
    #read the page
    tables = camelot.read_pdf('rote_liste_flechtenpilze_wagner_et_al.pdf', 
                              pages= str(i), 
                              flavor='stream', edge_tol=1000, row_tol=10)
    #tables = camelot.read_pdf('18_netzfl_print.pdf', pages= str(i), flavor='lattice')
    # add the accuracy report
    accuracy.append(tables[1].parsing_report)
    # assign the first table to a dataframe
    d[i] = tables[1].df
    print(d[i].shape)
# Print Done once all pages are parsed
print ("Done")

5
(35, 8)
Done

In [20]:
d[5]

,0,1,2,3,4,5,6,7
0,Tabelle 1: Rote Liste und Gesamtartenliste der...,,,,,,,
1,Wissenschaftlicher Name,BE,Bestand,Trend,Trend,RF,BB,D
2,,,,lang,kurz,,,
3,Abrothallus parmeliarum (SOMMERF.) ARNOLD,0,ex,,,,0,*
4,Arthonia phaeophysciae GRUBE & MATZER,*,s,=,?,=,kN,D
5,Athelia arachnoidea (BERK.) JÜLICH,*,sh,=,=,=,*,*
6,Capronia peltigerae (FUCKEL) D. HAWKSW.,D,ss,?,?,=,kN,D
7,Cercidospora macrospora (ULOTH) HAFELLNER &,,,,,,,
8,NAV.-ROS.,D,ss,?,?,=,kN,*
9,"Cladoniicola staurospora DIEDERICH, VAN DEN BO...",,,,,,,
10,APTROOT,D,ss,?,?,=,kN,D
11,Didymosphaeria futilis (BERK. & BROOME) REHM,D,mh,?,?,=,kN,D
12,Graphium aphthosae ALSTRUP D. HAWKSW.,D,ss,?,?,=,kN,kN
13,Hainesia xanthoriae BRACKEL,*,s,=,?,=,kN,*
14,Hawksworthiana peltigericola (D. HAWKSW.),,,,,,,
15,U. BRAUN,D,s,?,?,=,kN,kN
16,Illosporiopsis christiansenii (B. L. BRADY & D.,,,,,,,
17,HAWKSW.) D. HAWKSW.,D,s,?,?,=,kN,D
18,Intralichen christiansenii (D. HAWKSW.) D. HAW...,,,,,,,
19,& M. S. COLE,*,s,=,=,=,kN,*
20,Libertiella malmedyensis SPEG. & ROUM.,D,s,?,?,=,kN,D
21,Licea parasitica (ZUKAL) MARTIN,*,h,=,?,=,D,kN
22,Lichenodiplis lecanorae (VOUAUX) DYKO & D.,,,,,,,
23,HAWKSW.,D,ss,?,?,=,kN,*
24,Marchandiobasidium aurantiacum (LASCH) DIE-,,,,,,,
25,DERICH & SCHULTHEIS,*,mh,=,?,=,kN,*
26,Marchandiomyces corallinus (ROBERGE) DIEDERICH &,,,,,,,
27,D. HAWKSW.,*,h,=,?,=,0,D
28,Paranectria oropensis (CES. ex RABENH.) D. HAW...,,,,,,,
29,& PIROZ.,*,s,=,?,=,kN,*
30,Pezizella epithallina (W. PHILLIPS & PLOWR.) S...,D,s,?,?,=,*,D
31,Sarcopyrenia gibba (NYL.) NYL.,D,?,?,?,=,D,*
32,Scutula miliaris (WALLR.) TREVISAN,0,ex,,,,0,1
33,Thelocarpon lichenicola (FUCKEL) POELT & HAFEL...,D,?,=,=,=,D,3
34,Xanthoriicola physciae (KALCHBR.) D.HAWKSW.,*,s,=,=,=,R,*

In [21]:
# Check accuracy reports for the process
accuracy

[{'accuracy': 99.81, 'whitespace': 29.29, 'order': 2, 'page': 5}]

# Data cleanup steps

d[67]       
    : Look at the data frame extracted from 67th page
d[67].shape 
    : Look at the shape of the dataframe
d[68] = d[68].drop([12], axis=1)
    : Drop the 12th column in place
d[68][10] = d[68][[10, 11]].agg(' '.join, axis=1)
    : Join 10th and 11th columns with a space in between
d[69][[9,11]] = d[69][9].str.split('\n', expand=True)
    : Split 9th Column at the '\n' sign and add a new column called 11
column_to_move = d[69].pop(11)
column_to_move
d[69].insert(9, 11, column_to_move )
    : Pop column 11 and insert it at column 9
d[75].insert(9, '10', ["",""])
    : Insert two rows of column 10 after 9 with empty cells

In [22]:
# Check whether all dataframes are of the same size
for key in d:
    print(key)
    print(d[key].shape)

5
(35, 8)

In [23]:
# Removing empty dataframes
# del d[64]
# del d[74]

In [24]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
d2 = OrderedDict(sorted(d.items()))

In [25]:
# Check whether the dictionary is sorted
for key in d2:
    print(key)

5

In [26]:
# Rename all the dataframes in the sorted dictionary
for key in d2:
    print(key)
    d2[key].columns = [ "Species",
    "BE", 
    "Bestand", 
    "Trend_lang",
    "Trend_kurz",
    "RF",
    "BB",
    "D"]
print("Rename completed for concat")

5
Rename completed for concat

In [27]:
# Concatanate all the non-empty dataframes in the sorted dictionary into the empty df
for key in d2:
    df = pd.concat([df, d2[key]], axis = 0)
df

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D
0,Tabelle 1: Rote Liste und Gesamtartenliste der...,,,,,,,
1,Wissenschaftlicher Name,BE,Bestand,Trend,Trend,RF,BB,D
2,,,,lang,kurz,,,
3,Abrothallus parmeliarum (SOMMERF.) ARNOLD,0,ex,,,,0,*
4,Arthonia phaeophysciae GRUBE & MATZER,*,s,=,?,=,kN,D
5,Athelia arachnoidea (BERK.) JÜLICH,*,sh,=,=,=,*,*
6,Capronia peltigerae (FUCKEL) D. HAWKSW.,D,ss,?,?,=,kN,D
7,Cercidospora macrospora (ULOTH) HAFELLNER &,,,,,,,
8,NAV.-ROS.,D,ss,?,?,=,kN,*
9,"Cladoniicola staurospora DIEDERICH, VAN DEN BO...",,,,,,,
10,APTROOT,D,ss,?,?,=,kN,D
11,Didymosphaeria futilis (BERK. & BROOME) REHM,D,mh,?,?,=,kN,D
12,Graphium aphthosae ALSTRUP D. HAWKSW.,D,ss,?,?,=,kN,kN
13,Hainesia xanthoriae BRACKEL,*,s,=,?,=,kN,*
14,Hawksworthiana peltigericola (D. HAWKSW.),,,,,,,
15,U. BRAUN,D,s,?,?,=,kN,kN
16,Illosporiopsis christiansenii (B. L. BRADY & D.,,,,,,,
17,HAWKSW.) D. HAWKSW.,D,s,?,?,=,kN,D
18,Intralichen christiansenii (D. HAWKSW.) D. HAW...,,,,,,,
19,& M. S. COLE,*,s,=,=,=,kN,*
20,Libertiella malmedyensis SPEG. & ROUM.,D,s,?,?,=,kN,D
21,Licea parasitica (ZUKAL) MARTIN,*,h,=,?,=,D,kN
22,Lichenodiplis lecanorae (VOUAUX) DYKO & D.,,,,,,,
23,HAWKSW.,D,ss,?,?,=,kN,*
24,Marchandiobasidium aurantiacum (LASCH) DIE-,,,,,,,
25,DERICH & SCHULTHEIS,*,mh,=,?,=,kN,*
26,Marchandiomyces corallinus (ROBERGE) DIEDERICH &,,,,,,,
27,D. HAWKSW.,*,h,=,?,=,0,D
28,Paranectria oropensis (CES. ex RABENH.) D. HAW...,,,,,,,
29,& PIROZ.,*,s,=,?,=,kN,*
30,Pezizella epithallina (W. PHILLIPS & PLOWR.) S...,D,s,?,?,=,*,D
31,Sarcopyrenia gibba (NYL.) NYL.,D,?,?,?,=,D,*
32,Scutula miliaris (WALLR.) TREVISAN,0,ex,,,,0,1
33,Thelocarpon lichenicola (FUCKEL) POELT & HAFEL...,D,?,=,=,=,D,3
34,Xanthoriicola physciae (KALCHBR.) D.HAWKSW.,*,s,=,=,=,R,*

In [28]:
# Definition of extinction
df2 = df.loc[df["BE"] == "0"]
df2.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D
3,Abrothallus parmeliarum (SOMMERF.) ARNOLD,0,ex,,,,0,*
32,Scutula miliaris (WALLR.) TREVISAN,0,ex,,,,0,1

In [29]:
df2.reset_index(inplace = True)
df2.head()

,index,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D
0,3,Abrothallus parmeliarum (SOMMERF.) ARNOLD,0,ex,,,,0,*
1,32,Scutula miliaris (WALLR.) TREVISAN,0,ex,,,,0,1

In [30]:
df2 = df2.drop(['index'], axis=1)
df2.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D
0,Abrothallus parmeliarum (SOMMERF.) ARNOLD,0,ex,,,,0,*
1,Scutula miliaris (WALLR.) TREVISAN,0,ex,,,,0,1

In [31]:
df3 = df.loc[df["Bestand"] == "ex"]
df3.reset_index(inplace = True)
df3 = df3.drop(['index'], axis=1)
df3.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D
0,Abrothallus parmeliarum (SOMMERF.) ARNOLD,0,ex,,,,0,*
1,Scutula miliaris (WALLR.) TREVISAN,0,ex,,,,0,1

In [32]:
df2.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D
count,2,2,2,2,2,2,2,2
unique,2,1,1,1,1,1,1,2
top,Abrothallus parmeliarum (SOMMERF.) ARNOLD,0,ex,,,,0,*
freq,1,2,2,2,2,2,2,1

In [33]:
df3.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D
count,2,2,2,2,2,2,2,2
unique,2,1,1,1,1,1,1,2
top,Abrothallus parmeliarum (SOMMERF.) ARNOLD,0,ex,,,,0,*
freq,1,2,2,2,2,2,2,1

In [35]:
# export the dataframe as CSV
df2.to_csv('Fungi_lichenicolen.csv', index=False)