In [17]:
import camelot
import pandas as pd

# Updated Process

## 1. Create empty dataframe with proper column names

In [ ]:
# This is where data will be added after cleaning. The final dataframe for export

In [47]:
df = pd.DataFrame(columns = [
    "Species",
    "BE", 
    "Bestand", 
    "Vor_1990", 
    "1990_2017",
    "Trend_kurz",
    "Habitat",
    "D",
    "BB",
    "GS",
    "Common_name"
])
df

Empty DataFrame
Columns: [Species, BE, Bestand, Vor_1990, 1990_2017, Trend_kurz, Habitat, D, BB, GS, Common_name]
Index: []

In [48]:
df.shape

(0, 11)

## 2. Setup mechanism to store accuracy report : QA step

In [50]:
accuracy = []

## 3. Dictionary of dataframes on the go

In [ ]:
# Dictionary to collect dataframes created from each table
d = {}

## 4. Adding the list of pages to be parsed

In [ ]:
pages = []
i = 11
while i < 89:
    pages.append(i)
    i = i + 1
print(pages)

## 5. Parsing through the pages

In [ ]:
for i in pages:
    # print page number
    print (i)
    # create dataframe with page number
    d[i] = pd.DataFrame()
    #read the page
    #tables = camelot.read_pdf('18_netzfl_print.pdf', 
    #                          pages= str(i), 
    #                          flavor='stream', edge_tol=1000, row_tol=10)
    tables = camelot.read_pdf('18_netzfl_print.pdf', pages= str(i), flavor='lattice')
    # add the accuracy report
    accuracy.append(tables[0].parsing_report)
    # assign the first table to a dataframe
    d[i] = tables[0].df
    print(d[i].shape)
# Print Done once all pages are parsed
print ("Done")

In [ ]:
# Check accuracy reports for the process
accuracy

# Data cleanup steps

d[67]       
    : Look at the data frame extracted from 67th page
d[67].shape 
    : Look at the shape of the dataframe
d[68] = d[68].drop([12], axis=1)
    : Drop the 12th column in place
d[68][10] = d[68][[10, 11]].agg(' '.join, axis=1)
    : Join 10th and 11th columns with a space in between
d[69][[9,11]] = d[69][9].str.split('\n', expand=True)
    : Split 9th Column at the '\n' sign and add a new column called 11
column_to_move = d[69].pop(11)
column_to_move
d[69].insert(9, 11, column_to_move )
    : Pop column 11 and insert it at column 9
d[75].insert(9, '10', ["",""])
    : Insert two rows of column 10 after 9 with empty cells

In [ ]:
# Check whether all dataframes are of the same size
for key in d:
    print(key)
    print(d[key].shape)

In [ ]:
# Removing empty dataframes
# del d[64]
# del d[74]

In [ ]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
d2 = OrderedDict(sorted(d.items()))

In [ ]:
# Check whether the dictionary is sorted
for key in d2:
    print(key)

In [ ]:
# Rename all the dataframes in the sorted dictionary
for key in d2:
    print(key)
    d2[key].columns = [ "Species",
    "BE", 
    "Bestand", 
    "Vor_1990", 
    "1990_2017",
    "Trend_kurz",
    "Habitat",
    "D",
    "BB",
    "GS",
    "Common_name"]
print("Rename completed for concat")

In [ ]:
# Concatanate all the non-empty dataframes in the sorted dictionary into the empty df
for key in d2:
    df = pd.concat([df, d2[key]], axis = 0)
df

In [ ]:
# Definition of extinction
df2 = df.loc[df["BE"] == "0"]
df2.head()

In [ ]:
df2.reset_index(inplace = True)
df2.head()

In [ ]:
df2 = df2.drop(['index'], axis=1)
df2.head()

In [ ]:
df3 = df.loc[df["Bestand"] == "ex"]
df3.reset_index(inplace = True)
df3 = df3.drop(['index'], axis=1)
df3.head()

In [ ]:
df2.describe()

In [ ]:
df3.describe()

In [ ]:
# export the dataframe as CSV
df2.to_csv('Group_name.csv', index=False)