In [12]:
import camelot
import pandas as pd

# Updated Process

## 1. Create empty dataframe with proper column names

In [13]:
# This is where data will be added after cleaning. The final dataframe for export

In [14]:
df = pd.DataFrame(columns = [
    "Common_name",
    "Species",
    "Status", 
    "BP_Rev", 
    "Häufig_keitsklasse", 
    "Trend_lang",
    "Trend_kurz",
    "Risik",
    "BE2013",
    "BE2003",
    "BB2008",
    "D2007"
])
df

Empty DataFrame
Columns: [Common_name, Species, Status, BP_Rev, Häufig_keitsklasse, Trend_lang, Trend_kurz, Risik, BE2013, BE2003, BB2008, D2007]
Index: []

In [15]:
df.shape

(0, 12)

## 2. Setup mechanism to store accuracy report : QA step

In [16]:
accuracy = []

## 3. Dictionary of dataframes on the go

In [17]:
# Dictionary to collect dataframes created from each table
d = {}

## 4. Adding the list of pages to be parsed

In [18]:
pages = []
i = 5
while i < 14:
    pages.append(i)
    i = i + 1
print(pages)

[5, 6, 7, 8, 9, 10, 11, 12, 13]

## 5. Parsing through the pages

In [19]:
for i in pages:
    # print page number
    print (i)
    # create dataframe with page number
    d[i] = pd.DataFrame()
    #read the page
    tables = camelot.read_pdf('rote_liste_brutvoegel_witt_steiof.pdf', 
                              pages= str(i), 
                              flavor='stream', edge_tol=1000, row_tol=10)
    #tables = camelot.read_pdf('rote_liste_brutvoegel_witt_steiof.pdf', pages= str(i), flavor='lattice')
    # add the accuracy report
    accuracy.append(tables[0].parsing_report)
    # assign the first table to a dataframe
    d[i] = tables[0].df
    print(d[i].shape)
# Print Done once all pages are parsed
print ("Done")

5
(29, 12)
6
(28, 12)
7
(28, 12)
8
(28, 12)
9
(28, 12)
10
(28, 12)
11
(28, 12)
12
(27, 11)
13
(27, 12)
Done

In [20]:
# Check accuracy reports for the process
accuracy

[{'accuracy': 98.69, 'whitespace': 42.24, 'order': 1, 'page': 5},
 {'accuracy': 100.0, 'whitespace': 36.31, 'order': 1, 'page': 6},
 {'accuracy': 99.93, 'whitespace': 38.1, 'order': 1, 'page': 7},
 {'accuracy': 100.0, 'whitespace': 45.83, 'order': 1, 'page': 8},
 {'accuracy': 99.86, 'whitespace': 42.86, 'order': 1, 'page': 9},
 {'accuracy': 100.0, 'whitespace': 44.35, 'order': 1, 'page': 10},
 {'accuracy': 100.0, 'whitespace': 45.24, 'order': 1, 'page': 11},
 {'accuracy': 99.57, 'whitespace': 37.71, 'order': 1, 'page': 12},
 {'accuracy': 99.86, 'whitespace': 39.2, 'order': 1, 'page': 13}]

# Data cleanup steps

In [21]:
d[12]

,0,1,2,3,4,5,6,7,8,9,10
0,Art,wiss. Name,Status,BP/Rev.,Häufig-\nkeitsklasse,Trend \nlang,Trend \nRisik.\nkurz,BE2013,BE2003,BB2008,D2007
1,Stare,Sturnidae,,,,,,,,,
2,Star,Sturnus vulgaris,I,16.000 – 32.000,h,=,a,,,,
3,Drosseln,Turdidae,,,,,,,,,
4,Misteldrossel *,Turdus viscivorus,I,8 – 15,s,=,zz,,R,,
5,Amsel,Turdus merula,I,34.000 – 74.000,h,>,o,,,,
6,Wacholderdrossel *,Turdus pilaris,I ex,"0 – 2, 2009: 2 Rev.",ex,,,0,0,,
7,Singdrossel,Turdus philomelos,I,2.000 – 2.500,h,=,o,,,,
8,Rotdrossel,Turdus iliacus,II,1994/95: 1 BP,nb,,,,,0,
9,Schnäpperverwandte,Muscicapidae,,,,,,,,,
10,Grauschnäpper *,Muscicapa striata,I,200 – 400,mh,<,o,V,V,,
11,Zwergschnäpper,Ficedual parva,I,1 – 15,ss,=,z,,,3,
12,Trauerschnäpper,Ficedula hypoleuca,I,700 – 1.500,h,=,aa,,,,
13,Braunkehlchen *,Saxicola rubetra,I,30 – 50,s,<,o\nD,3,3,2,3
14,Schwarzkehlchen,Saxicola rubicola,I,40 – 50,s,>,zz,,,,V
15,Rotkehlchen,Erithacus rubecula,I,4.400 – 6.600,h,=,o,,,,
16,Sprosser,Luscinia luscinia,II,0 – 3,nb,,,,,,
17,Nachtigall,Luscinia megarhynchos,I,1.300 – 1.700,h,>,z,,,,
18,Blaukehlchen,Luscinia svecica,I ex,0 – 1,ex,,,0,0,3,V
19,Hausrotschwanz,Phoenicurus ochruros,I,4.000 – 6.000,h,<,o,,,,
20,Gartenrotschwanz *,Phoenicurus phoenicurus,I,4.000 – 5.000,h,<,zz,,,V,
21,Steinschmätzer *,Oennathe oenanthe,I,30 – 60,s,<,a\nD,2,2,1,1
22,Braunellen,Prunellidae,,,,,,,,,
23,Heckenbraunelle,Prunella modularis,I,200 – 300,mh,=,o,,,,
24,Sperlinge,Passeridae,,,,,,,,,
25,Haussperling,Passer domesticus,I,110.000 – 130.000,h,>,o,,,,V
26,Feldsperling *,Passer montanus,I,9.000 – 10.000,h,=,aa,,V,V,V

In [22]:
d[12][[6, 11]] = d[12][6].str.split(pat = '\n', n = 1, expand=True)
d[12]

,0,1,2,3,4,5,6,7,8,9,10,11
0,Art,wiss. Name,Status,BP/Rev.,Häufig-\nkeitsklasse,Trend \nlang,Trend,BE2013,BE2003,BB2008,D2007,Risik.\nkurz
1,Stare,Sturnidae,,,,,,,,,,None
2,Star,Sturnus vulgaris,I,16.000 – 32.000,h,=,a,,,,,None
3,Drosseln,Turdidae,,,,,,,,,,None
4,Misteldrossel *,Turdus viscivorus,I,8 – 15,s,=,zz,,R,,,None
5,Amsel,Turdus merula,I,34.000 – 74.000,h,>,o,,,,,None
6,Wacholderdrossel *,Turdus pilaris,I ex,"0 – 2, 2009: 2 Rev.",ex,,,0,0,,,None
7,Singdrossel,Turdus philomelos,I,2.000 – 2.500,h,=,o,,,,,None
8,Rotdrossel,Turdus iliacus,II,1994/95: 1 BP,nb,,,,,0,,None
9,Schnäpperverwandte,Muscicapidae,,,,,,,,,,None
10,Grauschnäpper *,Muscicapa striata,I,200 – 400,mh,<,o,V,V,,,None
11,Zwergschnäpper,Ficedual parva,I,1 – 15,ss,=,z,,,3,,None
12,Trauerschnäpper,Ficedula hypoleuca,I,700 – 1.500,h,=,aa,,,,,None
13,Braunkehlchen *,Saxicola rubetra,I,30 – 50,s,<,o,3,3,2,3,D
14,Schwarzkehlchen,Saxicola rubicola,I,40 – 50,s,>,zz,,,,V,None
15,Rotkehlchen,Erithacus rubecula,I,4.400 – 6.600,h,=,o,,,,,None
16,Sprosser,Luscinia luscinia,II,0 – 3,nb,,,,,,,None
17,Nachtigall,Luscinia megarhynchos,I,1.300 – 1.700,h,>,z,,,,,None
18,Blaukehlchen,Luscinia svecica,I ex,0 – 1,ex,,,0,0,3,V,None
19,Hausrotschwanz,Phoenicurus ochruros,I,4.000 – 6.000,h,<,o,,,,,None
20,Gartenrotschwanz *,Phoenicurus phoenicurus,I,4.000 – 5.000,h,<,zz,,,V,,None
21,Steinschmätzer *,Oennathe oenanthe,I,30 – 60,s,<,a,2,2,1,1,D
22,Braunellen,Prunellidae,,,,,,,,,,None
23,Heckenbraunelle,Prunella modularis,I,200 – 300,mh,=,o,,,,,None
24,Sperlinge,Passeridae,,,,,,,,,,None
25,Haussperling,Passer domesticus,I,110.000 – 130.000,h,>,o,,,,V,None
26,Feldsperling *,Passer montanus,I,9.000 – 10.000,h,=,aa,,V,V,V,None

In [23]:
d[12].columns = [0, 1, 2, 3, 4, 5,6,8,9,10,11,7]

In [24]:
d[12].sort_index(axis=1, inplace=True)

In [25]:
d[12]

,0,1,2,3,4,5,6,7,8,9,10,11
0,Art,wiss. Name,Status,BP/Rev.,Häufig-\nkeitsklasse,Trend \nlang,Trend,Risik.\nkurz,BE2013,BE2003,BB2008,D2007
1,Stare,Sturnidae,,,,,,None,,,,
2,Star,Sturnus vulgaris,I,16.000 – 32.000,h,=,a,None,,,,
3,Drosseln,Turdidae,,,,,,None,,,,
4,Misteldrossel *,Turdus viscivorus,I,8 – 15,s,=,zz,None,,R,,
5,Amsel,Turdus merula,I,34.000 – 74.000,h,>,o,None,,,,
6,Wacholderdrossel *,Turdus pilaris,I ex,"0 – 2, 2009: 2 Rev.",ex,,,None,0,0,,
7,Singdrossel,Turdus philomelos,I,2.000 – 2.500,h,=,o,None,,,,
8,Rotdrossel,Turdus iliacus,II,1994/95: 1 BP,nb,,,None,,,0,
9,Schnäpperverwandte,Muscicapidae,,,,,,None,,,,
10,Grauschnäpper *,Muscicapa striata,I,200 – 400,mh,<,o,None,V,V,,
11,Zwergschnäpper,Ficedual parva,I,1 – 15,ss,=,z,None,,,3,
12,Trauerschnäpper,Ficedula hypoleuca,I,700 – 1.500,h,=,aa,None,,,,
13,Braunkehlchen *,Saxicola rubetra,I,30 – 50,s,<,o,D,3,3,2,3
14,Schwarzkehlchen,Saxicola rubicola,I,40 – 50,s,>,zz,None,,,,V
15,Rotkehlchen,Erithacus rubecula,I,4.400 – 6.600,h,=,o,None,,,,
16,Sprosser,Luscinia luscinia,II,0 – 3,nb,,,None,,,,
17,Nachtigall,Luscinia megarhynchos,I,1.300 – 1.700,h,>,z,None,,,,
18,Blaukehlchen,Luscinia svecica,I ex,0 – 1,ex,,,None,0,0,3,V
19,Hausrotschwanz,Phoenicurus ochruros,I,4.000 – 6.000,h,<,o,None,,,,
20,Gartenrotschwanz *,Phoenicurus phoenicurus,I,4.000 – 5.000,h,<,zz,None,,,V,
21,Steinschmätzer *,Oennathe oenanthe,I,30 – 60,s,<,a,D,2,2,1,1
22,Braunellen,Prunellidae,,,,,,None,,,,
23,Heckenbraunelle,Prunella modularis,I,200 – 300,mh,=,o,None,,,,
24,Sperlinge,Passeridae,,,,,,None,,,,
25,Haussperling,Passer domesticus,I,110.000 – 130.000,h,>,o,None,,,,V
26,Feldsperling *,Passer montanus,I,9.000 – 10.000,h,=,aa,None,,V,V,V

d[67]       
    : Look at the data frame extracted from 67th page
d[67].shape 
    : Look at the shape of the dataframe
d[68] = d[68].drop([12], axis=1)
    : Drop the 12th column in place
d[68][10] = d[68][[10, 11]].agg(' '.join, axis=1)
    : Join 10th and 11th columns with a space in between
d[69][[9,11]] = d[69][9].str.split('\n', expand=True)
    : Split 9th Column at the '\n' sign and add a new column called 11
column_to_move = d[69].pop(11)
column_to_move
d[69].insert(9, 11, column_to_move )
    : Pop column 11 and insert it at column 9
d[75].insert(9, '10', ["",""])
    : Insert two rows of column 10 after 9 with empty cells

In [26]:
# Check whether all dataframes are of the same size
for key in d:
    print(key)
    print(d[key].shape)

5
(29, 12)
6
(28, 12)
7
(28, 12)
8
(28, 12)
9
(28, 12)
10
(28, 12)
11
(28, 12)
12
(27, 12)
13
(27, 12)

In [27]:
# Removing empty dataframes
# del d[64]
# del d[74]

In [28]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
d2 = OrderedDict(sorted(d.items()))

In [29]:
# Check whether the dictionary is sorted
for key in d2:
    print(key)

5
6
7
8
9
10
11
12
13

In [30]:
# Rename all the dataframes in the sorted dictionary
for key in d2:
    print(key)
    d2[key].columns = [ "Common_name",
    "Species",
    "Status", 
    "BP_Rev", 
    "Häufig_keitsklasse", 
    "Trend_lang",
    "Trend_kurz",
    "Risik",
    "BE2013",
    "BE2003",
    "BB2008",
    "D2007"]
print("Rename completed for concat")

5
6
7
8
9
10
11
12
13
Rename completed for concat

In [31]:
# Concatanate all the non-empty dataframes in the sorted dictionary into the empty df
for key in d2:
    df = pd.concat([df, d2[key]], axis = 0)
df

,Common_name,Species,Status,BP_Rev,Häufig_keitsklasse,Trend_lang,Trend_kurz,Risik,BE2013,BE2003,BB2008,D2007
0,,Tab. 2. Gesamtartenliste der Brutvögel Berlins...,,,,,,,,,,
1,"lin 2003 (BE2003), Brandenburg 2008 (BB2008) u...",,,,,,,,,,,
2,,"class, trends, risk factors and Red List categ...",,,,,,,,,,
3,Art,wiss. Name,Status,BP/Rev.,Häufig-\nkeitsklasse,Trend \nlang,Trend \nkurz,Risik.,BE2013,BE2003,BB2008,D2007
4,Entenvögel,Anatidae,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
22,Ammern,Emberizidae,,,,,,,,,,
23,Grauammer *,Emberiza calandra,I,40 – 60,s,<,zz,,V,3,,3
24,Goldammer,Emberiza citrinella,I,450 – 550,mh,<,zz,,,,,
25,Ortolan,Emberiza hortulana,I ex,erloschen,ex,,,,0,0,V,3
26,Rohrammer,Emberiza schoeniclus,I,180 – 220,mh,o,a,,,,,

In [32]:
# Definition of extinction
df2 = df.loc[df["BE2013"] == "0"]
df2.head()
df2.reset_index(inplace = True)
df2.head()
df2 = df2.drop(['index'], axis=1)
df2.head()

,Common_name,Species,Status,BP_Rev,Häufig_keitsklasse,Trend_lang,Trend_kurz,Risik,BE2013,BE2003,BB2008,D2007
0,Löffelente *,Anas clypeata,I ex,"0 – 1, 2012: 1 BP",ex,,,,0,1,2,3
1,Moorente,Aythya nyroca,I ex,erloschen,ex,,,,0,0,1,1
2,Gänsesäger,Mergus merganser,I ex,erloschen,ex,,,,0,0,2,2
3,Rebhuhn *,Perdix perdix,I ex,"erloschen, zuletzt: 1996",ex,,,,0,1,2,2
4,Birkhuhn,Tetrao terix,I ex,erloschen,ex,,,,0,0,1,2

In [33]:
df3 = df.loc[df["Status"] == "I ex"]
df3.reset_index(inplace = True)
df3 = df3.drop(['index'], axis=1)
df3.head()

,Common_name,Species,Status,BP_Rev,Häufig_keitsklasse,Trend_lang,Trend_kurz,Risik,BE2013,BE2003,BB2008,D2007
0,Löffelente *,Anas clypeata,I ex,"0 – 1, 2012: 1 BP",ex,,,,0,1,2,3
1,Moorente,Aythya nyroca,I ex,erloschen,ex,,,,0,0,1,1
2,Gänsesäger,Mergus merganser,I ex,erloschen,ex,,,,0,0,2,2
3,Rebhuhn *,Perdix perdix,I ex,"erloschen, zuletzt: 1996",ex,,,,0,1,2,2
4,Birkhuhn,Tetrao terix,I ex,erloschen,ex,,,,0,0,1,2

In [34]:
df2.describe()

,Common_name,Species,Status,BP_Rev,Häufig_keitsklasse,Trend_lang,Trend_kurz,Risik,BE2013,BE2003,BB2008,D2007
count,32,32,32,32,32,32,32,30,32,32,32,32
unique,32,32,1,8,1,1,1,1,1,2,6,6
top,Löffelente *,Anas clypeata,I ex,erloschen,ex,,,,0,0,1,2
freq,1,1,32,24,32,32,32,30,32,29,9,10

In [35]:
df3.describe()

,Common_name,Species,Status,BP_Rev,Häufig_keitsklasse,Trend_lang,Trend_kurz,Risik,BE2013,BE2003,BB2008,D2007
count,32,32,32,32,32,32,32,30,32,32,32,32
unique,32,32,1,8,1,1,1,1,1,2,6,6
top,Löffelente *,Anas clypeata,I ex,erloschen,ex,,,,0,0,1,2
freq,1,1,32,24,32,32,32,30,32,29,9,10

In [25]:
# Updated export location
# export the dataframe as CSV
df2.to_csv('../../Transformation/Raw_csv/Aves.csv', 
          index = False
         )