In [34]:
import camelot
import pandas as pd

# Updated Process

## 1. Create empty dataframe with proper column names

In [35]:
# This is where data will be added after cleaning. The final dataframe for export

In [36]:
df = pd.DataFrame(columns = [
    "Species",
    "BE", 
    "Bestand", 
    "Trend_lang",
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "GS",
    "GfU",
    "Common_name"
])
df

Empty DataFrame
Columns: [Species, BE, Bestand, Trend_lang, Trend_kurz, RF, BB, D, GS, GfU, Common_name]
Index: []

In [37]:
df.shape

(0, 11)

## 2. Setup mechanism to store accuracy report : QA step

In [38]:
accuracy = []

## 3. Dictionary of dataframes on the go

In [39]:
# Dictionary to collect dataframes created from each table
d = {}

## 4. Adding the list of pages to be parsed

In [40]:
pages = []
i = 9
while i < 13:
    pages.append(i)
    i = i + 1
print(pages)

[9, 10, 11, 12]

## 5. Parsing through the pages

In [41]:
'''
# Figuring out column edges
tables = camelot.read_pdf('rote_liste_roehrlinge_schmidt.pdf', 
                              pages= str(9),
                              flavor='stream', 
                              row_tol=10,
                         columns=['310, 360, 400, 447, 485, 505, 530, 560, 580,625'])
#accuracy.append(tables[0].parsing_report)
camelot.plot(tables[0], kind='textedge')
'''

"\n# Figuring out column edges\ntables = camelot.read_pdf('rote_liste_roehrlinge_schmidt.pdf', \n                              pages= str(9),\n                              flavor='stream', \n                              row_tol=10,\n                         columns=['310, 360, 400, 447, 485, 505, 530, 560, 580,625'])\n#accuracy.append(tables[0].parsing_report)\ncamelot.plot(tables[0], kind='textedge')\n"

In [42]:
for i in pages:
    # print page number
    print (i)
    # create dataframe with page number
    d[i] = pd.DataFrame()
    #read the page
    tables = camelot.read_pdf('rote_liste_roehrlinge_schmidt.pdf', 
                              pages= str(i), 
                              flavor='stream', 
                              #edge_tol=30, 
                              row_tol=10,
                              columns=['310, 360, 400, 447, 485, 505, 530, 560, 580,625']
                             )
    #tables = camelot.read_pdf('rote_liste_roehrlinge_schmidt.pdf', pages= str(i), flavor='lattice')
    # add the accuracy report
    accuracy.append(tables[0].parsing_report)
    # assign the first table to a dataframe
    d[i] = tables[0].df
    print(d[i].shape)
# Print Done once all pages are parsed
print ("Done")

9
(28, 11)
10
(28, 11)
11
(28, 11)
12
(15, 11)
Done

In [10]:
d[11]

,0,1,2,3,4,5,6,7,8,9
0,Wissenschaftlicher Name,BE,Bestand,Trend,Trend,BB \nRF,D,GS,GfU,Deutscher Name
1,,,,lang,kurz,,,,,
2,Pseudoboletus parasiticus (BULL.) ŠUTARA 1991,3,ss,=,(cid:114)(cid:114),=,G,,,Schmarotzerröhrling
3,Pseudomerulius aureus (FR.) JÜLICH 1979,D,ss,?,?,=,*,,,Goldgelber Fältling
4,Rhizopogon obtextus (SPRENG.) RAUSCHERT 1984,*,s,=,=,=,V,,,Gelbliche Wurzeltrüffel
5,Rhizopogon roseolus (FR. : Fr.) TH. FR. 1909,R,es,?,?,=,V,,,Rötliche Wurzeltrüffel
6,Rhizopogon vulgaris (VITTAD.) M. LANGE 1956,*,ss,?,=,=,D,,,Gewöhnliche Wurzeltrüffel
7,Scleroderma areolatum EHRENB. 1818,*,h,=,=,=,*,,,Leopardenfell-Hartbovist
8,Scleroderma bovista FR. 1829,*,h,=,=,=,*,,,Gelbflockiger Hartbovist
9,Scleroderma citrinum PERS. 1801,*,sh,=,=,=,*,,,Dickschaliger Kartoffelbovist
10,Scleroderma verrucosum (BULL. : PERS.) PERS. 1801,*,h,=,=,=,*,,,Braunwarziger Hartbovist
11,Serpula himantioides (FR. : FR.) P. KARST. 1885,*,h,=,=,=,*,,,Wilder Hausschwamm
12,Serpula lacrymans (WULFEN) J. SCHRÖT. 1885*,V,s,=,(cid:114)(cid:114),=,*,,2c,Echter Hausschwamm
13,Suillus amabilis (PECK) SINGER 1966*,*,ss,?,(cid:6),= \nR,R,,,Douglasien-Röhrling
14,Suillus bovinus (L. : FR.) ROUSSEL 1898,V,s,=,(cid:114)(cid:114),=,*,,"9c, 10b",Kuhröhrling
15,Suillus collinitus (FR.) KUNTZE 1898,*,s,=,=,= \nR,*,,,Ringloser Butterpilz
16,Suillus flavidus (FR. : Fr.) J. PRESL 1846*,1,es,(<),(cid:114)(cid:114)(cid:114),= \n1,G,,14a,Moor-Röhrling
17,Suillus granulatus (L. : Fr.) ROUSSEL 1796,*,mh,=,=,=,*,,,Körnchenröhrling
18,Suillus grevillei (KLOTZSCH) SINGER 1945,*,h,=,=,=,*,,,Goldröhrling
19,Suillus luteus (L. : Fr.) ROUSSEL 1796,*,h,=,=,=,*,,,Butterpilz
20,Suillus pictus (PECK) A.H. SM. & THIERS 1964,*,ss,?,=,=,R,,,
21,Suillus variegatus (SW. : Fr.) RICHON & ROZE 1...,3,s,=,(cid:114)(cid:114)(cid:114),=,*,,"9c, 10b",Sandröhrling
22,Suillus viscidus (L.) ROUSSEL 1796,*,s,=,=,= \nR,*,,,Grauer Lärchenröhrling
23,Tapinella atrotomentosa (BATSCH) ŠUTARA 1992,*,h,=,=,=,*,,,Samtfußkrempling
24,Tapinella panuoides (BATSCH) E.-J. GILBERT 1931,*,h,=,=,=,*,,,Muschelkrempling
25,Tapinella panuoides var. ionipus (QUÉL.) C. HA...,♦,nb,,,,D,,,
26,Tylopilus felleus (BULL. : FR.) P. KARST. 1881,*,mh,?,=,=,*,,,Gallenröhrling
27,Xerocomellus bubalinus (OOLBEKK. & DUIN) MIKŠÍ...,*,s,?,=,=,D,,,Blassgelber Filzröhrling

In [43]:
d[11]

,0,1,2,3,4,5,6,7,8,9,10
0,Wissenschaftlicher Name,BE,Bestand,Trend,Trend,RF,BB,D,GS,GfU,Deutscher Name
1,,,,lang,kurz,,,,,,
2,Pseudoboletus parasiticus (BULL.) ŠUTARA 1991,3,ss,=,(cid:114)(cid:114),=,,G,,,Schmarotzerröhrling
3,Pseudomerulius aureus (FR.) JÜLICH 1979,D,ss,?,?,=,,*,,,Goldgelber Fältling
4,Rhizopogon obtextus (SPRENG.) RAUSCHERT 1984,*,s,=,=,=,,V,,,Gelbliche Wurzeltrüffel
5,Rhizopogon roseolus (FR. : Fr.) TH. FR. 1909,R,es,?,?,=,,V,,,Rötliche Wurzeltrüffel
6,Rhizopogon vulgaris (VITTAD.) M. LANGE 1956,*,ss,?,=,=,,D,,,Gewöhnliche Wurzeltrüffel
7,Scleroderma areolatum EHRENB. 1818,*,h,=,=,=,,*,,,Leopardenfell-Hartbovist
8,Scleroderma bovista FR. 1829,*,h,=,=,=,,*,,,Gelbflockiger Hartbovist
9,Scleroderma citrinum PERS. 1801,*,sh,=,=,=,,*,,,Dickschaliger Kartoffelbovist
10,Scleroderma verrucosum (BULL. : PERS.) PERS. 1801,*,h,=,=,=,,*,,,Braunwarziger Hartbovist
11,Serpula himantioides (FR. : FR.) P. KARST. 1885,*,h,=,=,=,,*,,,Wilder Hausschwamm
12,Serpula lacrymans (WULFEN) J. SCHRÖT. 1885*,V,s,=,(cid:114)(cid:114),=,,*,,2c,Echter Hausschwamm
13,Suillus amabilis (PECK) SINGER 1966*,*,ss,?,(cid:6),=,R,R,,,Douglasien-Röhrling
14,Suillus bovinus (L. : FR.) ROUSSEL 1898,V,s,=,(cid:114)(cid:114),=,,*,,"9c, 10b",Kuhröhrling
15,Suillus collinitus (FR.) KUNTZE 1898,*,s,=,=,=,R,*,,,Ringloser Butterpilz
16,Suillus flavidus (FR. : Fr.) J. PRESL 1846*,1,es,(<),(cid:114)(cid:114)(cid:114),=,1,G,,14a,Moor-Röhrling
17,Suillus granulatus (L. : Fr.) ROUSSEL 1796,*,mh,=,=,=,,*,,,Körnchenröhrling
18,Suillus grevillei (KLOTZSCH) SINGER 1945,*,h,=,=,=,,*,,,Goldröhrling
19,Suillus luteus (L. : Fr.) ROUSSEL 1796,*,h,=,=,=,,*,,,Butterpilz
20,Suillus pictus (PECK) A.H. SM. & THIERS 1964,*,ss,?,=,=,,R,,,
21,Suillus variegatus (SW. : Fr.) RICHON & ROZE 1...,3,s,=,(cid:114)(cid:114)(cid:114),=,,*,,"9c, 10b",Sandröhrling
22,Suillus viscidus (L.) ROUSSEL 1796,*,s,=,=,=,R,*,,,Grauer Lärchenröhrling
23,Tapinella atrotomentosa (BATSCH) ŠUTARA 1992,*,h,=,=,=,,*,,,Samtfußkrempling
24,Tapinella panuoides (BATSCH) E.-J. GILBERT 1931,*,h,=,=,=,,*,,,Muschelkrempling
25,Tapinella panuoides var. ionipus (QUÉL.) C. HA...,♦,nb,,,,,D,,,
26,Tylopilus felleus (BULL. : FR.) P. KARST. 1881,*,mh,?,=,=,,*,,,Gallenröhrling
27,Xerocomellus bubalinus (OOLBEKK. & DUIN) MIKŠÍ...,*,s,?,=,=,,D,,,Blassgelber Filzröhrling

In [ ]:
# Check accuracy reports for the process
accuracy

# Data cleanup steps

d[67]       
    : Look at the data frame extracted from 67th page
d[67].shape 
    : Look at the shape of the dataframe
d[68] = d[68].drop([12], axis=1)
    : Drop the 12th column in place
d[68][10] = d[68][[10, 11]].agg(' '.join, axis=1)
    : Join 10th and 11th columns with a space in between
d[69][[9,11]] = d[69][9].str.split('\n', expand=True)
    : Split 9th Column at the '\n' sign and add a new column called 11
column_to_move = d[69].pop(11)
column_to_move
d[69].insert(9, 11, column_to_move )
    : Pop column 11 and insert it at column 9
d[75].insert(9, '10', ["",""])
    : Insert two rows of column 10 after 9 with empty cells

In [44]:
# Check whether all dataframes are of the same size
for key in d:
    print(key)
    print(d[key].shape)

9
(28, 11)
10
(28, 11)
11
(28, 11)
12
(15, 11)

In [45]:
# Removing empty dataframes
# del d[64]
# del d[74]

In [46]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
d2 = OrderedDict(sorted(d.items()))

In [47]:
# Check whether the dictionary is sorted
for key in d2:
    print(key)

9
10
11
12

In [48]:
# Rename all the dataframes in the sorted dictionary
for key in d2:
    print(key)
    d2[key].columns = [  "Species",
    "BE", 
    "Bestand", 
    "Trend_lang",
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "GS",
    "GfU",
    "Common_name"]
print("Rename completed for concat")

9
10
11
12
Rename completed for concat

In [49]:
# Concatanate all the non-empty dataframes in the sorted dictionary into the empty df
for key in d2:
    df = pd.concat([df, d2[key]], axis = 0)
df

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Common_name
0,Tabelle 2: Rote Liste und Gesamtartenliste der...,,,,,,,,,,
1,Wissenschaftlicher Name,BE,Bestand,Trend,Trend,RF,BB,D,GS,GfU,Deutscher Name
2,,,,lang,kurz,,,,,,
3,Astraeus hygrometricus (PERS.) MORGAN 1889*,2,ss,=,(cid:114)(cid:114)(cid:114),=,3,*,,,Wetterstern
4,Boletus appendiculatus SCHAEFF. : FR. 1763,R,es,?,?,=,1,3,§,,Gelber Bronzeröhrling
...,...,...,...,...,...,...,...,...,...,...,...
10,Xerocomellus ripariellus (REDEUILH) ŠUTARA 2008,R,es,?,?,=,,D,,,
11,Xerocomellus rubellus (KROMBH.) ŠUTARA 2008,*,h,=,=,=,,*,,,Blutroter Röhrling
12,Xerocomus badius (FR.) E.-J. GILBERT 1931,*,h,=,=,=,,*,,,Maronenröhrling
13,Xerocomus ferrugineus (SCHAEFF.) BON 1985,*,ss,?,=,=,,*,,,Rostbrauner Filzröhrling
14,Xerocomus subtomentosus (L.) QUÉL. 1888,*,h,=,=,=,3,*,,,Ziegenlippe

In [51]:
# Definition of extinction
df2 = df.loc[df["BE"] == "0"]
df2.reset_index(inplace = True)
df2 = df2.drop(['index'], axis=1)
df2.head()

Empty DataFrame
Columns: [Species, BE, Bestand, Trend_lang, Trend_kurz, RF, BB, D, GS, GfU, Common_name]
Index: []

In [52]:
df3 = df.loc[df["Bestand"] == "ex"]
df3.reset_index(inplace = True)
df3 = df3.drop(['index'], axis=1)
df3.head()

Empty DataFrame
Columns: [Species, BE, Bestand, Trend_lang, Trend_kurz, RF, BB, D, GS, GfU, Common_name]
Index: []

In [53]:
df2.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Common_name
count,0,0,0,0,0,0,0,0,0,0,0
unique,0,0,0,0,0,0,0,0,0,0,0
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df3.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Common_name
count,0,0,0,0,0,0,0,0,0,0,0
unique,0,0,0,0,0,0,0,0,0,0,0
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df.BE.unique()

array(['', 'BE', '2', 'R', '1', '*', '♦', 'G', '3', 'D', 'V'],
      dtype=object)

In [57]:
df.Bestand.unique()

array(['', 'Bestand', 'ss', 'es', 'h', 'mh', 's', 'nb', 'sh'],
      dtype=object)

In [ ]:
# export the dataframe as CSV
df2.to_csv('Group_name.csv', index=False)