In [1]:
import pandas as pd
import numpy as np

# 01.  Chrysomelidae_ Megalopodidae_Blattkäfer.csv

In [2]:
# Read file into dataframe

df = pd.read_csv('Chrysomelidae_ Megalopodidae_Blattkäfer.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Letzter_Nachweis,Quelle
0,"Donacia brevicornis AHRENS, 1810",0,ex,NaN,NaN,NaN,NaN,2,"1c, 2d, 3b, 11c,",vor 1907,REINECK (1907)
1,"Donacia dentata HOPPE, 1795",0,ex,NaN,NaN,NaN,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,"Donacia obscura GYLLENHAL, 1813",0,ex,NaN,NaN,NaN,2,1,"1c, 2d, 8b, 11c,",vor 1907,REINECK (1907)
3,"Donacia thalassina thalassina GERMAR, 1811",0,ex,NaN,NaN,NaN,p,V,"1c, 2d, 11c, 14a,",vor 1950,MOHR (1985)
4,"Donacia tomentosa AHRENS, 1810",0,ex,NaN,NaN,NaN,0,1,"1c, 2d, 11c, 14a,",1943,CHRYFAUN

In [3]:
df.describe(include = 'all')

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Letzter_Nachweis,Quelle
count,32,32.0,32,0.0,0.0,0.0,17,32,32,32,32
unique,32,NaN,1,NaN,NaN,NaN,5,7,27,20,20
top,"Donacia brevicornis AHRENS, 1810",NaN,ex,NaN,NaN,NaN,0,3,14a,vor 1950,CHRYFAUN
freq,1,NaN,32,NaN,NaN,NaN,6,10,3,9,6
mean,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.Trend_lang.isna().sum()

32

In [5]:
df.Trend_kurz.isna().sum()

32

In [7]:
# dropping Trend_kurz and Trend_lang columns

df.drop(columns = ["Trend_kurz", "Trend_lang"], inplace = True)

KeyError: "['Trend_kurz', 'Trend_lang'] not found in axis"

In [8]:
df.describe(include = 'all')

,Species,BE,Bestand,RF,BB,D,GfU,Letzter_Nachweis,Quelle
count,32,32.0,32,0.0,17,32,32,32,32
unique,32,NaN,1,NaN,5,7,27,20,20
top,"Donacia brevicornis AHRENS, 1810",NaN,ex,NaN,0,3,14a,vor 1950,CHRYFAUN
freq,1,NaN,32,NaN,6,10,3,9,6
mean,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.RF.isna().sum()

32

In [10]:
# Dropping RF Column
df.drop(columns = "RF", inplace = True)

In [11]:
df.head()

,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle
0,"Donacia brevicornis AHRENS, 1810",0,ex,NaN,2,"1c, 2d, 3b, 11c,",vor 1907,REINECK (1907)
1,"Donacia dentata HOPPE, 1795",0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,"Donacia obscura GYLLENHAL, 1813",0,ex,2,1,"1c, 2d, 8b, 11c,",vor 1907,REINECK (1907)
3,"Donacia thalassina thalassina GERMAR, 1811",0,ex,p,V,"1c, 2d, 11c, 14a,",vor 1950,MOHR (1985)
4,"Donacia tomentosa AHRENS, 1810",0,ex,0,1,"1c, 2d, 11c, 14a,",1943,CHRYFAUN

In [12]:
df

,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle
0,"Donacia brevicornis AHRENS, 1810",0,ex,NaN,2,"1c, 2d, 3b, 11c,",vor 1907,REINECK (1907)
1,"Donacia dentata HOPPE, 1795",0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,"Donacia obscura GYLLENHAL, 1813",0,ex,2,1,"1c, 2d, 8b, 11c,",vor 1907,REINECK (1907)
3,"Donacia thalassina thalassina GERMAR, 1811",0,ex,p,V,"1c, 2d, 11c, 14a,",vor 1950,MOHR (1985)
4,"Donacia tomentosa AHRENS, 1810",0,ex,0,1,"1c, 2d, 11c, 14a,",1943,CHRYFAUN
5,"Macroplea appendiculata (PANZER, 1794)",0,ex,NaN,1,"1c, 3b, 11c, 14a",vor 1907,REINECK (1907)
6,"Lilioceris merdigera (LINNÉ, 1758)",0,ex,NaN,*,1a,vor 1913,REINECK (1913)
7,"Labidostomis humeralis (D. H. SCHNEIDER, 1792)",0,ex,NaN,2,"12b, 14a",1897,SCHILSKY (1897)
8,"Labidostomis tridentata (LINNÉ, 1758)",0,ex,3,3,"9d, 14a",1949,coll. G. Lauterbach in FU
9,"Cryptocephalus bipunctatus (LINNÉ, 1758)",0,ex,NaN,*,"1a, 14a",vor 1950,MOHR (1977)
10,"Cryptocephalus chrysopus GMELIN, 1788",0,ex,NaN,3,"1a, 14a",vor 1950,coll. P. Delahon
11,"Cryptocephalus coryli (LINNÉ, 1758)",0,ex,3,3,14a,1906,DELAHON (1927)
12,"Cryptocephalus decemmaculatus (LINNÉ, 1758)",0,ex,NaN,3,"2d, 8b, 14a",1948,CHRYFAUN
13,"Cryptocephalus hypochaeridis (LINNÉ, 1758)",0,ex,NaN,*,"8a, 14a",1946,CHRYFAUN
14,"Cryptocephalus janthinus GERMAR, 1824",0,ex,0,1,"6a, 8c",2008,JE
15,"Cryptocephalus laetus FABRICIUS, 1792",0,ex,0,0,"2a, 8a, 14a",vor 1900,WEISE (1872)
16,"Cryptocephalus octopunctatus (SCOPOLI, 1763)",0,ex,2,2,"1a, 2d, 14a",vor 1950,"coll. J. Neresheimer, MOHR"
17,"Cryptocephalus pini (LINNÉ, 1758)",0,ex,1,*,9d,vor 1950,MOHR (1977)
18,"Cryptocephalus quadripustulatus GYLLENHAL,",0,ex,1,D,"9a, 4c",vor 1950,coll. G. Reineck in coll. SMF
19,"Cryptocephalus querceti SUFFRIAN, 1848",0,ex,1,2,14a,1885,WEISE (1885)
20,"Pachybrachis hieroglyphicus (LAICHARTING, 1781)",0,ex,0,3,"5b, 14a",1885,WEISE (1885)
21,"Oomorphus concolor (STURM, 1807)",0,ex,0,*,14a,vor 1920,"coll. G. Kraatz (SDEI), Mohr"
22,"Chrysolina cerealis (LINNÉ, 1767)",0,ex,0,3,"1a, 7a, 14a",vor 1950,MOHR (1977)
23,"Prasocuris glabra (HERBST, 1783)*",0,ex,2,*,"1c, 2d, 6a, 14a",1960,CHRYFAUN
24,"Prasocuris hannoveriana (FABRICIUS, 1775)",0,ex,3,3,"2d, 5b, 6a, 14a,",vor 1918,NERESHEIMER & WAGNER
25,"Galeruca melanocephala PONZA, 1805",0,ex,NaN,1,"2d, 5b, 14a",1928,CHRYFAUN
26,"Chaetocnema confusa (BOHEMANN, 1851)",0,ex,NaN,3,"2d, 8b, 14a",1907,REINECK (1907)
27,"Dibolia schillingi LETZNER, 1846",0,ex,NaN,3,"1a, 7a, 14a",1942,coll. M. Döberl
28,"Longitarsus nigerrimus (GYLLENHAL, 1827)*",0,ex,NaN,1,"2d, 8b, 11c, 14a,",1958,KORGE (1963)
29,"Bruchidius cisti (FABRICIUS, 1775)*",0,ex,NaN,3,"1a, 7a, 14g",vor 1950,WENDT (1986)
30,"Bruchus pisorum (LINNÉ, 1758)",0,ex,NaN,1,"4c, 14e",1949,"WENDT (1986), CHRYFAUN,"
31,"Bruchus rufimanus BOHEMANN, 1833",0,ex,NaN,*,?,vor 1950,WENDT (1986)

In [13]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df.Species = df1[0].str.cat(df1[1], sep = " ")

In [14]:
df

,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle
0,Donacia brevicornis,0,ex,NaN,2,"1c, 2d, 3b, 11c,",vor 1907,REINECK (1907)
1,Donacia dentata,0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,Donacia obscura,0,ex,2,1,"1c, 2d, 8b, 11c,",vor 1907,REINECK (1907)
3,Donacia thalassina,0,ex,p,V,"1c, 2d, 11c, 14a,",vor 1950,MOHR (1985)
4,Donacia tomentosa,0,ex,0,1,"1c, 2d, 11c, 14a,",1943,CHRYFAUN
5,Macroplea appendiculata,0,ex,NaN,1,"1c, 3b, 11c, 14a",vor 1907,REINECK (1907)
6,Lilioceris merdigera,0,ex,NaN,*,1a,vor 1913,REINECK (1913)
7,Labidostomis humeralis,0,ex,NaN,2,"12b, 14a",1897,SCHILSKY (1897)
8,Labidostomis tridentata,0,ex,3,3,"9d, 14a",1949,coll. G. Lauterbach in FU
9,Cryptocephalus bipunctatus,0,ex,NaN,*,"1a, 14a",vor 1950,MOHR (1977)
10,Cryptocephalus chrysopus,0,ex,NaN,3,"1a, 14a",vor 1950,coll. P. Delahon
11,Cryptocephalus coryli,0,ex,3,3,14a,1906,DELAHON (1927)
12,Cryptocephalus decemmaculatus,0,ex,NaN,3,"2d, 8b, 14a",1948,CHRYFAUN
13,Cryptocephalus hypochaeridis,0,ex,NaN,*,"8a, 14a",1946,CHRYFAUN
14,Cryptocephalus janthinus,0,ex,0,1,"6a, 8c",2008,JE
15,Cryptocephalus laetus,0,ex,0,0,"2a, 8a, 14a",vor 1900,WEISE (1872)
16,Cryptocephalus octopunctatus,0,ex,2,2,"1a, 2d, 14a",vor 1950,"coll. J. Neresheimer, MOHR"
17,Cryptocephalus pini,0,ex,1,*,9d,vor 1950,MOHR (1977)
18,Cryptocephalus quadripustulatus,0,ex,1,D,"9a, 4c",vor 1950,coll. G. Reineck in coll. SMF
19,Cryptocephalus querceti,0,ex,1,2,14a,1885,WEISE (1885)
20,Pachybrachis hieroglyphicus,0,ex,0,3,"5b, 14a",1885,WEISE (1885)
21,Oomorphus concolor,0,ex,0,*,14a,vor 1920,"coll. G. Kraatz (SDEI), Mohr"
22,Chrysolina cerealis,0,ex,0,3,"1a, 7a, 14a",vor 1950,MOHR (1977)
23,Prasocuris glabra,0,ex,2,*,"1c, 2d, 6a, 14a",1960,CHRYFAUN
24,Prasocuris hannoveriana,0,ex,3,3,"2d, 5b, 6a, 14a,",vor 1918,NERESHEIMER & WAGNER
25,Galeruca melanocephala,0,ex,NaN,1,"2d, 5b, 14a",1928,CHRYFAUN
26,Chaetocnema confusa,0,ex,NaN,3,"2d, 8b, 14a",1907,REINECK (1907)
27,Dibolia schillingi,0,ex,NaN,3,"1a, 7a, 14a",1942,coll. M. Döberl
28,Longitarsus nigerrimus,0,ex,NaN,1,"2d, 8b, 11c, 14a,",1958,KORGE (1963)
29,Bruchidius cisti,0,ex,NaN,3,"1a, 7a, 14g",vor 1950,WENDT (1986)
30,Bruchus pisorum,0,ex,NaN,1,"4c, 14e",1949,"WENDT (1986), CHRYFAUN,"
31,Bruchus rufimanus,0,ex,NaN,*,?,vor 1950,WENDT (1986)

In [15]:
# Manually editing cells that were extracted incorrectly/partially
df.at[0,"GfU"]= "1c, 2d, 3b, 11c, 14a, 14g"
df.head()

,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle
0,Donacia brevicornis,0,ex,NaN,2,"1c, 2d, 3b, 11c, 14a, 14g",vor 1907,REINECK (1907)
1,Donacia dentata,0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,Donacia obscura,0,ex,2,1,"1c, 2d, 8b, 11c,",vor 1907,REINECK (1907)
3,Donacia thalassina,0,ex,p,V,"1c, 2d, 11c, 14a,",vor 1950,MOHR (1985)
4,Donacia tomentosa,0,ex,0,1,"1c, 2d, 11c, 14a,",1943,CHRYFAUN

In [16]:
df.at[2,"GfU"]= "1c, 2d, 8b, 11c, 14a"
df.at[3,"GfU"]= "1c, 2d, 11c, 14a, 14g"
df.at[4,"GfU"]= "1c, 2d, 11c, 14a, 14g"
df

,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle
0,Donacia brevicornis,0,ex,NaN,2,"1c, 2d, 3b, 11c, 14a, 14g",vor 1907,REINECK (1907)
1,Donacia dentata,0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,Donacia obscura,0,ex,2,1,"1c, 2d, 8b, 11c, 14a",vor 1907,REINECK (1907)
3,Donacia thalassina,0,ex,p,V,"1c, 2d, 11c, 14a, 14g",vor 1950,MOHR (1985)
4,Donacia tomentosa,0,ex,0,1,"1c, 2d, 11c, 14a, 14g",1943,CHRYFAUN
5,Macroplea appendiculata,0,ex,NaN,1,"1c, 3b, 11c, 14a",vor 1907,REINECK (1907)
6,Lilioceris merdigera,0,ex,NaN,*,1a,vor 1913,REINECK (1913)
7,Labidostomis humeralis,0,ex,NaN,2,"12b, 14a",1897,SCHILSKY (1897)
8,Labidostomis tridentata,0,ex,3,3,"9d, 14a",1949,coll. G. Lauterbach in FU
9,Cryptocephalus bipunctatus,0,ex,NaN,*,"1a, 14a",vor 1950,MOHR (1977)
10,Cryptocephalus chrysopus,0,ex,NaN,3,"1a, 14a",vor 1950,coll. P. Delahon
11,Cryptocephalus coryli,0,ex,3,3,14a,1906,DELAHON (1927)
12,Cryptocephalus decemmaculatus,0,ex,NaN,3,"2d, 8b, 14a",1948,CHRYFAUN
13,Cryptocephalus hypochaeridis,0,ex,NaN,*,"8a, 14a",1946,CHRYFAUN
14,Cryptocephalus janthinus,0,ex,0,1,"6a, 8c",2008,JE
15,Cryptocephalus laetus,0,ex,0,0,"2a, 8a, 14a",vor 1900,WEISE (1872)
16,Cryptocephalus octopunctatus,0,ex,2,2,"1a, 2d, 14a",vor 1950,"coll. J. Neresheimer, MOHR"
17,Cryptocephalus pini,0,ex,1,*,9d,vor 1950,MOHR (1977)
18,Cryptocephalus quadripustulatus,0,ex,1,D,"9a, 4c",vor 1950,coll. G. Reineck in coll. SMF
19,Cryptocephalus querceti,0,ex,1,2,14a,1885,WEISE (1885)
20,Pachybrachis hieroglyphicus,0,ex,0,3,"5b, 14a",1885,WEISE (1885)
21,Oomorphus concolor,0,ex,0,*,14a,vor 1920,"coll. G. Kraatz (SDEI), Mohr"
22,Chrysolina cerealis,0,ex,0,3,"1a, 7a, 14a",vor 1950,MOHR (1977)
23,Prasocuris glabra,0,ex,2,*,"1c, 2d, 6a, 14a",1960,CHRYFAUN
24,Prasocuris hannoveriana,0,ex,3,3,"2d, 5b, 6a, 14a,",vor 1918,NERESHEIMER & WAGNER
25,Galeruca melanocephala,0,ex,NaN,1,"2d, 5b, 14a",1928,CHRYFAUN
26,Chaetocnema confusa,0,ex,NaN,3,"2d, 8b, 14a",1907,REINECK (1907)
27,Dibolia schillingi,0,ex,NaN,3,"1a, 7a, 14a",1942,coll. M. Döberl
28,Longitarsus nigerrimus,0,ex,NaN,1,"2d, 8b, 11c, 14a,",1958,KORGE (1963)
29,Bruchidius cisti,0,ex,NaN,3,"1a, 7a, 14g",vor 1950,WENDT (1986)
30,Bruchus pisorum,0,ex,NaN,1,"4c, 14e",1949,"WENDT (1986), CHRYFAUN,"
31,Bruchus rufimanus,0,ex,NaN,*,?,vor 1950,WENDT (1986)

In [17]:
df.at[24,"GfU"]= "2d, 5b, 6a, 14a, 14g"
df.at[28,"GfU"]= "2d, 8b, 11c, 14a, 14g"

In [18]:
df.at[8,"Quelle"]= "coll. G. Lauterbach in FU Berlin"
df.at[16,"Quelle"]= "coll. J. Neresheimer, MOHR (1977)"
df.at[21,"Quelle"]= "coll. G. Kraatz (SDEI), Mohr & Arnold in litteris"
df.at[24,"Quelle"]= "NERESHEIMER & WAGNER (1917)"
df.at[30,"Quelle"]= "WENDT (1986), CHRYFAUN, SMF"

In [19]:
df

,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle
0,Donacia brevicornis,0,ex,NaN,2,"1c, 2d, 3b, 11c, 14a, 14g",vor 1907,REINECK (1907)
1,Donacia dentata,0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,Donacia obscura,0,ex,2,1,"1c, 2d, 8b, 11c, 14a",vor 1907,REINECK (1907)
3,Donacia thalassina,0,ex,p,V,"1c, 2d, 11c, 14a, 14g",vor 1950,MOHR (1985)
4,Donacia tomentosa,0,ex,0,1,"1c, 2d, 11c, 14a, 14g",1943,CHRYFAUN
5,Macroplea appendiculata,0,ex,NaN,1,"1c, 3b, 11c, 14a",vor 1907,REINECK (1907)
6,Lilioceris merdigera,0,ex,NaN,*,1a,vor 1913,REINECK (1913)
7,Labidostomis humeralis,0,ex,NaN,2,"12b, 14a",1897,SCHILSKY (1897)
8,Labidostomis tridentata,0,ex,3,3,"9d, 14a",1949,coll. G. Lauterbach in FU Berlin
9,Cryptocephalus bipunctatus,0,ex,NaN,*,"1a, 14a",vor 1950,MOHR (1977)
10,Cryptocephalus chrysopus,0,ex,NaN,3,"1a, 14a",vor 1950,coll. P. Delahon
11,Cryptocephalus coryli,0,ex,3,3,14a,1906,DELAHON (1927)
12,Cryptocephalus decemmaculatus,0,ex,NaN,3,"2d, 8b, 14a",1948,CHRYFAUN
13,Cryptocephalus hypochaeridis,0,ex,NaN,*,"8a, 14a",1946,CHRYFAUN
14,Cryptocephalus janthinus,0,ex,0,1,"6a, 8c",2008,JE
15,Cryptocephalus laetus,0,ex,0,0,"2a, 8a, 14a",vor 1900,WEISE (1872)
16,Cryptocephalus octopunctatus,0,ex,2,2,"1a, 2d, 14a",vor 1950,"coll. J. Neresheimer, MOHR (1977)"
17,Cryptocephalus pini,0,ex,1,*,9d,vor 1950,MOHR (1977)
18,Cryptocephalus quadripustulatus,0,ex,1,D,"9a, 4c",vor 1950,coll. G. Reineck in coll. SMF
19,Cryptocephalus querceti,0,ex,1,2,14a,1885,WEISE (1885)
20,Pachybrachis hieroglyphicus,0,ex,0,3,"5b, 14a",1885,WEISE (1885)
21,Oomorphus concolor,0,ex,0,*,14a,vor 1920,"coll. G. Kraatz (SDEI), Mohr & Arnold in litteris"
22,Chrysolina cerealis,0,ex,0,3,"1a, 7a, 14a",vor 1950,MOHR (1977)
23,Prasocuris glabra,0,ex,2,*,"1c, 2d, 6a, 14a",1960,CHRYFAUN
24,Prasocuris hannoveriana,0,ex,3,3,"2d, 5b, 6a, 14a, 14g",vor 1918,NERESHEIMER & WAGNER (1917)
25,Galeruca melanocephala,0,ex,NaN,1,"2d, 5b, 14a",1928,CHRYFAUN
26,Chaetocnema confusa,0,ex,NaN,3,"2d, 8b, 14a",1907,REINECK (1907)
27,Dibolia schillingi,0,ex,NaN,3,"1a, 7a, 14a",1942,coll. M. Döberl
28,Longitarsus nigerrimus,0,ex,NaN,1,"2d, 8b, 11c, 14a, 14g",1958,KORGE (1963)
29,Bruchidius cisti,0,ex,NaN,3,"1a, 7a, 14g",vor 1950,WENDT (1986)
30,Bruchus pisorum,0,ex,NaN,1,"4c, 14e",1949,"WENDT (1986), CHRYFAUN, SMF"
31,Bruchus rufimanus,0,ex,NaN,*,?,vor 1950,WENDT (1986)

In [20]:
# Adding aditional information columns from the source

In [21]:
# Adding the Family and SubFamily columns

In [22]:
#df = df.reindex(columns = ["Family", "Sub_family"] + df.columns.tolist())

In [23]:
i = 0;
while i < 32:
    df.at[i,"Family"] = "Chrysomelidae"
    if i < 6:
        df.at[i,"Sub_family"] = "Donaciinae"
    elif i == 6:
        df.at[i,"Sub_family"] = "Criocerinae"
    elif (i == 7) | (i == 8):
        df.at[i,"Sub_family"] = "Cryptocephalinae – Clytrini" 
    elif ((i > 8) & (i < 21)):
        df.at[i,"Sub_family"] = "Cryptocephalinae – Cryptocephalini"
    elif (i == 21):
        df.at[i,"Sub_family"] = "Lamprosomatinae"
    elif ((i > 21) & (i < 25)):
        df.at[i,"Sub_family"] = "Chrysomelinae"
    elif (i == 25):
        df.at[i,"Sub_family"] = "Galerucinae – Galerucini"
    elif ((i > 25) & (i < 28)):
        df.at[i,"Sub_family"] = "Galerucinae – Alticini"
    elif ((i > 27)):
        df.at[i,"Sub_family"] = "Bruchinae"
    i = i + 1
df

,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle,Family,Sub_family
0,Donacia brevicornis,0,ex,NaN,2,"1c, 2d, 3b, 11c, 14a, 14g",vor 1907,REINECK (1907),Chrysomelidae,Donaciinae
1,Donacia dentata,0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN,Chrysomelidae,Donaciinae
2,Donacia obscura,0,ex,2,1,"1c, 2d, 8b, 11c, 14a",vor 1907,REINECK (1907),Chrysomelidae,Donaciinae
3,Donacia thalassina,0,ex,p,V,"1c, 2d, 11c, 14a, 14g",vor 1950,MOHR (1985),Chrysomelidae,Donaciinae
4,Donacia tomentosa,0,ex,0,1,"1c, 2d, 11c, 14a, 14g",1943,CHRYFAUN,Chrysomelidae,Donaciinae
5,Macroplea appendiculata,0,ex,NaN,1,"1c, 3b, 11c, 14a",vor 1907,REINECK (1907),Chrysomelidae,Donaciinae
6,Lilioceris merdigera,0,ex,NaN,*,1a,vor 1913,REINECK (1913),Chrysomelidae,Criocerinae
7,Labidostomis humeralis,0,ex,NaN,2,"12b, 14a",1897,SCHILSKY (1897),Chrysomelidae,Cryptocephalinae – Clytrini
8,Labidostomis tridentata,0,ex,3,3,"9d, 14a",1949,coll. G. Lauterbach in FU Berlin,Chrysomelidae,Cryptocephalinae – Clytrini
9,Cryptocephalus bipunctatus,0,ex,NaN,*,"1a, 14a",vor 1950,MOHR (1977),Chrysomelidae,Cryptocephalinae – Cryptocephalini
10,Cryptocephalus chrysopus,0,ex,NaN,3,"1a, 14a",vor 1950,coll. P. Delahon,Chrysomelidae,Cryptocephalinae – Cryptocephalini
11,Cryptocephalus coryli,0,ex,3,3,14a,1906,DELAHON (1927),Chrysomelidae,Cryptocephalinae – Cryptocephalini
12,Cryptocephalus decemmaculatus,0,ex,NaN,3,"2d, 8b, 14a",1948,CHRYFAUN,Chrysomelidae,Cryptocephalinae – Cryptocephalini
13,Cryptocephalus hypochaeridis,0,ex,NaN,*,"8a, 14a",1946,CHRYFAUN,Chrysomelidae,Cryptocephalinae – Cryptocephalini
14,Cryptocephalus janthinus,0,ex,0,1,"6a, 8c",2008,JE,Chrysomelidae,Cryptocephalinae – Cryptocephalini
15,Cryptocephalus laetus,0,ex,0,0,"2a, 8a, 14a",vor 1900,WEISE (1872),Chrysomelidae,Cryptocephalinae – Cryptocephalini
16,Cryptocephalus octopunctatus,0,ex,2,2,"1a, 2d, 14a",vor 1950,"coll. J. Neresheimer, MOHR (1977)",Chrysomelidae,Cryptocephalinae – Cryptocephalini
17,Cryptocephalus pini,0,ex,1,*,9d,vor 1950,MOHR (1977),Chrysomelidae,Cryptocephalinae – Cryptocephalini
18,Cryptocephalus quadripustulatus,0,ex,1,D,"9a, 4c",vor 1950,coll. G. Reineck in coll. SMF,Chrysomelidae,Cryptocephalinae – Cryptocephalini
19,Cryptocephalus querceti,0,ex,1,2,14a,1885,WEISE (1885),Chrysomelidae,Cryptocephalinae – Cryptocephalini
20,Pachybrachis hieroglyphicus,0,ex,0,3,"5b, 14a",1885,WEISE (1885),Chrysomelidae,Cryptocephalinae – Cryptocephalini
21,Oomorphus concolor,0,ex,0,*,14a,vor 1920,"coll. G. Kraatz (SDEI), Mohr & Arnold in litteris",Chrysomelidae,Lamprosomatinae
22,Chrysolina cerealis,0,ex,0,3,"1a, 7a, 14a",vor 1950,MOHR (1977),Chrysomelidae,Chrysomelinae
23,Prasocuris glabra,0,ex,2,*,"1c, 2d, 6a, 14a",1960,CHRYFAUN,Chrysomelidae,Chrysomelinae
24,Prasocuris hannoveriana,0,ex,3,3,"2d, 5b, 6a, 14a, 14g",vor 1918,NERESHEIMER & WAGNER (1917),Chrysomelidae,Chrysomelinae
25,Galeruca melanocephala,0,ex,NaN,1,"2d, 5b, 14a",1928,CHRYFAUN,Chrysomelidae,Galerucinae – Galerucini
26,Chaetocnema confusa,0,ex,NaN,3,"2d, 8b, 14a",1907,REINECK (1907),Chrysomelidae,Galerucinae – Alticini
27,Dibolia schillingi,0,ex,NaN,3,"1a, 7a, 14a",1942,coll. M. Döberl,Chrysomelidae,Galerucinae – Alticini
28,Longitarsus nigerrimus,0,ex,NaN,1,"2d, 8b, 11c, 14a, 14g",1958,KORGE (1963),Chrysomelidae,Bruchinae
29,Bruchidius cisti,0,ex,NaN,3,"1a, 7a, 14g",vor 1950,WENDT (1986),Chrysomelidae,Bruchinae
30,Bruchus pisorum,0,ex,NaN,1,"4c, 14e",1949,"WENDT (1986), CHRYFAUN, SMF",Chrysomelidae,Bruchinae
31,Bruchus rufimanus,0,ex,NaN,*,?,vor 1950,WENDT (1986),Chrysomelidae,Bruchinae

In [24]:
df.columns

Index(['Species', 'BE', 'Bestand', 'BB', 'D', 'GfU', 'Letzter_Nachweis',
       'Quelle', 'Family', 'Sub_family'],
      dtype='object')

In [25]:
df = df.reindex(columns=['Family',
                         'Sub_family',
                         'Species', 
                         'BE', 
                         'Bestand', 
                         'BB', 
                         'D', 
                         'GfU', 
                         'Letzter_Nachweis', 
                         'Quelle'])
df

,Family,Sub_family,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle
0,Chrysomelidae,Donaciinae,Donacia brevicornis,0,ex,NaN,2,"1c, 2d, 3b, 11c, 14a, 14g",vor 1907,REINECK (1907)
1,Chrysomelidae,Donaciinae,Donacia dentata,0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,Chrysomelidae,Donaciinae,Donacia obscura,0,ex,2,1,"1c, 2d, 8b, 11c, 14a",vor 1907,REINECK (1907)
3,Chrysomelidae,Donaciinae,Donacia thalassina,0,ex,p,V,"1c, 2d, 11c, 14a, 14g",vor 1950,MOHR (1985)
4,Chrysomelidae,Donaciinae,Donacia tomentosa,0,ex,0,1,"1c, 2d, 11c, 14a, 14g",1943,CHRYFAUN
5,Chrysomelidae,Donaciinae,Macroplea appendiculata,0,ex,NaN,1,"1c, 3b, 11c, 14a",vor 1907,REINECK (1907)
6,Chrysomelidae,Criocerinae,Lilioceris merdigera,0,ex,NaN,*,1a,vor 1913,REINECK (1913)
7,Chrysomelidae,Cryptocephalinae – Clytrini,Labidostomis humeralis,0,ex,NaN,2,"12b, 14a",1897,SCHILSKY (1897)
8,Chrysomelidae,Cryptocephalinae – Clytrini,Labidostomis tridentata,0,ex,3,3,"9d, 14a",1949,coll. G. Lauterbach in FU Berlin
9,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus bipunctatus,0,ex,NaN,*,"1a, 14a",vor 1950,MOHR (1977)
10,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus chrysopus,0,ex,NaN,3,"1a, 14a",vor 1950,coll. P. Delahon
11,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus coryli,0,ex,3,3,14a,1906,DELAHON (1927)
12,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus decemmaculatus,0,ex,NaN,3,"2d, 8b, 14a",1948,CHRYFAUN
13,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus hypochaeridis,0,ex,NaN,*,"8a, 14a",1946,CHRYFAUN
14,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus janthinus,0,ex,0,1,"6a, 8c",2008,JE
15,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus laetus,0,ex,0,0,"2a, 8a, 14a",vor 1900,WEISE (1872)
16,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus octopunctatus,0,ex,2,2,"1a, 2d, 14a",vor 1950,"coll. J. Neresheimer, MOHR (1977)"
17,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus pini,0,ex,1,*,9d,vor 1950,MOHR (1977)
18,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus quadripustulatus,0,ex,1,D,"9a, 4c",vor 1950,coll. G. Reineck in coll. SMF
19,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus querceti,0,ex,1,2,14a,1885,WEISE (1885)
20,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Pachybrachis hieroglyphicus,0,ex,0,3,"5b, 14a",1885,WEISE (1885)
21,Chrysomelidae,Lamprosomatinae,Oomorphus concolor,0,ex,0,*,14a,vor 1920,"coll. G. Kraatz (SDEI), Mohr & Arnold in litteris"
22,Chrysomelidae,Chrysomelinae,Chrysolina cerealis,0,ex,0,3,"1a, 7a, 14a",vor 1950,MOHR (1977)
23,Chrysomelidae,Chrysomelinae,Prasocuris glabra,0,ex,2,*,"1c, 2d, 6a, 14a",1960,CHRYFAUN
24,Chrysomelidae,Chrysomelinae,Prasocuris hannoveriana,0,ex,3,3,"2d, 5b, 6a, 14a, 14g",vor 1918,NERESHEIMER & WAGNER (1917)
25,Chrysomelidae,Galerucinae – Galerucini,Galeruca melanocephala,0,ex,NaN,1,"2d, 5b, 14a",1928,CHRYFAUN
26,Chrysomelidae,Galerucinae – Alticini,Chaetocnema confusa,0,ex,NaN,3,"2d, 8b, 14a",1907,REINECK (1907)
27,Chrysomelidae,Galerucinae – Alticini,Dibolia schillingi,0,ex,NaN,3,"1a, 7a, 14a",1942,coll. M. Döberl
28,Chrysomelidae,Bruchinae,Longitarsus nigerrimus,0,ex,NaN,1,"2d, 8b, 11c, 14a, 14g",1958,KORGE (1963)
29,Chrysomelidae,Bruchinae,Bruchidius cisti,0,ex,NaN,3,"1a, 7a, 14g",vor 1950,WENDT (1986)
30,Chrysomelidae,Bruchinae,Bruchus pisorum,0,ex,NaN,1,"4c, 14e",1949,"WENDT (1986), CHRYFAUN, SMF"
31,Chrysomelidae,Bruchinae,Bruchus rufimanus,0,ex,NaN,*,?,vor 1950,WENDT (1986)

In [26]:
# Removing column Quelle, GfU, BB, D
df.drop(columns = ["Quelle", "GfU", "BB", "D", "Bestand"], inplace = True)

In [27]:
df

,Family,Sub_family,Species,BE,Letzter_Nachweis
0,Chrysomelidae,Donaciinae,Donacia brevicornis,0,vor 1907
1,Chrysomelidae,Donaciinae,Donacia dentata,0,1937
2,Chrysomelidae,Donaciinae,Donacia obscura,0,vor 1907
3,Chrysomelidae,Donaciinae,Donacia thalassina,0,vor 1950
4,Chrysomelidae,Donaciinae,Donacia tomentosa,0,1943
5,Chrysomelidae,Donaciinae,Macroplea appendiculata,0,vor 1907
6,Chrysomelidae,Criocerinae,Lilioceris merdigera,0,vor 1913
7,Chrysomelidae,Cryptocephalinae – Clytrini,Labidostomis humeralis,0,1897
8,Chrysomelidae,Cryptocephalinae – Clytrini,Labidostomis tridentata,0,1949
9,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus bipunctatus,0,vor 1950
10,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus chrysopus,0,vor 1950
11,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus coryli,0,1906
12,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus decemmaculatus,0,1948
13,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus hypochaeridis,0,1946
14,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus janthinus,0,2008
15,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus laetus,0,vor 1900
16,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus octopunctatus,0,vor 1950
17,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus pini,0,vor 1950
18,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus quadripustulatus,0,vor 1950
19,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus querceti,0,1885
20,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Pachybrachis hieroglyphicus,0,1885
21,Chrysomelidae,Lamprosomatinae,Oomorphus concolor,0,vor 1920
22,Chrysomelidae,Chrysomelinae,Chrysolina cerealis,0,vor 1950
23,Chrysomelidae,Chrysomelinae,Prasocuris glabra,0,1960
24,Chrysomelidae,Chrysomelinae,Prasocuris hannoveriana,0,vor 1918
25,Chrysomelidae,Galerucinae – Galerucini,Galeruca melanocephala,0,1928
26,Chrysomelidae,Galerucinae – Alticini,Chaetocnema confusa,0,1907
27,Chrysomelidae,Galerucinae – Alticini,Dibolia schillingi,0,1942
28,Chrysomelidae,Bruchinae,Longitarsus nigerrimus,0,1958
29,Chrysomelidae,Bruchinae,Bruchidius cisti,0,vor 1950
30,Chrysomelidae,Bruchinae,Bruchus pisorum,0,1949
31,Chrysomelidae,Bruchinae,Bruchus rufimanus,0,vor 1950

In [28]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Chrysomelidae_ Megalopodidae_Blattkäfer.csv', index=False)

# 02. Coleoptera Scarabaeoidea Blatthornkäfer.csv

In [29]:
# Read file into dataframe

df = pd.read_csv('Coleoptera Scarabaeoidea Blatthornkäfer.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Common_name
0,"Aphodius conspurcatus (LINNÉ, 1758)*",0,ex,NaN,NaN,NaN,2.0,2.0,NaN,6,NaN
1,"Aphodius foetidus (HERBST, 1783)*",0,ex,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
2,"Aphodius lividus (A. G. OLIVIER, 1789)*",0,ex,NaN,NaN,NaN,1.0,0.0,NaN,6,NaN
3,"Aphodius niger (ILLIGER, 1797)",0,ex,NaN,NaN,NaN,1.0,3.0,NaN,6,NaN
4,"Aphodius obliteratus (STURM, 1823)*",0,ex,NaN,NaN,NaN,1.0,3.0,NaN,6,NaN

In [30]:
df.Trend_lang.isna().sum()

22

In [31]:
df.Trend_kurz.isna().sum()

22

In [32]:
df.RF.isna().sum()

22

In [33]:
df.GS.isna().sum()

20

In [34]:
df.Common_name.isna().sum()

19

In [35]:
# dropping Trend_kurz and Trend_lang, RF columns

df.drop(columns = ["Trend_kurz", "Trend_lang", "RF"], inplace = True)

In [36]:
df.head()

,Species,BE,Bestand,BB,D,GS,GfU,Common_name
0,"Aphodius conspurcatus (LINNÉ, 1758)*",0,ex,2.0,2.0,NaN,6,NaN
1,"Aphodius foetidus (HERBST, 1783)*",0,ex,NaN,NaN,NaN,6,NaN
2,"Aphodius lividus (A. G. OLIVIER, 1789)*",0,ex,1.0,0.0,NaN,6,NaN
3,"Aphodius niger (ILLIGER, 1797)",0,ex,1.0,3.0,NaN,6,NaN
4,"Aphodius obliteratus (STURM, 1823)*",0,ex,1.0,3.0,NaN,6,NaN

In [37]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")

In [38]:
df

,Species,BE,Bestand,BB,D,GS,GfU,Common_name
0,Aphodius conspurcatus,0,ex,2.0,2.0,NaN,6,NaN
1,Aphodius foetidus,0,ex,NaN,NaN,NaN,6,NaN
2,Aphodius lividus,0,ex,1.0,0.0,NaN,6,NaN
3,Aphodius niger,0,ex,1.0,3.0,NaN,6,NaN
4,Aphodius obliteratus,0,ex,1.0,3.0,NaN,6,NaN
5,Aphodius paykulli,0,ex,NaN,NaN,NaN,6,NaN
6,Aphodius pictus,0,ex,1.0,3.0,NaN,6,NaN
7,Caccobius schreberi,0,ex,1.0,2.0,NaN,6,NaN
8,Copris lunaris,0,ex,2.0,2.0,§,6,Mondhornkäfer
9,Euheptaulacus sus,0,ex,NaN,2.0,NaN,"7a, 8a",NaN
10,Euheptaulacus villosus,0,ex,NaN,2.0,NaN,"7a, 8a",NaN
11,Gnorimus nobilis,0,ex,4.0,3.0,NaN,"2a, 14a",Edelscharrkäfer
12,Heptaulacus testudinarius,0,ex,1.0,2.0,NaN,"7a, 8a",NaN
13,Ochodaeus chrysomeloides,0,ex,1.0,1.0,NaN,"7a, 8a",NaN
14,Onthophagus illyricus,0,ex,NaN,3.0,NaN,NaN,NaN
15,Onthophagus taurus,0,ex,1.0,3.0,NaN,6,NaN
16,Protaetia fieberi,0,ex,1.0,2.0,§,"2a, 14a",NaN
17,Rhysothorax rufus,0,ex,NaN,NaN,NaN,"5a, 5b",NaN
18,Tropinota hirta,0,ex,3.0,3.0,NaN,?,Zottiger Rosenkäfer
19,Trox cadaverinus,0,ex,2.0,2.0,NaN,"6d, 7a, 8a",NaN
20,Trox hispidus,0,ex,3.0,NaN,NaN,"6d, 7a, 8a",NaN
21,Trox sabulosus,0,ex,NaN,NaN,NaN,"6d, 7a, 8a",NaN

In [39]:
# Adding Family: Scarabaeoidea to all rows

i = 0;
while i < 22:
    df.at[i,"Family"] = "Scarabaeoidea"
    i = i + 1

df

,Species,BE,Bestand,BB,D,GS,GfU,Common_name,Family
0,Aphodius conspurcatus,0,ex,2.0,2.0,NaN,6,NaN,Scarabaeoidea
1,Aphodius foetidus,0,ex,NaN,NaN,NaN,6,NaN,Scarabaeoidea
2,Aphodius lividus,0,ex,1.0,0.0,NaN,6,NaN,Scarabaeoidea
3,Aphodius niger,0,ex,1.0,3.0,NaN,6,NaN,Scarabaeoidea
4,Aphodius obliteratus,0,ex,1.0,3.0,NaN,6,NaN,Scarabaeoidea
5,Aphodius paykulli,0,ex,NaN,NaN,NaN,6,NaN,Scarabaeoidea
6,Aphodius pictus,0,ex,1.0,3.0,NaN,6,NaN,Scarabaeoidea
7,Caccobius schreberi,0,ex,1.0,2.0,NaN,6,NaN,Scarabaeoidea
8,Copris lunaris,0,ex,2.0,2.0,§,6,Mondhornkäfer,Scarabaeoidea
9,Euheptaulacus sus,0,ex,NaN,2.0,NaN,"7a, 8a",NaN,Scarabaeoidea
10,Euheptaulacus villosus,0,ex,NaN,2.0,NaN,"7a, 8a",NaN,Scarabaeoidea
11,Gnorimus nobilis,0,ex,4.0,3.0,NaN,"2a, 14a",Edelscharrkäfer,Scarabaeoidea
12,Heptaulacus testudinarius,0,ex,1.0,2.0,NaN,"7a, 8a",NaN,Scarabaeoidea
13,Ochodaeus chrysomeloides,0,ex,1.0,1.0,NaN,"7a, 8a",NaN,Scarabaeoidea
14,Onthophagus illyricus,0,ex,NaN,3.0,NaN,NaN,NaN,Scarabaeoidea
15,Onthophagus taurus,0,ex,1.0,3.0,NaN,6,NaN,Scarabaeoidea
16,Protaetia fieberi,0,ex,1.0,2.0,§,"2a, 14a",NaN,Scarabaeoidea
17,Rhysothorax rufus,0,ex,NaN,NaN,NaN,"5a, 5b",NaN,Scarabaeoidea
18,Tropinota hirta,0,ex,3.0,3.0,NaN,?,Zottiger Rosenkäfer,Scarabaeoidea
19,Trox cadaverinus,0,ex,2.0,2.0,NaN,"6d, 7a, 8a",NaN,Scarabaeoidea
20,Trox hispidus,0,ex,3.0,NaN,NaN,"6d, 7a, 8a",NaN,Scarabaeoidea
21,Trox sabulosus,0,ex,NaN,NaN,NaN,"6d, 7a, 8a",NaN,Scarabaeoidea

In [40]:
df.columns

Index(['Species', 'BE', 'Bestand', 'BB', 'D', 'GS', 'GfU', 'Common_name',
       'Family'],
      dtype='object')

In [41]:
df = df.reindex(columns=['Family',
                         'Species', 
                         'BE', 
                         'Bestand', 
                         'BB', 
                         'D', 
                         'GS', 
                         'GfU', 
                         'Common_name'])
df

,Family,Species,BE,Bestand,BB,D,GS,GfU,Common_name
0,Scarabaeoidea,Aphodius conspurcatus,0,ex,2.0,2.0,NaN,6,NaN
1,Scarabaeoidea,Aphodius foetidus,0,ex,NaN,NaN,NaN,6,NaN
2,Scarabaeoidea,Aphodius lividus,0,ex,1.0,0.0,NaN,6,NaN
3,Scarabaeoidea,Aphodius niger,0,ex,1.0,3.0,NaN,6,NaN
4,Scarabaeoidea,Aphodius obliteratus,0,ex,1.0,3.0,NaN,6,NaN
5,Scarabaeoidea,Aphodius paykulli,0,ex,NaN,NaN,NaN,6,NaN
6,Scarabaeoidea,Aphodius pictus,0,ex,1.0,3.0,NaN,6,NaN
7,Scarabaeoidea,Caccobius schreberi,0,ex,1.0,2.0,NaN,6,NaN
8,Scarabaeoidea,Copris lunaris,0,ex,2.0,2.0,§,6,Mondhornkäfer
9,Scarabaeoidea,Euheptaulacus sus,0,ex,NaN,2.0,NaN,"7a, 8a",NaN
10,Scarabaeoidea,Euheptaulacus villosus,0,ex,NaN,2.0,NaN,"7a, 8a",NaN
11,Scarabaeoidea,Gnorimus nobilis,0,ex,4.0,3.0,NaN,"2a, 14a",Edelscharrkäfer
12,Scarabaeoidea,Heptaulacus testudinarius,0,ex,1.0,2.0,NaN,"7a, 8a",NaN
13,Scarabaeoidea,Ochodaeus chrysomeloides,0,ex,1.0,1.0,NaN,"7a, 8a",NaN
14,Scarabaeoidea,Onthophagus illyricus,0,ex,NaN,3.0,NaN,NaN,NaN
15,Scarabaeoidea,Onthophagus taurus,0,ex,1.0,3.0,NaN,6,NaN
16,Scarabaeoidea,Protaetia fieberi,0,ex,1.0,2.0,§,"2a, 14a",NaN
17,Scarabaeoidea,Rhysothorax rufus,0,ex,NaN,NaN,NaN,"5a, 5b",NaN
18,Scarabaeoidea,Tropinota hirta,0,ex,3.0,3.0,NaN,?,Zottiger Rosenkäfer
19,Scarabaeoidea,Trox cadaverinus,0,ex,2.0,2.0,NaN,"6d, 7a, 8a",NaN
20,Scarabaeoidea,Trox hispidus,0,ex,3.0,NaN,NaN,"6d, 7a, 8a",NaN
21,Scarabaeoidea,Trox sabulosus,0,ex,NaN,NaN,NaN,"6d, 7a, 8a",NaN

In [42]:
# Removing columns BB, D, GS, GfU
df.drop(columns = ["BB", "D", "GS", "GfU", "Bestand"], inplace = True)
df

           Family                    Species  BE          Common_name
0   Scarabaeoidea      Aphodius conspurcatus   0                  NaN
1   Scarabaeoidea          Aphodius foetidus   0                  NaN
2   Scarabaeoidea           Aphodius lividus   0                  NaN
3   Scarabaeoidea             Aphodius niger   0                  NaN
4   Scarabaeoidea       Aphodius obliteratus   0                  NaN
5   Scarabaeoidea          Aphodius paykulli   0                  NaN
6   Scarabaeoidea            Aphodius pictus   0                  NaN
7   Scarabaeoidea        Caccobius schreberi   0                  NaN
8   Scarabaeoidea             Copris lunaris   0        Mondhornkäfer
9   Scarabaeoidea          Euheptaulacus sus   0                  NaN
10  Scarabaeoidea     Euheptaulacus villosus   0                  NaN
11  Scarabaeoidea           Gnorimus nobilis   0      Edelscharrkäfer
12  Scarabaeoidea  Heptaulacus testudinarius   0                  NaN
13  Scarabaeoidea   Ochodaeus chrysomeloides   0                  NaN
14  Scarabaeoidea      Onthophagus illyricus   0                  NaN
15  Scarabaeoidea         Onthophagus taurus   0                  NaN
16  Scarabaeoidea          Protaetia fieberi   0                  NaN
17  Scarabaeoidea          Rhysothorax rufus   0                  NaN
18  Scarabaeoidea            Tropinota hirta   0  Zottiger Rosenkäfer
19  Scarabaeoidea           Trox cadaverinus   0                  NaN
20  Scarabaeoidea              Trox hispidus   0                  NaN
21  Scarabaeoidea             Trox sabulosus   0                  NaN

In [43]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Coleoptera Scarabaeoidea Blatthornkäfer.csv', 
          index=False)

# 03.  Coleoptera_Wasserkäfer.csv

In [44]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Wasserkäfer.csv')
df.head()

,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin
0,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
1,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
2,Agabus biguttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."
3,Agabus clypealis,0,"2d, 11c","Dahlem, NSG Langes Luch, 1987, BH leg."
4,Agabus guttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."

In [45]:
df

,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin
0,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
1,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
2,Agabus biguttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."
3,Agabus clypealis,0,"2d, 11c","Dahlem, NSG Langes Luch, 1987, BH leg."
4,Agabus guttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."
5,Agabus labiatus,0,"1a, 5b","Tegel, Jungfernheide, ca. 1900, coll. Schilsky"
6,Agabus striolatus,0,"2d, 11c","Reinickendorf, ehem. Hermsdorfer See, 1994, BH"
7,Dytiscus latissimus,0,11c,"Tegel, Tegeler See, 1949, Weinhold leg."
8,Dytiscus semisulcatus,0,"1a, 5b","Pankow, Buch, 1926, Beck leg."
9,Graphoderus bilineatus,0,"5b, 11c, 12c","Berlin 10.1.1905, Sammlung Zimmermann (ZSM)"
10,Graphoderus zonatus,0,"5b, 11c, 12c","Zehlendorf, Buschgraben, 2001, Hendrich leg."
11,Hydroporus elongatulus,0,"2d, 11c, 12c","Köpenick, Gosener Wiesen, 1996, Hendrich leg."
12,Hydroporus glabriusculus,0,"2d, 11c","Spandau, NSG Großer u. Kleiner Rohrpfuhl, 1993,"
13,Hydroporus gyllenhalii,0,1a,"Spandau, ca. 1920, Schöppa leg. (HORION 1941)"
14,Hydroporus notatus,0,1a,"Karlshorst, 1913, Ahlwarth leg. (ZMB)"
15,Hydroporus rufifrons,0,"2d, 11c, 12c","Wannsee, NSG Bäkewiese, 1995, BH leg."
16,Ilybius aenescens,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1987, Schlarbaum"
17,Ilybius similis,0,"2d, 11c","Grunewald, NSG Hundekehlefenn, 1990, BH leg."
18,Rhantus notaticollis,0,12c,"Karlshorst, 1913, Ahlwarth leg. (ZMB)"
19,Rhantus suturellus,0,"2d, 11c","Schmöckwitz, ND Langes Luch, 1995, Hendrich"
20,Suphrodytes dorsalis,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1986, Hendrich leg."
21,Gyrinus distinctus,0,"3b, 5, 11c","Havelufer, Großes Fenster, 1989, BH leg."
22,Gyrinus marinus,0,"3b, 5, 11c","Buch, Karower Teiche, 1996, Hendrich leg."
23,Gyrinus minutus,0,"2d, 11c","Reinickendorf, Tegeler Fließ, 1989, BH leg."
24,Gyrinus natator,0,"2d, 11c","Grunewald, NSG Teufelsfenn, 1959, Fery leg. (CF)"
25,Hydrochus megaphallus,0,?,"Tegel, Jungfernheide, ca. 1920, Zumpt leg."
26,Helophorus tuberculatus,0,Ausbleiben,"Tiergarten, 1889, Habelmann leg."
27,Stenelmis canaliculata,0,"5a, 11c","Berlin, 10.8.1900, 2 Exemplare, Maas leg. (MNG)"
28,Dryops griseus,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1973, Korge leg. (CK)"
29,Dryops nitidulus,0,?,"Lichterfelde, US-Truppenübungsplatz, 1983, Hen-"
30,Dryops similaris,0,1a,"Spandau, Elsgraben, 1921, leg. ? (CK)"

In [46]:
# Adding family

i = 0;
while i < 31:
    if i == 0:
        df.at[i,"Family"] = "Hygrobiidae"
    elif i == 1:
        df.at[i,"Family"] = "Haliplidae"
    elif ((i > 1) & (i < 21)):
        df.at[i,"Family"] = "Dytiscidae" 
    elif ((i > 20) & (i < 25)):
        df.at[i,"Family"] = "Gyrinidae"
    elif (i == 25):
        df.at[i,"Family"] = "Hydrochidae"
    elif (i == 26):
        df.at[i,"Family"] = "Helophoridae"
    elif (i == 27):
        df.at[i,"Family"] = "Elmidae"
    else:
        df.at[i,"Family"] = "Dryopidae"
    i = i + 1

df

,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin,Family
0,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)",Hygrobiidae
1,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)",Haliplidae
2,Agabus biguttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg.",Dytiscidae
3,Agabus clypealis,0,"2d, 11c","Dahlem, NSG Langes Luch, 1987, BH leg.",Dytiscidae
4,Agabus guttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg.",Dytiscidae
5,Agabus labiatus,0,"1a, 5b","Tegel, Jungfernheide, ca. 1900, coll. Schilsky",Dytiscidae
6,Agabus striolatus,0,"2d, 11c","Reinickendorf, ehem. Hermsdorfer See, 1994, BH",Dytiscidae
7,Dytiscus latissimus,0,11c,"Tegel, Tegeler See, 1949, Weinhold leg.",Dytiscidae
8,Dytiscus semisulcatus,0,"1a, 5b","Pankow, Buch, 1926, Beck leg.",Dytiscidae
9,Graphoderus bilineatus,0,"5b, 11c, 12c","Berlin 10.1.1905, Sammlung Zimmermann (ZSM)",Dytiscidae
10,Graphoderus zonatus,0,"5b, 11c, 12c","Zehlendorf, Buschgraben, 2001, Hendrich leg.",Dytiscidae
11,Hydroporus elongatulus,0,"2d, 11c, 12c","Köpenick, Gosener Wiesen, 1996, Hendrich leg.",Dytiscidae
12,Hydroporus glabriusculus,0,"2d, 11c","Spandau, NSG Großer u. Kleiner Rohrpfuhl, 1993,",Dytiscidae
13,Hydroporus gyllenhalii,0,1a,"Spandau, ca. 1920, Schöppa leg. (HORION 1941)",Dytiscidae
14,Hydroporus notatus,0,1a,"Karlshorst, 1913, Ahlwarth leg. (ZMB)",Dytiscidae
15,Hydroporus rufifrons,0,"2d, 11c, 12c","Wannsee, NSG Bäkewiese, 1995, BH leg.",Dytiscidae
16,Ilybius aenescens,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1987, Schlarbaum",Dytiscidae
17,Ilybius similis,0,"2d, 11c","Grunewald, NSG Hundekehlefenn, 1990, BH leg.",Dytiscidae
18,Rhantus notaticollis,0,12c,"Karlshorst, 1913, Ahlwarth leg. (ZMB)",Dytiscidae
19,Rhantus suturellus,0,"2d, 11c","Schmöckwitz, ND Langes Luch, 1995, Hendrich",Dytiscidae
20,Suphrodytes dorsalis,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1986, Hendrich leg.",Dytiscidae
21,Gyrinus distinctus,0,"3b, 5, 11c","Havelufer, Großes Fenster, 1989, BH leg.",Gyrinidae
22,Gyrinus marinus,0,"3b, 5, 11c","Buch, Karower Teiche, 1996, Hendrich leg.",Gyrinidae
23,Gyrinus minutus,0,"2d, 11c","Reinickendorf, Tegeler Fließ, 1989, BH leg.",Gyrinidae
24,Gyrinus natator,0,"2d, 11c","Grunewald, NSG Teufelsfenn, 1959, Fery leg. (CF)",Gyrinidae
25,Hydrochus megaphallus,0,?,"Tegel, Jungfernheide, ca. 1920, Zumpt leg.",Hydrochidae
26,Helophorus tuberculatus,0,Ausbleiben,"Tiergarten, 1889, Habelmann leg.",Helophoridae
27,Stenelmis canaliculata,0,"5a, 11c","Berlin, 10.8.1900, 2 Exemplare, Maas leg. (MNG)",Elmidae
28,Dryops griseus,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1973, Korge leg. (CK)",Dryopidae
29,Dryops nitidulus,0,?,"Lichterfelde, US-Truppenübungsplatz, 1983, Hen-",Dryopidae
30,Dryops similaris,0,1a,"Spandau, Elsgraben, 1921, leg. ? (CK)",Dryopidae

In [47]:
df = df.reindex(columns=['Family',
                         'Species', 
                         'RL', 
                         'Letzter Nachweis in Berlin'])
df

,Family,Species,RL,Letzter Nachweis in Berlin
0,Hygrobiidae,Hygrobia hermanni,0,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
1,Haliplidae,Brychius elevatus,0,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
2,Dytiscidae,Agabus biguttatus,0,"Frohnau, Bieselfließ, 1996, Hendrich leg."
3,Dytiscidae,Agabus clypealis,0,"Dahlem, NSG Langes Luch, 1987, BH leg."
4,Dytiscidae,Agabus guttatus,0,"Frohnau, Bieselfließ, 1996, Hendrich leg."
5,Dytiscidae,Agabus labiatus,0,"Tegel, Jungfernheide, ca. 1900, coll. Schilsky"
6,Dytiscidae,Agabus striolatus,0,"Reinickendorf, ehem. Hermsdorfer See, 1994, BH"
7,Dytiscidae,Dytiscus latissimus,0,"Tegel, Tegeler See, 1949, Weinhold leg."
8,Dytiscidae,Dytiscus semisulcatus,0,"Pankow, Buch, 1926, Beck leg."
9,Dytiscidae,Graphoderus bilineatus,0,"Berlin 10.1.1905, Sammlung Zimmermann (ZSM)"
10,Dytiscidae,Graphoderus zonatus,0,"Zehlendorf, Buschgraben, 2001, Hendrich leg."
11,Dytiscidae,Hydroporus elongatulus,0,"Köpenick, Gosener Wiesen, 1996, Hendrich leg."
12,Dytiscidae,Hydroporus glabriusculus,0,"Spandau, NSG Großer u. Kleiner Rohrpfuhl, 1993,"
13,Dytiscidae,Hydroporus gyllenhalii,0,"Spandau, ca. 1920, Schöppa leg. (HORION 1941)"
14,Dytiscidae,Hydroporus notatus,0,"Karlshorst, 1913, Ahlwarth leg. (ZMB)"
15,Dytiscidae,Hydroporus rufifrons,0,"Wannsee, NSG Bäkewiese, 1995, BH leg."
16,Dytiscidae,Ilybius aenescens,0,"Spandau, NSG Teufelsbruch, 1987, Schlarbaum"
17,Dytiscidae,Ilybius similis,0,"Grunewald, NSG Hundekehlefenn, 1990, BH leg."
18,Dytiscidae,Rhantus notaticollis,0,"Karlshorst, 1913, Ahlwarth leg. (ZMB)"
19,Dytiscidae,Rhantus suturellus,0,"Schmöckwitz, ND Langes Luch, 1995, Hendrich"
20,Dytiscidae,Suphrodytes dorsalis,0,"Spandau, NSG Teufelsbruch, 1986, Hendrich leg."
21,Gyrinidae,Gyrinus distinctus,0,"Havelufer, Großes Fenster, 1989, BH leg."
22,Gyrinidae,Gyrinus marinus,0,"Buch, Karower Teiche, 1996, Hendrich leg."
23,Gyrinidae,Gyrinus minutus,0,"Reinickendorf, Tegeler Fließ, 1989, BH leg."
24,Gyrinidae,Gyrinus natator,0,"Grunewald, NSG Teufelsfenn, 1959, Fery leg. (CF)"
25,Hydrochidae,Hydrochus megaphallus,0,"Tegel, Jungfernheide, ca. 1920, Zumpt leg."
26,Helophoridae,Helophorus tuberculatus,0,"Tiergarten, 1889, Habelmann leg."
27,Elmidae,Stenelmis canaliculata,0,"Berlin, 10.8.1900, 2 Exemplare, Maas leg. (MNG)"
28,Dryopidae,Dryops griseus,0,"Spandau, NSG Teufelsbruch, 1973, Korge leg. (CK)"
29,Dryopidae,Dryops nitidulus,0,"Lichterfelde, US-Truppenübungsplatz, 1983, Hen-"
30,Dryopidae,Dryops similaris,0,"Spandau, Elsgraben, 1921, leg. ? (CK)"

In [48]:
df.rename({
    "RL": "BE",
    "Letzter Nachweis in Berlin": "Letzter Nachweis"
}, 
    axis='columns',
    inplace = True
)

In [49]:
df.head()

,Family,Species,BE,Letzter Nachweis
0,Hygrobiidae,Hygrobia hermanni,0,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
1,Haliplidae,Brychius elevatus,0,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
2,Dytiscidae,Agabus biguttatus,0,"Frohnau, Bieselfließ, 1996, Hendrich leg."
3,Dytiscidae,Agabus clypealis,0,"Dahlem, NSG Langes Luch, 1987, BH leg."
4,Dytiscidae,Agabus guttatus,0,"Frohnau, Bieselfließ, 1996, Hendrich leg."

In [50]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Coleoptera_Wasserkäfer.csv', 
          index=False)

# 04.Coleoptera_Bostrichoidea_Cleroidea_Cucujoidea_Elateroidea_Lymexyloidea_Tenebrioidea.csv

In [51]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Bostrichoidea_Cleroidea_Cucujoidea_Elateroidea_Lymexyloidea_Tenebrioidea.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,Neobiota,Letzter_Nachweis
0,"Lichenophanes varius (ILLIGER, 1801)",0,ex,NaN,NaN,NaN,NaN,2.0,NaN,NaN,vor 1900
1,"Endecatomus reticulatus (HERBST, 1793)",0,ex,NaN,NaN,NaN,NaN,0.0,NaN,NaN,vor 1900
2,"Anobium emarginatum DUFTSCHMID, 1825",0,ex,NaN,NaN,NaN,NaN,3.0,NaN,NaN,vor 1900
3,"Ernobius mulsanti KIESENWETTER, 1877",0,ex,NaN,NaN,NaN,NaN,0.0,NaN,NaN,vor 1900
4,"Xyletinus pectinatus (FABRICIUS, 1792)",0,ex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vor 1900

In [52]:
df.describe()

         BE  Trend_lang  Trend_kurz   RF   BB          D   GS  Neobiota
count  40.0         0.0         0.0  0.0  0.0  23.000000  0.0       0.0
mean    0.0         NaN         NaN  NaN  NaN   1.739130  NaN       NaN
std     0.0         NaN         NaN  NaN  NaN   0.915393  NaN       NaN
min     0.0         NaN         NaN  NaN  NaN   0.000000  NaN       NaN
25%     0.0         NaN         NaN  NaN  NaN   1.000000  NaN       NaN
50%     0.0         NaN         NaN  NaN  NaN   2.000000  NaN       NaN
75%     0.0         NaN         NaN  NaN  NaN   2.000000  NaN       NaN
max     0.0         NaN         NaN  NaN  NaN   3.000000  NaN       NaN

In [53]:
# Removing columns Trend_lang, Trend_kurz, RF, BB, D, GS, Neobiota
df.drop(columns = ["Trend_lang", "Trend_kurz", "RF", "BB", "D", "GS", "Neobiota", "Bestand"], inplace = True)
df

                                          Species  BE Letzter_Nachweis
0            Lichenophanes varius (ILLIGER, 1801)   0         vor 1900
1          Endecatomus reticulatus (HERBST, 1793)   0         vor 1900
2            Anobium emarginatum DUFTSCHMID, 1825   0         vor 1900
3            Ernobius mulsanti KIESENWETTER, 1877   0         vor 1900
4          Xyletinus pectinatus (FABRICIUS, 1792)   0         vor 1900
5   Dermestoides sanguinicollis (FABRICIUS, 1787)   0         vor 1900
6                Korynetes ruficornis STURM, 1837   0         vor 1900
7                  Opilo domesticus (STURM, 1837)   0         vor 1900
8                Trichodes apiarius (LINNÉ, 1758)   0         vor 1900
9            Trichoceble floralis (OLIVIER, 1790)   0         vor 1900
10          Phloiophilus edwardsii STEPHENS, 1830   0         vor 1900
11            Temnoscheila caerulea OLIVIER, 1790   0         vor 1900
12                  Atomaria badia ERICHSON, 1846   0         vor 1900
13                  Atomaria munda ERICHSON, 1846   0         vor 1900
14                  Atomaria peltata KRAATZ, 1853   0         vor 1900
15              Atomaria procerula ERICHSON, 1846   0         vor 1900
16                Atomaria pulchra ERICHSON, 1846   0         vor 1900
17           Cryptophagus subfumatus KRAATZ, 1856   0         vor 1900
18        Pediacus dermestoides (FABRICIUS, 1792)   0         vor 1900
19             Triplax lepida (FALDERMANN, 1835)*   0         vor 1900
20           Triplax scutellaris CARPENTIER, 1825   0         vor 1900
21            Cryptolestes weisei (REITTER, 1879)   0         vor 1900
22        Notolaemus unifasciatus (PAYKULL, 1801)   0         vor 1900
23            Monotoma quadrifoveolata AUBÉ, 1837   0         vor 1900
24                 Nitidula rufipes (LINNÉ, 1767)   0         vor 1900
25            Ampedus praeustus (FABRICIUS, 1792)   0         vor 1900
26            Ampedus rufipennis (STEPHENS, 1830)   0         vor 1900
27        Megapenthes lugens (REDTENBACHER, 1842)   0         vor 1900
28        Melanotus crassicollis (ERICHSON, 1841)   0         vor 1900
29               Trixagus obtusus (CURTIS, 1827)*   0         vor 1900
30             Aglenus brunneus (GYLLENHAL, 1813)   0         vor 1900
31            Osphya bipunctata (FABRICIUS, 1775)   0         vor 1900
32             Xylita laevigata (HELLENIUS, 1786)   0         vor 1900
33           Anogcodes ferruginea (SCHRANK, 1776)   0         vor 1900
34               Salpingus aeneus (OLIVIER, 1790)   0         vor 1900
35                  Corticeus suberis LUCAS, 1846   0         vor 1900
36          Menephilus cylindricus (HERBST, 1784)   0         vor 1900
37         Mycetochara flavipes (FABRICIUS, 1792)   0         vor 1900
38       Mycetochara pygmaea (REDTENBACHER, 1874)   0         vor 1900
39                Omophlus betulae (HERBST, 1783)   0         vor 1900

In [54]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")

In [55]:
df.head()

                   Species  BE Letzter_Nachweis
0     Lichenophanes varius   0         vor 1900
1  Endecatomus reticulatus   0         vor 1900
2      Anobium emarginatum   0         vor 1900
3        Ernobius mulsanti   0         vor 1900
4     Xyletinus pectinatus   0         vor 1900

In [56]:
# Adding family

i = 0;
while i < 40:
    if (i >= 0) & (i <= 4):
        df.at[i,"Superfamily"] = "Bostrichoidea"
        
        if i == 0:
            df.at[i,"Family"] = "Bostrichidae"
        elif i == 1:
            df.at[i,"Family"] = "Endecatomidae"
        elif ((i > 1) & (i <= 4)):
            df.at[i,"Family"] = "Ptinidae" 
    elif (i > 4) & (i <= 11):
        df.at[i,"Superfamily"] = "Cleroidea"
        
        if ((i > 4) & (i <= 8)):
            df.at[i,"Family"] = "Cleridae"
        elif (i == 9):
            df.at[i,"Family"] = "Dasytidae"
        elif (i == 10):
            df.at[i,"Family"] = "Phloiophilidae"
        elif (i == 11):
            df.at[i,"Family"] = "Trogossitidae"
            
    elif (i > 11) & (i <= 24):
        df.at[i,"Superfamily"] = "Cucujoidea"
        
        if ((i > 11) & (i <= 17)):
            df.at[i,"Family"] = "Cleridae"
        elif (i == 18):
            df.at[i,"Family"] = "Cucujidae"
        elif ((i > 18) & (i <= 20)):
            df.at[i,"Family"] = "Erotylidae"
        elif ((i > 20) & (i <= 22)):
            df.at[i,"Family"] = "Laemophloeidae"
        elif (i == 23):
            df.at[i,"Family"] = "Monotomidae"
        elif (i == 24):
            df.at[i,"Family"] = "Nitidulidae"
            
    elif (i > 24) & (i <= 29):
        df.at[i,"Superfamily"] = "Elateroidea"

        if ((i > 24) & (i <= 28)):
            df.at[i,"Family"] = "Elateridae"
        elif (i == 29):
            df.at[i,"Family"] = "Throscidae"           
            
    elif (i > 29):
        df.at[i,"Superfamily"] = "Tenebrioidea"
        
        if (i == 30):
            df.at[i,"Family"] = "Colydiidae"
        elif ((i > 30) & (i <= 32)):
            df.at[i,"Family"] = "Melandryidae"
        elif (i == 33):
            df.at[i,"Family"] = "Oedemeridae"
        elif (i == 34):
            df.at[i,"Family"] = "Salpingidae"
        else:
            df.at[i,"Family"] = "Tenebrionidae"
                
    i = i + 1

df

,Species,BE,Letzter_Nachweis,Superfamily,Family
0,Lichenophanes varius,0,vor 1900,Bostrichoidea,Bostrichidae
1,Endecatomus reticulatus,0,vor 1900,Bostrichoidea,Endecatomidae
2,Anobium emarginatum,0,vor 1900,Bostrichoidea,Ptinidae
3,Ernobius mulsanti,0,vor 1900,Bostrichoidea,Ptinidae
4,Xyletinus pectinatus,0,vor 1900,Bostrichoidea,Ptinidae
5,Dermestoides sanguinicollis,0,vor 1900,Cleroidea,Cleridae
6,Korynetes ruficornis,0,vor 1900,Cleroidea,Cleridae
7,Opilo domesticus,0,vor 1900,Cleroidea,Cleridae
8,Trichodes apiarius,0,vor 1900,Cleroidea,Cleridae
9,Trichoceble floralis,0,vor 1900,Cleroidea,Dasytidae
10,Phloiophilus edwardsii,0,vor 1900,Cleroidea,Phloiophilidae
11,Temnoscheila caerulea,0,vor 1900,Cleroidea,Trogossitidae
12,Atomaria badia,0,vor 1900,Cucujoidea,Cleridae
13,Atomaria munda,0,vor 1900,Cucujoidea,Cleridae
14,Atomaria peltata,0,vor 1900,Cucujoidea,Cleridae
15,Atomaria procerula,0,vor 1900,Cucujoidea,Cleridae
16,Atomaria pulchra,0,vor 1900,Cucujoidea,Cleridae
17,Cryptophagus subfumatus,0,vor 1900,Cucujoidea,Cleridae
18,Pediacus dermestoides,0,vor 1900,Cucujoidea,Cucujidae
19,Triplax lepida,0,vor 1900,Cucujoidea,Erotylidae
20,Triplax scutellaris,0,vor 1900,Cucujoidea,Erotylidae
21,Cryptolestes weisei,0,vor 1900,Cucujoidea,Laemophloeidae
22,Notolaemus unifasciatus,0,vor 1900,Cucujoidea,Laemophloeidae
23,Monotoma quadrifoveolata,0,vor 1900,Cucujoidea,Monotomidae
24,Nitidula rufipes,0,vor 1900,Cucujoidea,Nitidulidae
25,Ampedus praeustus,0,vor 1900,Elateroidea,Elateridae
26,Ampedus rufipennis,0,vor 1900,Elateroidea,Elateridae
27,Megapenthes lugens,0,vor 1900,Elateroidea,Elateridae
28,Melanotus crassicollis,0,vor 1900,Elateroidea,Elateridae
29,Trixagus obtusus,0,vor 1900,Elateroidea,Throscidae
30,Aglenus brunneus,0,vor 1900,Tenebrioidea,Colydiidae
31,Osphya bipunctata,0,vor 1900,Tenebrioidea,Melandryidae
32,Xylita laevigata,0,vor 1900,Tenebrioidea,Melandryidae
33,Anogcodes ferruginea,0,vor 1900,Tenebrioidea,Oedemeridae
34,Salpingus aeneus,0,vor 1900,Tenebrioidea,Salpingidae
35,Corticeus suberis,0,vor 1900,Tenebrioidea,Tenebrionidae
36,Menephilus cylindricus,0,vor 1900,Tenebrioidea,Tenebrionidae
37,Mycetochara flavipes,0,vor 1900,Tenebrioidea,Tenebrionidae
38,Mycetochara pygmaea,0,vor 1900,Tenebrioidea,Tenebrionidae
39,Omophlus betulae,0,vor 1900,Tenebrioidea,Tenebrionidae

In [57]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Coleoptera_Bostrichoidea_Cleroidea_Cucujoidea_Elateroidea_Lymexyloidea_Tenebrioidea.csv', 
          index=False)

# 05. Coleoptera_Buprestidae_Prachtkäfer.csv

In [58]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Buprestidae_Prachtkäfer.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,Gfu,Vorzugs-habitat,Letzter Nachweis
0,"Dicerca berolinensis (HERBST, 1779)*",0,ex,NaN,NaN,NaN,1.0,2,§,"9, 12b, 14a, 14f?",WB,vor 1907
1,"Dicerca alni (FISCHER VON WALDHEIM, 1824)",0,ex,NaN,NaN,NaN,1.0,2,§,"9, 12b, 14a",WM,vor 1900
2,"Buprestis haemorrhoidalis HERBST, 1780*",0,ex,NaN,NaN,NaN,0.0,2,§,14a?,"WK, WN",1937
3,"Melanophila acuminata (DEGEER, 1774)*",0,ex,NaN,NaN,NaN,NaN,2,§,"12b, 14a","WK, WN",1970
4,"Anthaxia senicula (SCHRANK, 1789)*",0,ex,NaN,NaN,NaN,NaN,NaN,NaN,"2a, 9, 12b, 14a",WH,vor 1900

In [60]:
df.describe(include= 'all')

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,Gfu,Vorzugs-habitat,Letzter Nachweis
count,7,7.0,7,0.0,0.0,0.0,5.000000,6,6,7,7,7
unique,7,NaN,1,NaN,NaN,NaN,NaN,3,1,7,6,5
top,"Dicerca berolinensis (HERBST, 1779)*",NaN,ex,NaN,NaN,NaN,NaN,2,§,"9, 12b, 14a, 14f?","WK, WN",vor 1900
freq,1,NaN,7,NaN,NaN,NaN,NaN,4,6,1,2,2
mean,NaN,0.0,NaN,NaN,NaN,NaN,0.800000,NaN,NaN,NaN,NaN,NaN
std,NaN,0.0,NaN,NaN,NaN,NaN,0.447214,NaN,NaN,NaN,NaN,NaN
min,NaN,0.0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,0.0,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,0.0,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,0.0,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,0.0,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN

In [62]:
# Removing columns Trend_lang, Trend_kurz, RF, BB, D, GS, Gfu, Vorzugs-habitat, Bestand
df.drop(columns = ["Trend_lang", 
                   "Trend_kurz", 
                   "RF", 
                   "BB", 
                   "D", 
                   "GS", 
                   "Gfu", 
                   "Vorzugs-habitat",
                   "Bestand"], inplace = True)
df

                                     Species  BE Letzter Nachweis
0       Dicerca berolinensis (HERBST, 1779)*   0         vor 1907
1  Dicerca alni (FISCHER VON WALDHEIM, 1824)   0         vor 1900
2    Buprestis haemorrhoidalis HERBST, 1780*   0             1937
3      Melanophila acuminata (DEGEER, 1774)*   0             1970
4         Anthaxia senicula (SCHRANK, 1789)*   0         vor 1900
5   Aphanisticus emarginatus (OLIVIER, 1790)   0         vor 1919
6      Aphanisticus pusillus (OLIVIER, 1790)   0             1970

In [65]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")

In [66]:
df.head()

                     Species  BE Letzter Nachweis
0       Dicerca berolinensis   0         vor 1907
1               Dicerca alni   0         vor 1900
2  Buprestis haemorrhoidalis   0             1937
3      Melanophila acuminata   0             1970
4          Anthaxia senicula   0         vor 1900

In [67]:
df["Family"] = "Buprestidae"
df.head()

                     Species  BE Letzter Nachweis       Family
0       Dicerca berolinensis   0         vor 1907  Buprestidae
1               Dicerca alni   0         vor 1900  Buprestidae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae
3      Melanophila acuminata   0             1970  Buprestidae
4          Anthaxia senicula   0         vor 1900  Buprestidae

In [68]:
df.at[0,"Subfamily"] = "Chrysochroinae"
df.head()

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae             NaN
2  Buprestis haemorrhoidalis   0             1937  Buprestidae             NaN
3      Melanophila acuminata   0             1970  Buprestidae             NaN
4          Anthaxia senicula   0         vor 1900  Buprestidae             NaN

In [69]:
df.at[1,"Subfamily"] = "Chrysochroinae"
df.head()

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae  Chrysochroinae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae             NaN
3      Melanophila acuminata   0             1970  Buprestidae             NaN
4          Anthaxia senicula   0         vor 1900  Buprestidae             NaN

In [70]:
df.at[2,"Subfamily"] = "Buprestinae"
df.head()

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae  Chrysochroinae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae     Buprestinae
3      Melanophila acuminata   0             1970  Buprestidae             NaN
4          Anthaxia senicula   0         vor 1900  Buprestidae             NaN

In [71]:
df.at[3,"Subfamily"] = "Buprestinae"
df.head()

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae  Chrysochroinae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae     Buprestinae
3      Melanophila acuminata   0             1970  Buprestidae     Buprestinae
4          Anthaxia senicula   0         vor 1900  Buprestidae             NaN

In [72]:
df.at[4,"Subfamily"] = "Buprestinae"
df.head()

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae  Chrysochroinae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae     Buprestinae
3      Melanophila acuminata   0             1970  Buprestidae     Buprestinae
4          Anthaxia senicula   0         vor 1900  Buprestidae     Buprestinae

In [73]:
df

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae  Chrysochroinae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae     Buprestinae
3      Melanophila acuminata   0             1970  Buprestidae     Buprestinae
4          Anthaxia senicula   0         vor 1900  Buprestidae     Buprestinae
5   Aphanisticus emarginatus   0         vor 1919  Buprestidae             NaN
6      Aphanisticus pusillus   0             1970  Buprestidae             NaN

In [76]:
df.at[5,"Subfamily"] = "Agrilinae"
df

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae  Chrysochroinae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae     Buprestinae
3      Melanophila acuminata   0             1970  Buprestidae     Buprestinae
4          Anthaxia senicula   0         vor 1900  Buprestidae     Buprestinae
5   Aphanisticus emarginatus   0         vor 1919  Buprestidae       Agrilinae
6      Aphanisticus pusillus   0             1970  Buprestidae       Agrilinae

In [77]:
df.at[6,"Subfamily"] = "Agrilinae"
df

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae  Chrysochroinae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae     Buprestinae
3      Melanophila acuminata   0             1970  Buprestidae     Buprestinae
4          Anthaxia senicula   0         vor 1900  Buprestidae     Buprestinae
5   Aphanisticus emarginatus   0         vor 1919  Buprestidae       Agrilinae
6      Aphanisticus pusillus   0             1970  Buprestidae       Agrilinae

In [78]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Coleoptera_Buprestidae_Prachtkäfer.csv', 
          index=False)

# 06. Coleoptera_Carabidae_Laufkäfer.csv

In [79]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Carabidae_Laufkäfer.csv')
df.head()

,Species,BE,BB,DE,GS,Häufigkeit,Vorzugshabitate,Gefährdungsursachen
0,Acupalpus maculatus (SCHAUM)*,0,2,3,NaN,ex,(1)?,"1c, 12a"
1,Agonum gracilipes (DUFTSCHMID)*,0,1,D,NaN,ex,(7),?
2,Agonum hypocrita (APFELBECK)*,0,1,1,NaN,ex,2,"2d, 11c"
3,Agonum impressum (PANZER)*,0,1,1,NaN,ex,1,"3a, 5a, 12c"
4,Amara famelica ZIMMERMANN*,0,R,2,NaN,ex,(14)?,?

In [80]:
df.describe(include = "all")

,Species,BE,BB,DE,GS,Häufigkeit,Vorzugshabitate,Gefährdungsursachen
count,34,34.0,34,34,9,34,34,34
unique,34,NaN,4,7,2,1,18,17
top,Acupalpus maculatus (SCHAUM)*,NaN,1,2,§,ex,1,?
freq,1,NaN,11,11,7,34,9,7
mean,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
# Removing columns Trend_lang, Trend_kurz, RF, BB, D, GS, Gfu, Vorzugs-habitat, Bestand
df.drop(columns = ["BB", 
                   "DE", 
                   "GS", 
                   "Häufigkeit", 
                   "Vorzugshabitate", 
                   "Gefährdungsursachen"], inplace = True)
df

                                      Species  BE
0               Acupalpus maculatus (SCHAUM)*   0
1             Agonum gracilipes (DUFTSCHMID)*   0
2               Agonum hypocrita (APFELBECK)*   0
3                  Agonum impressum (PANZER)*   0
4                  Amara famelica ZIMMERMANN*   0
5     Anisodactylus nemorivagus (DUFTSCHMID)*   0
6                   Bembidion humerale STURM*   0
7              Bembidion punctulatum DRAPIEZ*   0
8          Bembidion semipunctatum (DONOVAN)*   0
9             Bembidion striatum (FABRICIUS)*   0
10                Bembidion velox (LINNAEUS)*   0
11      Callisthenes reticulatus (FABRICIUS)*   0
12            Calosoma sycophanta (LINNAEUS)*   0
13               Carabus cancellatus ILLIGER*   0
14                Carabus clatratus LINNAEUS*   0
15                 Carabus glabratus PAYKULL*   0
16               Carabus intricatus LINNAEUS*   0
17                   Carabus nitens LINNAEUS*   0
18              Carabus problematicus HERBST*   0
19        Chlaenius costulatus (MOTSCHULSKY)*   0
20             Chlaenius nitidulus (SCHRANK)*   0
21           Chlaenius sulcicollis (PAYKULL)*   0
22   Cylindera arenaria viennensis (SCHRANK)*   0
23              Dolichus halensis (SCHALLER)*   0
24              Dyschirius chalceus ERICHSON*   0
25            Dyschirius neresheimeri WAGNER*   0
26               Dyschirius nitidus (DEJEAN)*   0
27           Dyschirius obscurus (GYLLENHAL)*   0
28              Elaphropus parvulus (DEJEAN)*   0
29      Limodromus longiventris (MANNERHEIM)*   0
30  Paratachys micros (FISCHER VON WALDHEIM)*   0
31             Pterostichus ovoideus (STURM)*   0
32              Pterostichus taksonyis CSIKI*   0
33        Sphodrus leucophthalmus (LINNAEUS)*   0

In [83]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                      Species  BE
0         Acupalpus maculatus   0
1           Agonum gracilipes   0
2            Agonum hypocrita   0
3            Agonum impressum   0
4              Amara famelica   0
5   Anisodactylus nemorivagus   0
6          Bembidion humerale   0
7       Bembidion punctulatum   0
8     Bembidion semipunctatum   0
9          Bembidion striatum   0
10            Bembidion velox   0
11   Callisthenes reticulatus   0
12        Calosoma sycophanta   0
13        Carabus cancellatus   0
14          Carabus clatratus   0
15          Carabus glabratus   0
16         Carabus intricatus   0
17             Carabus nitens   0
18      Carabus problematicus   0
19       Chlaenius costulatus   0
20        Chlaenius nitidulus   0
21      Chlaenius sulcicollis   0
22         Cylindera arenaria   0
23          Dolichus halensis   0
24        Dyschirius chalceus   0
25    Dyschirius neresheimeri   0
26         Dyschirius nitidus   0
27        Dyschirius obscurus   0
28        Elaphropus parvulus   0
29    Limodromus longiventris   0
30          Paratachys micros   0
31      Pterostichus ovoideus   0
32     Pterostichus taksonyis   0
33    Sphodrus leucophthalmus   0

In [84]:
df["Family"] = "Carabidae"
df

                      Species  BE     Family
0         Acupalpus maculatus   0  Carabidae
1           Agonum gracilipes   0  Carabidae
2            Agonum hypocrita   0  Carabidae
3            Agonum impressum   0  Carabidae
4              Amara famelica   0  Carabidae
5   Anisodactylus nemorivagus   0  Carabidae
6          Bembidion humerale   0  Carabidae
7       Bembidion punctulatum   0  Carabidae
8     Bembidion semipunctatum   0  Carabidae
9          Bembidion striatum   0  Carabidae
10            Bembidion velox   0  Carabidae
11   Callisthenes reticulatus   0  Carabidae
12        Calosoma sycophanta   0  Carabidae
13        Carabus cancellatus   0  Carabidae
14          Carabus clatratus   0  Carabidae
15          Carabus glabratus   0  Carabidae
16         Carabus intricatus   0  Carabidae
17             Carabus nitens   0  Carabidae
18      Carabus problematicus   0  Carabidae
19       Chlaenius costulatus   0  Carabidae
20        Chlaenius nitidulus   0  Carabidae
21      Chlaenius sulcicollis   0  Carabidae
22         Cylindera arenaria   0  Carabidae
23          Dolichus halensis   0  Carabidae
24        Dyschirius chalceus   0  Carabidae
25    Dyschirius neresheimeri   0  Carabidae
26         Dyschirius nitidus   0  Carabidae
27        Dyschirius obscurus   0  Carabidae
28        Elaphropus parvulus   0  Carabidae
29    Limodromus longiventris   0  Carabidae
30          Paratachys micros   0  Carabidae
31      Pterostichus ovoideus   0  Carabidae
32     Pterostichus taksonyis   0  Carabidae
33    Sphodrus leucophthalmus   0  Carabidae

In [85]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Coleoptera_Carabidae_Laufkäfer.csv', 
          index=False)

# 07. Coleoptera_Cerambycidae_Bockkäfer.csv

In [86]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Cerambycidae_Bockkäfer.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Deutscher_Name
0,"Callidium aeneum (DEGEER, 1775)*",0,ex,NaN,NaN,NaN,2.0,NaN,§,NaN,NaN
1,"Cerambyx scopolii FÜESSLY, 1775*",0,ex,NaN,NaN,NaN,1.0,3.0,§,"2a, 14a",Kleiner Eichenbockkäfer
2,"Chlorophorus varius (O. F. MÜLLER, 1766)*",0,ex,NaN,NaN,NaN,NaN,1.0,§,"2a, 14a",NaN
3,"Lamia textor (LINNÉ, 1758)*",0,ex,NaN,NaN,NaN,1.0,2.0,§,"5a, 5b, 14a Weberbockkäfer",NaN
4,"Leiopus punctulatus (PAYKULL, 1800)*",0,ex,NaN,NaN,NaN,0.0,1.0,§,"2a, 14a",NaN

In [87]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB", 
                   "D", 
                   "GS", 
                   "GfU"
                  ], inplace = True)
df

                                     Species  BE           Deutscher_Name
0           Callidium aeneum (DEGEER, 1775)*   0                      NaN
1           Cerambyx scopolii FÜESSLY, 1775*   0  Kleiner Eichenbockkäfer
2  Chlorophorus varius (O. F. MÜLLER, 1766)*   0                      NaN
3                Lamia textor (LINNÉ, 1758)*   0                      NaN
4       Leiopus punctulatus (PAYKULL, 1800)*   0                      NaN
5            Necydalis ulmi CHEVROLAT, 1838*   0                      NaN
6  Phymatodes glabratus (CHARPENTIER, 1825)*   0                      NaN
7       Phytoecia molybdaena (DALMAN, 1817)*   0                      NaN

In [89]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                Species  BE           Deutscher_Name
0      Callidium aeneum   0                      NaN
1     Cerambyx scopolii   0  Kleiner Eichenbockkäfer
2   Chlorophorus varius   0                      NaN
3          Lamia textor   0                      NaN
4   Leiopus punctulatus   0                      NaN
5        Necydalis ulmi   0                      NaN
6  Phymatodes glabratus   0                      NaN
7  Phytoecia molybdaena   0                      NaN

In [90]:
df["Family"] = "Cerambycidae"
df

                Species  BE           Deutscher_Name        Family
0      Callidium aeneum   0                      NaN  Cerambycidae
1     Cerambyx scopolii   0  Kleiner Eichenbockkäfer  Cerambycidae
2   Chlorophorus varius   0                      NaN  Cerambycidae
3          Lamia textor   0                      NaN  Cerambycidae
4   Leiopus punctulatus   0                      NaN  Cerambycidae
5        Necydalis ulmi   0                      NaN  Cerambycidae
6  Phymatodes glabratus   0                      NaN  Cerambycidae
7  Phytoecia molybdaena   0                      NaN  Cerambycidae

In [91]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Coleoptera_Cerambycidae_Bockkäfer.csv', 
          index=False)

# 08. Next