In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_csv('first_30 - first_30.csv')

In [3]:
df_2 = pd.read_csv('second_31_60 - second_31_60.csv')

In [4]:
df_3 = pd.read_csv('third_61_89 - third_61_89.csv')

In [5]:
final_df = pd.concat([df_1, df_2, df_3], axis=0)

In [6]:
final_df.describe()

,Gattung,Artname,BE,Bestand,Vor_1990,1990_2017,Trend_kurz,Habitat,D,BB,GS,Deutscher_name
count,153,153,153,153,153,152,4,153,153,153,47,153
unique,126,153,4,1,55,4,3,69,9,3,5,153
top,"Eupithecia CURTIS, 1825","fusconebulosa (DEGEER, 1778)",0,ex,x vor 1900,–,declining,TR,2,⬤,§,Adlerfarn-Wurzelbohrer
freq,5,1,100,153,38,149,2,18,38,124,26,1

In [7]:
final_df.head()

,Gattung,Artname,BE,Bestand,Vor_1990,1990_2017,Trend_kurz,Habitat,D,BB,GS,Deutscher_name
0,"Pharmacis HÜBNER, 1820","fusconebulosa (DEGEER, 1778)",0,ex,x 1973,–,NaN,LKW,V,⬤,NaN,Adlerfarn-Wurzelbohrer
1,"Heterogenea KNOCH, 1783","asella (DEN. & SCHIFF., 1775)",0,ex,x 1978,–,NaN,LMW,V,⬤,NaN,Kleiner Schneckenspinner
2,"Zygaena FABRICIUS, 1775","purpuralis (BRUENNICH, 1763)",0,ex,x,–,NaN,TR,V,⬤,§,Thymian-Widderchen
3,"Malacosoma HÜBNER, 1820","castrensis (LINNAEUS, 1758)",0,ex,x 1982,–,NaN,TR,3,⬤,§,Wolfsmilch-Ringelspinner
4,"Eriogaster GERMAR, 1810","lanestris (LINNAEUS, 1758)",0,ex,x vor 1900,–,NaN,WRS,3,⬤,§,Wollafter

In [12]:
final_df.loc[(final_df["BE"] == "0") | (final_df["BE"] == 0)].describe()

,Gattung,Artname,BE,Bestand,Vor_1990,1990_2017,Trend_kurz,Habitat,D,BB,GS,Deutscher_name
count,150,150,150,150,150,149,4,150,150,150,47,150
unique,124,150,2,1,53,4,3,68,8,3,5,150
top,"Eupithecia CURTIS, 1825","fusconebulosa (DEGEER, 1778)",0,ex,x vor 1900,–,declining,TR,2,⬤,§,Adlerfarn-Wurzelbohrer
freq,5,1,100,150,38,146,2,18,38,122,26,1

In [10]:
final_df.loc[final_df.Bestand == "ex"].describe()

,Gattung,Artname,BE,Bestand,Vor_1990,1990_2017,Trend_kurz,Habitat,D,BB,GS,Deutscher_name
count,153,153,153,153,153,152,4,153,153,153,47,153
unique,126,153,4,1,55,4,3,69,9,3,5,153
top,"Eupithecia CURTIS, 1825","fusconebulosa (DEGEER, 1778)",0,ex,x vor 1900,–,declining,TR,2,⬤,§,Adlerfarn-Wurzelbohrer
freq,5,1,100,153,38,149,2,18,38,124,26,1

In [7]:
final_df.to_csv('Butterflies_and_moths_final.csv', index=False)

In [8]:
#Check the BE column for mistakes
#Modify the df to make a "Genus species" column