In [13]:
import camelot
import pandas as pd

# Updated Process

## 1. Create empty dataframe with proper column names

In [14]:
# This is where data will be added after cleaning. The final dataframe for export

In [15]:
df = pd.DataFrame(columns = [
    "Species",
    "BE", 
    "Bestand",
    "Trend_lang",
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "EU",
    "GS",
    "V",
    "Zielart_2008",
    "Zielart_2017",
    "V",
    "Letzter Nachweis",
    "Common_name"
])
df

Empty DataFrame
Columns: [Species, BE, Bestand, Trend_lang, Trend_kurz, RF, BB, D, EU, GS, V, Zielart_2008, Zielart_2017, V, Letzter Nachweis, Common_name]
Index: []

In [16]:
df.shape

(0, 16)

## 2. Setup mechanism to store accuracy report : QA step

In [17]:
accuracy = []

## 3. Dictionary of dataframes on the go

In [18]:
# Dictionary to collect dataframes created from each table
d = {}

## 4. Adding the list of pages to be parsed

In [19]:
pages = []
i = 9
while i < 79:
    pages.append(i)
    i = i + 1
print(pages)

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78]

## 5. Parsing through the pages

In [20]:
## Figuring out the table edges using the first/9th page;
'''
tables = camelot.read_pdf('09_gefaesspflanzen.pdf', 
                              pages= str(9),
                              flavor='stream', 
                              row_tol=10,
                         columns=['205,250,280,325, 360,385,410, 425,455,480,510,530,575,605,650'])
#accuracy.append(tables[0].parsing_report)
tables[0].shape
camelot.plot(tables[0], kind='textedge')
'''

"\ntables = camelot.read_pdf('09_gefaesspflanzen.pdf', \n                              pages= str(9),\n                              flavor='stream', \n                              row_tol=10,\n                         columns=['205,250,280,325, 360,385,410, 425,455,480,510,530,575,605,650'])\n#accuracy.append(tables[0].parsing_report)\ntables[0].shape\ncamelot.plot(tables[0], kind='textedge')\n"

In [21]:
for i in pages:
    # print page number
    print (i)
    # create dataframe with page number
    d[i] = pd.DataFrame()
    #read the page
    tables = camelot.read_pdf('09_gefaesspflanzen.pdf', 
                              pages= str(i),
                              flavor='stream', 
                              row_tol=15,
                              columns=['205,250,280,325, 360,385,410, 425,455,480,510,530,575,605,650'])
    #tables = camelot.read_pdf('09_gefaesspflanzen.pdf', pages= str(i), flavor='lattice')
    # add the accuracy report
    accuracy.append(tables[0].parsing_report)
    # assign the first table to a dataframe
    d[i] = tables[0].df
    print(d[i].shape)
# Print Done once all pages are parsed
print ("Done")

9
(25, 16)
10
(26, 16)
11
(26, 16)
12
(24, 16)
13
(24, 16)
14
(28, 16)
15
(25, 16)
16
(23, 16)
17
(23, 16)
18
(25, 16)
19
(24, 16)
20
(25, 16)
21
(24, 16)
22
(27, 16)
23
(27, 16)
24
(23, 16)
25
(25, 16)
26
(25, 16)
27
(25, 16)
28
(23, 16)
29
(24, 16)
30
(26, 16)
31
(26, 16)
32
(27, 16)
33
(25, 16)
34
(25, 16)
35
(23, 16)
36
(16, 16)
37
(16, 16)
38
(17, 16)
39
(16, 16)
40
(17, 16)
41
(23, 16)
42
(27, 16)
43
(27, 16)
44
(26, 16)
45
(26, 16)
46
(26, 16)
47
(25, 16)
48
(26, 16)
49
(28, 16)
50
(26, 16)
51
(26, 16)
52
(27, 16)
53
(24, 16)
54
(23, 16)
55
(26, 16)
56
(25, 16)
57
(22, 16)
58
(22, 16)
59
(26, 16)
60
(19, 16)
61
(21, 16)
62
(27, 16)
63
(23, 16)
64
(25, 16)
65
(24, 16)
66
(27, 16)
67
(28, 16)
68
(27, 16)
69
(26, 16)
70
(23, 16)
71
(23, 16)
72
(23, 16)
73
(25, 16)
74
(25, 16)
75
(26, 16)
76
(26, 16)
77
(26, 16)
78
(10, 16)
Done

In [22]:
# Check accuracy reports for the process
accuracy

[{'accuracy': 99.07, 'whitespace': 52.5, 'order': 1, 'page': 9},
 {'accuracy': 99.14, 'whitespace': 48.08, 'order': 1, 'page': 10},
 {'accuracy': 99.11, 'whitespace': 50.72, 'order': 1, 'page': 11},
 {'accuracy': 99.09, 'whitespace': 50.0, 'order': 1, 'page': 12},
 {'accuracy': 99.05, 'whitespace': 50.0, 'order': 1, 'page': 13},
 {'accuracy': 98.86, 'whitespace': 50.45, 'order': 1, 'page': 14},
 {'accuracy': 98.58, 'whitespace': 50.0, 'order': 1, 'page': 15},
 {'accuracy': 98.79, 'whitespace': 50.54, 'order': 1, 'page': 16},
 {'accuracy': 99.15, 'whitespace': 52.17, 'order': 1, 'page': 17},
 {'accuracy': 98.79, 'whitespace': 51.25, 'order': 1, 'page': 18},
 {'accuracy': 98.45, 'whitespace': 46.61, 'order': 1, 'page': 19},
 {'accuracy': 98.99, 'whitespace': 52.0, 'order': 1, 'page': 20},
 {'accuracy': 99.04, 'whitespace': 50.0, 'order': 1, 'page': 21},
 {'accuracy': 98.99, 'whitespace': 51.85, 'order': 1, 'page': 22},
 {'accuracy': 98.67, 'whitespace': 50.0, 'order': 1, 'page': 23},
 {'accuracy': 99.0, 'whitespace': 48.91, 'order': 1, 'page': 24},
 {'accuracy': 99.16, 'whitespace': 48.75, 'order': 1, 'page': 25},
 {'accuracy': 98.77, 'whitespace': 46.25, 'order': 1, 'page': 26},
 {'accuracy': 98.69, 'whitespace': 48.0, 'order': 1, 'page': 27},
 {'accuracy': 98.98, 'whitespace': 50.0, 'order': 1, 'page': 28},
 {'accuracy': 99.07, 'whitespace': 50.52, 'order': 1, 'page': 29},
 {'accuracy': 99.16, 'whitespace': 52.16, 'order': 1, 'page': 30},
 {'accuracy': 98.96, 'whitespace': 50.96, 'order': 1, 'page': 31},
 {'accuracy': 99.24, 'whitespace': 50.46, 'order': 1, 'page': 32},
 {'accuracy': 98.45, 'whitespace': 49.75, 'order': 1, 'page': 33},
 {'accuracy': 99.05, 'whitespace': 50.75, 'order': 1, 'page': 34},
 {'accuracy': 98.75, 'whitespace': 47.01, 'order': 1, 'page': 35},
 {'accuracy': 98.74, 'whitespace': 46.88, 'order': 1, 'page': 36},
 {'accuracy': 99.14, 'whitespace': 49.22, 'order': 1, 'page': 37},
 {'accuracy': 99.26, 'whitespace': 50.37, 'order': 1, 'page': 38},
 {'accuracy': 99.26, 'whitespace': 49.22, 'order': 1, 'page': 39},
 {'accuracy': 99.13, 'whitespace': 52.21, 'order': 1, 'page': 40},
 {'accuracy': 98.84, 'whitespace': 49.46, 'order': 1, 'page': 41},
 {'accuracy': 98.95, 'whitespace': 47.92, 'order': 1, 'page': 42},
 {'accuracy': 99.02, 'whitespace': 51.16, 'order': 1, 'page': 43},
 {'accuracy': 98.97, 'whitespace': 50.96, 'order': 1, 'page': 44},
 {'accuracy': 98.76, 'whitespace': 48.08, 'order': 1, 'page': 45},
 {'accuracy': 98.58, 'whitespace': 49.52, 'order': 1, 'page': 46},
 {'accuracy': 98.97, 'whitespace': 51.0, 'order': 1, 'page': 47},
 {'accuracy': 99.02, 'whitespace': 51.68, 'order': 1, 'page': 48},
 {'accuracy': 98.39, 'whitespace': 45.76, 'order': 1, 'page': 49},
 {'accuracy': 98.58, 'whitespace': 47.12, 'order': 1, 'page': 50},
 {'accuracy': 98.76, 'whitespace': 50.24, 'order': 1, 'page': 51},
 {'accuracy': 99.2, 'whitespace': 51.39, 'order': 1, 'page': 52},
 {'accuracy': 98.95, 'whitespace': 51.82, 'order': 1, 'page': 53},
 {'accuracy': 98.57, 'whitespace': 47.83, 'order': 1, 'page': 54},
 {'accuracy': 98.7, 'whitespace': 47.84, 'order': 1, 'page': 55},
 {'accuracy': 99.09, 'whitespace': 49.75, 'order': 1, 'page': 56},
 {'accuracy': 98.33, 'whitespace': 48.3, 'order': 1, 'page': 57},
 {'accuracy': 98.95, 'whitespace': 48.86, 'order': 1, 'page': 58},
 {'accuracy': 98.83, 'whitespace': 48.8, 'order': 1, 'page': 59},
 {'accuracy': 99.19, 'whitespace': 51.64, 'order': 1, 'page': 60},
 {'accuracy': 99.12, 'whitespace': 50.0, 'order': 1, 'page': 61},
 {'accuracy': 99.11, 'whitespace': 52.78, 'order': 1, 'page': 62},
 {'accuracy': 99.0, 'whitespace': 51.36, 'order': 1, 'page': 63},
 {'accuracy': 98.72, 'whitespace': 51.0, 'order': 1, 'page': 64},
 {'accuracy': 98.99, 'whitespace': 46.35, 'order': 1, 'page': 65},
 {'accuracy': 98.95, 'whitespace': 49.54, 'order': 1, 'page': 66},
 {'accuracy': 99.06, 'whitespace': 49.78, 'order': 1, 'page': 67},
 {'accuracy': 98.96, 'whitespace': 53.01, 'order': 1, 'page': 68},
 {'accuracy': 98.7, 'whitespace': 48.08, 'order': 1, 'page': 69},
 {'accuracy': 99.23, 'whitespace': 52.99, 'order': 1, 'page': 70},
 {'accuracy': 99.32, 'whitespace': 52.17, 'order': 1, 'page': 71},
 {'accuracy': 98.59, 'whitespace': 50.0, 'order': 1, 'page': 72},
 {'accuracy': 98.97, 'whitespace': 51.5, 'order': 1, 'page': 73},
 {'accuracy': 98.59, 'whitespace': 49.5, 'order': 1, 'page': 74},
 {'accuracy': 99.04, 'whitespace': 51.68, 'order': 1, 'page': 75},
 {'accuracy': 98.97, 'whitespace': 48.56, 'order': 1, 'page': 76},
 {'accuracy': 99.0, 'whitespace': 50.96, 'order': 1, 'page': 77},
 {'accuracy': 98.62, 'whitespace': 48.75, 'order': 1, 'page': 78}]

In [23]:
d[17]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Wissenschaftlicher Name,BE,Bestand,Trend,Trend,RF,BB,D,EU,GS,V,,Zielart,N,Letzter,Deutscher Name
1,,,,lang,kurz,,,,,,,2008,2017,,Nachweis,
2,Callitriche cophocarpa,G,ss,(<),(),=,G,,,,,,,,,Stumpfkantiger \nWasserstern
3,Callitriche hamulata,1,es,(<),?,=,G,,,,,,!,,,Haken-Wasserstern
4,Callitriche hermaphroditica,0,ex,,,,0,G,,,,,,,1904,Herbst-Wasserstern
5,Callitriche platycarpa,0,ex,,,,G,,,,,,,,1989,Flachfrüchtiger Wasserstern
6,Callitriche stagnalis *,D,?,?,?,=,G,,,,,,,,,Teich-Wasserstern
7,Calluna vulgaris,3,mh,(<),,=,,,,,,,,,,Besenheide
8,Caltha palustris *,3,mh,<<,(),=,3,,,,,,,,,Sumpf-Dotterblume
9,Calystegia pulchra,R,es,?,=,=,,,,,,,,N,,Schöne Zaunwinde
10,Calystegia sepium,*,sh,=,=,=,,,,,,,,,,Echte Zaunwinde
11,Camelina alyssum,0,ex,,,,0,0,1,,,,,,1864,Gezähnter Leindotter
12,Camelina microcarpa subsp. \npilosa *,0,ex,,,,3,,,,,,,,1984,Kleinfrüchtiger Leindotter
13,Campanula glomerata *,0,ex,,,,2,,,,,,,,1971,Knäuel-Glockenblume
14,Campanula patula,3,mh,<<,(),=,V,,,,,,,,,Wiesen-Glockenblume
15,Campanula persicifolia *,2,s,<<,,-,,,,,,,,,,Pfirsichblättrige \nGlockenblume
16,Campanula rapunculoides,*,sh,>,=,=,,,,,,,,,,Acker-Glockenblume
17,Campanula rotundifolia,*,h,=,=,=,,,,,,,,,,Rundblättrige \nGlockenblume
18,Campanula trachelium *,0,ex,,,,V,,,,,,,,1856,Nesselblättrige \nGlockenblume
19,Cannabis sativa subsp. \nspontanea,1,ss,<<,,-,G,,,,,,! \n!,N,,Wild-Hanf
20,Capsella bursa-pastoris,*,sh,=,=,=,,,,,,,,,,Gemeines Hirtentäschel
21,Cardamine amara,2,s,<<,(),=,3,,,,,,,,,Bitteres Schaumkraut
22,Cardamine bulbifera,*,ss,=,=,=,,,,,,,,N,,Zwiebel-Zahnwurz

# Data cleanup steps

d[67]       
    : Look at the data frame extracted from 67th page
d[67].shape 
    : Look at the shape of the dataframe
d[68] = d[68].drop([12], axis=1)
    : Drop the 12th column in place
d[68][10] = d[68][[10, 11]].agg(' '.join, axis=1)
    : Join 10th and 11th columns with a space in between
d[69][[9,11]] = d[69][9].str.split('\n', expand=True)
    : Split 9th Column at the '\n' sign and add a new column called 11
column_to_move = d[69].pop(11)
column_to_move
d[69].insert(9, 11, column_to_move )
    : Pop column 11 and insert it at column 9
d[75].insert(9, '10', ["",""])
    : Insert two rows of column 10 after 9 with empty cells

In [24]:
# Check whether all dataframes are of the same size
for key in d:
    print(key)
    print(d[key].shape)

9
(25, 16)
10
(26, 16)
11
(26, 16)
12
(24, 16)
13
(24, 16)
14
(28, 16)
15
(25, 16)
16
(23, 16)
17
(23, 16)
18
(25, 16)
19
(24, 16)
20
(25, 16)
21
(24, 16)
22
(27, 16)
23
(27, 16)
24
(23, 16)
25
(25, 16)
26
(25, 16)
27
(25, 16)
28
(23, 16)
29
(24, 16)
30
(26, 16)
31
(26, 16)
32
(27, 16)
33
(25, 16)
34
(25, 16)
35
(23, 16)
36
(16, 16)
37
(16, 16)
38
(17, 16)
39
(16, 16)
40
(17, 16)
41
(23, 16)
42
(27, 16)
43
(27, 16)
44
(26, 16)
45
(26, 16)
46
(26, 16)
47
(25, 16)
48
(26, 16)
49
(28, 16)
50
(26, 16)
51
(26, 16)
52
(27, 16)
53
(24, 16)
54
(23, 16)
55
(26, 16)
56
(25, 16)
57
(22, 16)
58
(22, 16)
59
(26, 16)
60
(19, 16)
61
(21, 16)
62
(27, 16)
63
(23, 16)
64
(25, 16)
65
(24, 16)
66
(27, 16)
67
(28, 16)
68
(27, 16)
69
(26, 16)
70
(23, 16)
71
(23, 16)
72
(23, 16)
73
(25, 16)
74
(25, 16)
75
(26, 16)
76
(26, 16)
77
(26, 16)
78
(10, 16)

In [25]:
# Removing empty dataframes
# del d[64]
# del d[74]

In [26]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
d2 = OrderedDict(sorted(d.items()))

In [27]:
# Check whether the dictionary is sorted
for key in d2:
    print(key)

9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78

In [28]:
# Rename all the dataframes in the sorted dictionary
for key in d2:
    print(key)
    d2[key].columns = [ "Species",
    "BE", 
    "Bestand",
    "Trend_lang",
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "EU",
    "GS",
    "V",
    "Zielart_2008",
    "Zielart_2017",
    "V",
    "Letzter Nachweis",
    "Common_name"]
print("Rename completed for concat")

9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
Rename completed for concat

In [29]:
# Concatanate all the non-empty dataframes in the sorted dictionary into the empty df
for key in d2:
    df = pd.concat([df, d2[key]], axis = 0)
df

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,EU,GS,V,Zielart_2008,Zielart_2017,V,Letzter Nachweis,Common_name
0,Wissenschaftlicher Name,BE,Bestand,Trend,Trend,RF,BB,D,EU,GS,V,,Zielart,N,Letzter,Deutscher Name
1,,,,lang,kurz,,,,,,,2008,2017,,Nachweis,
2,Acer campestre *,D,ss,?,?,=,G,,,,,,,,,Feld-Ahorn
3,Acer negundo,*,sh,>,,=,,,,,,,,N,,Eschen-Ahorn
4,Acer platanoides *,*,sh,>,,=,,,,,,,,,,Spitz-Ahorn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,Wolffia arrhiza,2,es,<<<,=,=,3,2,,,,,!! \n!!,,,Zwerg-Wasserlinse
6,Xanthium albinum,*,mh,>,,=,,,,,,,,N,,Elbe-Spitzklette
7,Xanthium albinum subsp. \nriparium,D,?,?,?,=,,,,,,,,N,,Ufer-Spitzklette
8,Xanthium strumarium,0,ex,,,,1,,,,,,,,1986,Gemeine Spitzklette
9,Zannichellia palustris,1,ss,<<,,-,3,,,,,,! \n!,,,Sumpf-Teichfaden

In [30]:
# Definition of extinction
df2 = df.loc[df["BE"] == "0"]
df2.reset_index(inplace = True)
df2 = df2.drop(['index'], axis=1)
df2.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,EU,GS,V,Zielart_2008,Zielart_2017,V,Letzter Nachweis,Common_name
0,Achillea salicifolia *,0,ex,,,,G,,,,,,!!,,1999,Weidenblatt-Schafgarbe
1,Agrostemma githago *,0,ex,,,,1,1,,,,,,,1989,Korn-Rade
2,Alchemilla plicata *,0,ex,,,,1,2,,,,,!!,,1990,Gefalteter Frauenmantel
3,Alchemilla vulgaris s. str.,0,ex,,,,1,,,,,,,,1969,Spitzlappiger Frauenmantel
4,Alisma gramineum,0,ex,,,,2,,3,,,,,,1950,Grasblättriger Froschlöffel

In [31]:
df3 = df.loc[df["Bestand"] == "ex"]
df3.reset_index(inplace = True)
df3 = df3.drop(['index'], axis=1)
df3.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,EU,GS,V,Zielart_2008,Zielart_2017,V,Letzter Nachweis,Common_name
0,Achillea salicifolia *,0,ex,,,,G,,,,,,!!,,1999,Weidenblatt-Schafgarbe
1,Agrostemma githago *,0,ex,,,,1,1,,,,,,,1989,Korn-Rade
2,Alchemilla plicata *,0,ex,,,,1,2,,,,,!!,,1990,Gefalteter Frauenmantel
3,Alchemilla vulgaris s. str.,0,ex,,,,1,,,,,,,,1969,Spitzlappiger Frauenmantel
4,Alisma gramineum,0,ex,,,,2,,3,,,,,,1950,Grasblättriger Froschlöffel

In [32]:
df2.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,EU,GS,V,Zielart_2008,Zielart_2017,V,Letzter Nachweis,Common_name
count,266,266,266,266,266,266,266,266,266,266,266,266,266,266,266,266
unique,266,1,1,1,1,1,10,7,5,6,5,1,3,2,106,261
top,Achillea salicifolia *,0,ex,,,,1,,,,,,,,1859,Seggen-Hybride
freq,1,266,266,266,266,266,77,139,218,210,253,266,220,249,21,5

In [33]:
df3.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,EU,GS,V,Zielart_2008,Zielart_2017,V,Letzter Nachweis,Common_name
count,266,266,266,266,266,266,266,266,266,266,266,266,266,266,266,266
unique,266,1,1,1,1,1,10,7,5,6,5,1,3,2,106,261
top,Achillea salicifolia *,0,ex,,,,1,,,,,,,,1859,Seggen-Hybride
freq,1,266,266,266,266,266,77,139,218,210,253,266,220,249,21,5

In [34]:
# Updated export location
# export the dataframe as CSV
df2.to_csv('../../Transformation/Raw_csv/Vascular_plants.csv', 
          index = False
         )