In [39]:
import camelot
import pandas as pd

# Updated Process

## 1. Create empty dataframe with proper column names

In [40]:
# This is where data will be added after cleaning. The final dataframe for export

In [41]:
df = pd.DataFrame(columns = [
    "Species",
    "BE", 
    "Bestand",
    "Trend_lang",
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "EU",
    "GS",
    "V",
    "Zielart_2008",
    "Zielart_2017",
    "V",
    "Letzter Nachweis",
    "Common_name"
])
df

Empty DataFrame
Columns: [Species, BE, Bestand, Trend_lang, Trend_kurz, RF, BB, D, EU, GS, V, Zielart_2008, Zielart_2017, V, Letzter Nachweis, Common_name]
Index: []

In [42]:
df.shape

(0, 16)

## 2. Setup mechanism to store accuracy report : QA step

In [43]:
accuracy = []

## 3. Dictionary of dataframes on the go

In [44]:
# Dictionary to collect dataframes created from each table
d = {}

## 4. Adding the list of pages to be parsed

In [45]:
pages = []
i = 9
while i < 79:
    pages.append(i)
    i = i + 1
print(pages)

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78]

## 5. Parsing through the pages

In [46]:
## Figuring out the table edges using the first/9th page;
'''
tables = camelot.read_pdf('09_gefaesspflanzen.pdf', 
                              pages= str(9),
                              flavor='stream', 
                              row_tol=10,
                         columns=['205,250,280,325, 360,385,410, 425,455,480,510,530,575,605,650'])
#accuracy.append(tables[0].parsing_report)
tables[0].shape
camelot.plot(tables[0], kind='textedge')
'''

"\ntables = camelot.read_pdf('09_gefaesspflanzen.pdf', \n                              pages= str(9),\n                              flavor='stream', \n                              row_tol=10,\n                         columns=['205,250,280,325, 360,385,410, 425,455,480,510,530,575,605,650'])\n#accuracy.append(tables[0].parsing_report)\ntables[0].shape\ncamelot.plot(tables[0], kind='textedge')\n"

In [49]:
for i in pages:
    # print page number
    print (i)
    # create dataframe with page number
    d[i] = pd.DataFrame()
    #read the page
    tables = camelot.read_pdf('09_gefaesspflanzen.pdf', 
                              pages= str(i),
                              flavor='stream', 
                              row_tol=10,
                              columns=['205,250,280,325, 360,385,410, 425,455,480,510,530,575,605,650'])
    #tables = camelot.read_pdf('09_gefaesspflanzen.pdf', pages= str(i), flavor='lattice')
    # add the accuracy report
    accuracy.append(tables[0].parsing_report)
    # assign the first table to a dataframe
    d[i] = tables[0].df
    print(d[i].shape)
# Print Done once all pages are parsed
print ("Done")

9
(26, 16)
10
(28, 16)
11
(28, 16)
12
(29, 16)
13
(29, 16)
14
(28, 16)
15
(28, 16)
16
(28, 16)
17
(29, 16)
18
(28, 16)
19
(28, 16)
20
(28, 16)
21
(28, 16)
22
(28, 16)
23
(28, 16)
24
(28, 16)
25
(28, 16)
26
(28, 16)
27
(28, 16)
28
(29, 16)
29
(29, 16)
30
(28, 16)
31
(28, 16)
32
(28, 16)
33
(28, 16)
34
(27, 16)
35
(28, 16)
36
(28, 16)
37
(29, 16)
38
(29, 16)
39
(29, 16)
40
(28, 16)
41
(27, 16)
42
(28, 16)
43
(28, 16)
44
(28, 16)
45
(28, 16)
46
(28, 16)
47
(28, 16)
48
(28, 16)
49
(28, 16)
50
(28, 16)
51
(28, 16)
52
(28, 16)
53
(27, 16)
54
(29, 16)
55
(28, 16)
56
(28, 16)
57
(28, 16)
58
(28, 16)
59
(28, 16)
60
(28, 16)
61
(29, 16)
62
(28, 16)
63
(28, 16)
64
(28, 16)
65
(28, 16)
66
(28, 16)
67
(28, 16)
68
(28, 16)
69
(28, 16)
70
(28, 16)
71
(28, 16)
72
(27, 16)
73
(28, 16)
74
(28, 16)
75
(28, 16)
76
(28, 16)
77
(28, 16)
78
(12, 16)
Done

In [50]:
# Check accuracy reports for the process
accuracy

[{'accuracy': 99.07, 'whitespace': 54.09, 'order': 1, 'page': 9},
 {'accuracy': 99.14, 'whitespace': 51.34, 'order': 1, 'page': 10},
 {'accuracy': 99.11, 'whitespace': 53.79, 'order': 1, 'page': 11},
 {'accuracy': 99.09, 'whitespace': 57.54, 'order': 1, 'page': 12},
 {'accuracy': 99.05, 'whitespace': 57.54, 'order': 1, 'page': 13},
 {'accuracy': 98.86, 'whitespace': 50.45, 'order': 1, 'page': 14},
 {'accuracy': 98.58, 'whitespace': 54.69, 'order': 1, 'page': 15},
 {'accuracy': 98.79, 'whitespace': 58.26, 'order': 1, 'page': 16},
 {'accuracy': 99.15, 'whitespace': 60.78, 'order': 1, 'page': 17},
 {'accuracy': 98.79, 'whitespace': 55.8, 'order': 1, 'page': 18},
 {'accuracy': 98.45, 'whitespace': 53.35, 'order': 1, 'page': 19},
 {'accuracy': 98.99, 'whitespace': 56.47, 'order': 1, 'page': 20},
 {'accuracy': 99.04, 'whitespace': 56.03, 'order': 1, 'page': 21},
 {'accuracy': 98.99, 'whitespace': 53.35, 'order': 1, 'page': 22},
 {'accuracy': 98.67, 'whitespace': 51.56, 'order': 1, 'page': 23},
 {'accuracy': 99.0, 'whitespace': 56.92, 'order': 1, 'page': 24},
 {'accuracy': 99.16, 'whitespace': 53.35, 'order': 1, 'page': 25},
 {'accuracy': 98.77, 'whitespace': 51.12, 'order': 1, 'page': 26},
 {'accuracy': 98.69, 'whitespace': 52.9, 'order': 1, 'page': 27},
 {'accuracy': 98.98, 'whitespace': 58.84, 'order': 1, 'page': 28},
 {'accuracy': 99.07, 'whitespace': 57.97, 'order': 1, 'page': 29},
 {'accuracy': 99.16, 'whitespace': 55.13, 'order': 1, 'page': 30},
 {'accuracy': 98.96, 'whitespace': 54.02, 'order': 1, 'page': 31},
 {'accuracy': 99.24, 'whitespace': 52.01, 'order': 1, 'page': 32},
 {'accuracy': 98.45, 'whitespace': 54.46, 'order': 1, 'page': 33},
 {'accuracy': 99.05, 'whitespace': 53.94, 'order': 1, 'page': 34},
 {'accuracy': 98.75, 'whitespace': 55.13, 'order': 1, 'page': 35},
 {'accuracy': 98.74, 'whitespace': 64.96, 'order': 1, 'page': 36},
 {'accuracy': 99.14, 'whitespace': 66.38, 'order': 1, 'page': 37},
 {'accuracy': 99.26, 'whitespace': 65.95, 'order': 1, 'page': 38},
 {'accuracy': 99.26, 'whitespace': 66.38, 'order': 1, 'page': 39},
 {'accuracy': 99.13, 'whitespace': 66.52, 'order': 1, 'page': 40},
 {'accuracy': 98.84, 'whitespace': 55.79, 'order': 1, 'page': 41},
 {'accuracy': 98.95, 'whitespace': 49.55, 'order': 1, 'page': 42},
 {'accuracy': 99.02, 'whitespace': 52.68, 'order': 1, 'page': 43},
 {'accuracy': 98.97, 'whitespace': 53.79, 'order': 1, 'page': 44},
 {'accuracy': 98.76, 'whitespace': 51.34, 'order': 1, 'page': 45},
 {'accuracy': 98.58, 'whitespace': 52.68, 'order': 1, 'page': 46},
 {'accuracy': 98.97, 'whitespace': 55.58, 'order': 1, 'page': 47},
 {'accuracy': 99.02, 'whitespace': 54.69, 'order': 1, 'page': 48},
 {'accuracy': 98.39, 'whitespace': 45.76, 'order': 1, 'page': 49},
 {'accuracy': 98.58, 'whitespace': 50.45, 'order': 1, 'page': 50},
 {'accuracy': 98.76, 'whitespace': 53.35, 'order': 1, 'page': 51},
 {'accuracy': 99.2, 'whitespace': 52.9, 'order': 1, 'page': 52},
 {'accuracy': 98.95, 'whitespace': 56.48, 'order': 1, 'page': 53},
 {'accuracy': 98.57, 'whitespace': 56.9, 'order': 1, 'page': 54},
 {'accuracy': 98.7, 'whitespace': 50.89, 'order': 1, 'page': 55},
 {'accuracy': 99.09, 'whitespace': 54.46, 'order': 1, 'page': 56},
 {'accuracy': 98.33, 'whitespace': 57.81, 'order': 1, 'page': 57},
 {'accuracy': 98.95, 'whitespace': 58.26, 'order': 1, 'page': 58},
 {'accuracy': 98.83, 'whitespace': 52.01, 'order': 1, 'page': 59},
 {'accuracy': 99.19, 'whitespace': 65.18, 'order': 1, 'page': 60},
 {'accuracy': 99.12, 'whitespace': 62.07, 'order': 1, 'page': 61},
 {'accuracy': 99.11, 'whitespace': 54.24, 'order': 1, 'page': 62},
 {'accuracy': 99.0, 'whitespace': 58.71, 'order': 1, 'page': 63},
 {'accuracy': 98.72, 'whitespace': 55.36, 'order': 1, 'page': 64},
 {'accuracy': 98.99, 'whitespace': 52.9, 'order': 1, 'page': 65},
 {'accuracy': 98.95, 'whitespace': 51.12, 'order': 1, 'page': 66},
 {'accuracy': 99.06, 'whitespace': 49.78, 'order': 1, 'page': 67},
 {'accuracy': 98.96, 'whitespace': 54.24, 'order': 1, 'page': 68},
 {'accuracy': 98.7, 'whitespace': 51.34, 'order': 1, 'page': 69},
 {'accuracy': 99.23, 'whitespace': 60.27, 'order': 1, 'page': 70},
 {'accuracy': 99.32, 'whitespace': 59.6, 'order': 1, 'page': 71},
 {'accuracy': 98.59, 'whitespace': 56.48, 'order': 1, 'page': 72},
 {'accuracy': 98.97, 'whitespace': 56.03, 'order': 1, 'page': 73},
 {'accuracy': 98.59, 'whitespace': 54.24, 'order': 1, 'page': 74},
 {'accuracy': 99.04, 'whitespace': 54.46, 'order': 1, 'page': 75},
 {'accuracy': 98.97, 'whitespace': 51.56, 'order': 1, 'page': 76},
 {'accuracy': 99.0, 'whitespace': 54.02, 'order': 1, 'page': 77},
 {'accuracy': 98.62, 'whitespace': 56.25, 'order': 1, 'page': 78}]

# Data cleanup steps

d[67]       
    : Look at the data frame extracted from 67th page
d[67].shape 
    : Look at the shape of the dataframe
d[68] = d[68].drop([12], axis=1)
    : Drop the 12th column in place
d[68][10] = d[68][[10, 11]].agg(' '.join, axis=1)
    : Join 10th and 11th columns with a space in between
d[69][[9,11]] = d[69][9].str.split('\n', expand=True)
    : Split 9th Column at the '\n' sign and add a new column called 11
column_to_move = d[69].pop(11)
column_to_move
d[69].insert(9, 11, column_to_move )
    : Pop column 11 and insert it at column 9
d[75].insert(9, '10', ["",""])
    : Insert two rows of column 10 after 9 with empty cells

In [51]:
# Check whether all dataframes are of the same size
for key in d:
    print(key)
    print(d[key].shape)

9
(26, 16)
10
(28, 16)
11
(28, 16)
12
(29, 16)
13
(29, 16)
14
(28, 16)
15
(28, 16)
16
(28, 16)
17
(29, 16)
18
(28, 16)
19
(28, 16)
20
(28, 16)
21
(28, 16)
22
(28, 16)
23
(28, 16)
24
(28, 16)
25
(28, 16)
26
(28, 16)
27
(28, 16)
28
(29, 16)
29
(29, 16)
30
(28, 16)
31
(28, 16)
32
(28, 16)
33
(28, 16)
34
(27, 16)
35
(28, 16)
36
(28, 16)
37
(29, 16)
38
(29, 16)
39
(29, 16)
40
(28, 16)
41
(27, 16)
42
(28, 16)
43
(28, 16)
44
(28, 16)
45
(28, 16)
46
(28, 16)
47
(28, 16)
48
(28, 16)
49
(28, 16)
50
(28, 16)
51
(28, 16)
52
(28, 16)
53
(27, 16)
54
(29, 16)
55
(28, 16)
56
(28, 16)
57
(28, 16)
58
(28, 16)
59
(28, 16)
60
(28, 16)
61
(29, 16)
62
(28, 16)
63
(28, 16)
64
(28, 16)
65
(28, 16)
66
(28, 16)
67
(28, 16)
68
(28, 16)
69
(28, 16)
70
(28, 16)
71
(28, 16)
72
(27, 16)
73
(28, 16)
74
(28, 16)
75
(28, 16)
76
(28, 16)
77
(28, 16)
78
(12, 16)

In [52]:
# Removing empty dataframes
# del d[64]
# del d[74]

In [53]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
d2 = OrderedDict(sorted(d.items()))

In [54]:
# Check whether the dictionary is sorted
for key in d2:
    print(key)

9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78

In [55]:
# Rename all the dataframes in the sorted dictionary
for key in d2:
    print(key)
    d2[key].columns = [ "Species",
    "BE", 
    "Bestand",
    "Trend_lang",
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "EU",
    "GS",
    "V",
    "Zielart_2008",
    "Zielart_2017",
    "V",
    "Letzter Nachweis",
    "Common_name"]
print("Rename completed for concat")

9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
Rename completed for concat

In [56]:
# Concatanate all the non-empty dataframes in the sorted dictionary into the empty df
for key in d2:
    df = pd.concat([df, d2[key]], axis = 0)
df

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,EU,GS,V,Zielart_2008,Zielart_2017,V,Letzter Nachweis,Common_name
0,Wissenschaftlicher Name,BE,Bestand,Trend,Trend,RF,BB,D,EU,GS,V,,Zielart,N,Letzter,Deutscher Name
1,,,,lang,kurz,,,,,,,2008,2017,,Nachweis,
2,Acer campestre *,D,ss,?,?,=,G,,,,,,,,,Feld-Ahorn
3,Acer negundo,*,sh,>,,=,,,,,,,,N,,Eschen-Ahorn
4,Acer platanoides *,*,sh,>,,=,,,,,,,,,,Spitz-Ahorn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,Xanthium albinum,*,mh,>,,=,,,,,,,,N,,Elbe-Spitzklette
8,Xanthium albinum subsp.,D,?,?,?,=,,,,,,,,N,,Ufer-Spitzklette
9,riparium,,,,,,,,,,,,,,,
10,Xanthium strumarium,0,ex,,,,1,,,,,,,,1986,Gemeine Spitzklette
11,Zannichellia palustris,1,ss,<<,,-,3,,,,,,! \n!,,,Sumpf-Teichfaden

In [57]:
# Definition of extinction
df2 = df.loc[df["BE"] == "0"]
df2.reset_index(inplace = True)
df2 = df2.drop(['index'], axis=1)
df2.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,EU,GS,V,Zielart_2008,Zielart_2017,V,Letzter Nachweis,Common_name
0,Achillea salicifolia *,0,ex,,,,G,,,,,,!!,,1999,Weidenblatt-Schafgarbe
1,Agrostemma githago *,0,ex,,,,1,1,,,,,,,1989,Korn-Rade
2,Alchemilla plicata *,0,ex,,,,1,2,,,,,!!,,1990,Gefalteter Frauenmantel
3,Alchemilla vulgaris s. str.,0,ex,,,,1,,,,,,,,1969,Spitzlappiger Frauenmantel
4,Alisma gramineum,0,ex,,,,2,,3,,,,,,1950,Grasblättriger Froschlöffel

In [58]:
df3 = df.loc[df["Bestand"] == "ex"]
df3.reset_index(inplace = True)
df3 = df3.drop(['index'], axis=1)
df3.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,EU,GS,V,Zielart_2008,Zielart_2017,V,Letzter Nachweis,Common_name
0,Achillea salicifolia *,0,ex,,,,G,,,,,,!!,,1999,Weidenblatt-Schafgarbe
1,Agrostemma githago *,0,ex,,,,1,1,,,,,,,1989,Korn-Rade
2,Alchemilla plicata *,0,ex,,,,1,2,,,,,!!,,1990,Gefalteter Frauenmantel
3,Alchemilla vulgaris s. str.,0,ex,,,,1,,,,,,,,1969,Spitzlappiger Frauenmantel
4,Alisma gramineum,0,ex,,,,2,,3,,,,,,1950,Grasblättriger Froschlöffel

In [59]:
df2.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,EU,GS,V,Zielart_2008,Zielart_2017,V,Letzter Nachweis,Common_name
count,266,266,266,266,266,266,266,266,266,266,266,266,266,266,266,266
unique,265,1,1,1,1,1,10,7,5,6,5,1,3,2,106,261
top,Hieracium maculatum subsp.,0,ex,,,,1,,,,,,,,1859,Seggen-Hybride
freq,2,266,266,266,266,266,77,139,218,210,253,266,220,249,21,5

In [60]:
df3.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,EU,GS,V,Zielart_2008,Zielart_2017,V,Letzter Nachweis,Common_name
count,266,266,266,266,266,266,266,266,266,266,266,266,266,266,266,266
unique,265,1,1,1,1,1,10,7,5,6,5,1,3,2,106,261
top,Hieracium maculatum subsp.,0,ex,,,,1,,,,,,,,1859,Seggen-Hybride
freq,2,266,266,266,266,266,77,139,218,210,253,266,220,249,21,5

In [61]:
# export the dataframe as CSV
df2.to_csv('Vascular_plants.csv', index=False)

In [62]:
df2

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,EU,GS,V,Zielart_2008,Zielart_2017,V,Letzter Nachweis,Common_name
0,Achillea salicifolia *,0,ex,,,,G,,,,,,!!,,1999,Weidenblatt-Schafgarbe
1,Agrostemma githago *,0,ex,,,,1,1,,,,,,,1989,Korn-Rade
2,Alchemilla plicata *,0,ex,,,,1,2,,,,,!!,,1990,Gefalteter Frauenmantel
3,Alchemilla vulgaris s. str.,0,ex,,,,1,,,,,,,,1969,Spitzlappiger Frauenmantel
4,Alisma gramineum,0,ex,,,,2,,3,,,,,,1950,Grasblättriger Froschlöffel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Veronica opaca,0,ex,,,,1,2,3,,!,,,,1881,Glanzloser Ehrenpreis
262,Veronica teucrium *,0,ex,,,,2,,,,,,,,1881,Großer Ehrenpreis
263,Viola stagnina *,0,ex,,,,2,2,2,,,,!!,,1984,Gräben-Veilchen
264,Vulpia bromoides,0,ex,,,,1,,,,,,,,1992,Trespen-Federschwingel
265,Xanthium strumarium,0,ex,,,,1,,,,,,,,1986,Gemeine Spitzklette