In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Extinct_species_without_meta.csv')

# Checking for duplicates

In [3]:

df.loc[df.duplicated(subset = "Species")]

Empty DataFrame
Columns: [Species, Family, BE, Letzter_Nachweis, Deutscher_Name, Reference]
Index: []

In [4]:
df.at[1349, "Reference"]

'Rote Liste und Gesamtartenliste der Flechten (Lichenes) von Berlin'

In [5]:
# Fixing duplicates in Lichens
# Done
#1. Adding the var name for Tephromela atra var. torulosa

#To Do
# A data row with only the genus in the Species name: Look for "Stereocaulon PASCHALE"

In [6]:
df.at[1052, "Reference"]

'Rote Liste und Gesamtartenliste der etablierten Farn- und Bl√ºtenpflanzen von Berlin'

In [7]:
# Fixing duplicates in Vascular Plants
# Done
#1. Removing \n from Species name and common name
#2. Increasing the extraction row tolerance to include entries with multiple lines
#3. Including subspecies and hybrid names
#4. Parsing GBIF multiple times until no NAN values for Family column

#To Do
# Automate the GBIF parsing ( pass the column number instead of copying manually)

# Checking for NANs

In [8]:
# Species
df[df.Species.isna()]

Empty DataFrame
Columns: [Species, Family, BE, Letzter_Nachweis, Deutscher_Name, Reference]
Index: []

In [9]:
# Family
df[df.Family.isna()]

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
1345,Stereocaulon PASCHALE,NaN,0,NaN,NaN,Rote Liste und Gesamtartenliste der Flechten (...

In [10]:
# BE
df[df.BE.isna()]

Empty DataFrame
Columns: [Species, Family, BE, Letzter_Nachweis, Deutscher_Name, Reference]
Index: []

In [11]:
# Letzter_Nachweis
print(df.Letzter_Nachweis.isna().sum())
print(((df.Letzter_Nachweis.isna().sum()/df.Species.count())*100).round(2))
df[df.Letzter_Nachweis.isna()].head()

421
29.82

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
32,Aphodius conspurcatus,Scarabaeidae,0,NaN,NaN,Rote Liste und Gesamtartenliste der Blatthornk...
33,Aphodius foetidus,Scarabaeidae,0,NaN,NaN,Rote Liste und Gesamtartenliste der Blatthornk...
34,Aphodius lividus,Scarabaeidae,0,NaN,NaN,Rote Liste und Gesamtartenliste der Blatthornk...
35,Aphodius niger,Scarabaeidae,0,NaN,NaN,Rote Liste und Gesamtartenliste der Blatthornk...
36,Aphodius obliteratus,Scarabaeidae,0,NaN,NaN,Rote Liste und Gesamtartenliste der Blatthornk...

In [12]:
# Deutscher_Name
print(df.Deutscher_Name.isna().sum())
print(((df.Deutscher_Name.isna().sum()/df.Species.count())*100).round(2))
df[df.Deutscher_Name.isna()].head()

902
63.88

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Donacia brevicornis,Chrysomelidae,0,vor 1907,NaN,Rote Liste und Gesamtartenliste der Blattk√§fer...
1,Donacia dentata,Chrysomelidae,0,1937,NaN,Rote Liste und Gesamtartenliste der Blattk√§fer...
2,Donacia obscura,Chrysomelidae,0,vor 1907,NaN,Rote Liste und Gesamtartenliste der Blattk√§fer...
3,Donacia thalassina,Chrysomelidae,0,vor 1950,NaN,Rote Liste und Gesamtartenliste der Blattk√§fer...
4,Donacia tomentosa,Chrysomelidae,0,1943,NaN,Rote Liste und Gesamtartenliste der Blattk√§fer...

In [13]:
# Reference
df[df.Reference.isna()]

Empty DataFrame
Columns: [Species, Family, BE, Letzter_Nachweis, Deutscher_Name, Reference]
Index: []

# Checking for space chars included as str

In [14]:
df.head()

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Donacia brevicornis,Chrysomelidae,0,vor 1907,NaN,Rote Liste und Gesamtartenliste der Blattk√§fer...
1,Donacia dentata,Chrysomelidae,0,1937,NaN,Rote Liste und Gesamtartenliste der Blattk√§fer...
2,Donacia obscura,Chrysomelidae,0,vor 1907,NaN,Rote Liste und Gesamtartenliste der Blattk√§fer...
3,Donacia thalassina,Chrysomelidae,0,vor 1950,NaN,Rote Liste und Gesamtartenliste der Blattk√§fer...
4,Donacia tomentosa,Chrysomelidae,0,1943,NaN,Rote Liste und Gesamtartenliste der Blattk√§fer...

In [15]:
isspace_list = ["\f", "\n", "\r", "\t", "\v"]

for i in isspace_list:
    print("Species")
    print(df[df["Species"].str.contains(i)]["Species"].count())
    print("Reference")
    print(df[df["Reference"].str.contains(i)]["Reference"].count())

Species
0
Reference
0
Species
0
Reference
0
Species
0
Reference
0
Species
0
Reference
0
Species
0
Reference
0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1412 entries, 0 to 1411
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Species           1412 non-null   object
 1   Family            1411 non-null   object
 2   BE                1412 non-null   int64
 3   Letzter_Nachweis  991 non-null    object
 4   Deutscher_Name    510 non-null    object
 5   Reference         1412 non-null   object
dtypes: int64(1), object(5)
memory usage: 66.3+ KB

In [17]:
# Saving the extracted csv to the "Transformation" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Final.csv', 
          index=False)