In [1]:
import camelot
import pandas as pd

# Updated Process

## 1. Create empty dataframe with proper column names

In [2]:
# This is where data will be added after cleaning. The final dataframe for export

In [3]:
df = pd.DataFrame(columns = [
    "Species",
    "RL", 
    "Gefährdungsursachen", 
    "Letzter Nachweis in Berlin"
])
df

Empty DataFrame
Columns: [Species, RL, Gefährdungsursachen, Letzter Nachweis in Berlin]
Index: []

In [4]:
df.shape

(0, 4)

## 2. Setup mechanism to store accuracy report : QA step

In [5]:
accuracy = []

## 3. Dictionary of dataframes on the go

In [6]:
# Dictionary to collect dataframes created from each table
d = {}

## 4. Adding the list of pages to be parsed

In [7]:
pages = []
i = 19
while i < 23:
    pages.append(i)
    i = i + 1
print(pages)

[19, 20, 21, 22]

## 5. Parsing through the pages

In [8]:
for i in pages:
    # print page number
    print (i)
    # create dataframe with page number
    d[i] = pd.DataFrame()
    #read the page
    tables = camelot.read_pdf('rote_liste_wasserkaefer_hendrich_mueller.pdf', 
                              pages= str(i), 
                              flavor='stream', edge_tol=1000, row_tol=10)
    #tables = camelot.read_pdf('rote_liste_wasserkaefer_hendrich_mueller.pdf', pages= str(i), flavor='lattice')
    # add the accuracy report
    accuracy.append(tables[0].parsing_report)
    # assign the first table to a dataframe
    d[i] = tables[0].df
    print(d[i].shape)
# Print Done once all pages are parsed
print ("Done")

19
(28, 3)
20
(45, 4)
21
(45, 4)
22
(45, 4)
Done

In [9]:
tables = camelot.read_pdf('rote_liste_wasserkaefer_hendrich_mueller.pdf', 
                              pages= str(19), 
                              flavor='stream', edge_tol=1000, row_tol=10)
accuracy.append(tables[0].parsing_report)
d[19] = tables[1].df
print(d[19].shape)

(16, 4)

In [10]:
# Check accuracy reports for the process
accuracy

[{'accuracy': 68.9, 'whitespace': 47.62, 'order': 1, 'page': 19},
 {'accuracy': 100.0, 'whitespace': 20.0, 'order': 1, 'page': 20},
 {'accuracy': 100.0, 'whitespace': 18.33, 'order': 1, 'page': 21},
 {'accuracy': 100.0, 'whitespace': 30.0, 'order': 1, 'page': 22},
 {'accuracy': 68.9, 'whitespace': 47.62, 'order': 1, 'page': 19}]

# Data cleanup steps

d[67]       
    : Look at the data frame extracted from 67th page
d[67].shape 
    : Look at the shape of the dataframe
d[68] = d[68].drop([12], axis=1)
    : Drop the 12th column in place
d[68][10] = d[68][[10, 11]].agg(' '.join, axis=1)
    : Join 10th and 11th columns with a space in between
d[69][[9,11]] = d[69][9].str.split('\n', expand=True)
    : Split 9th Column at the '\n' sign and add a new column called 11
column_to_move = d[69].pop(11)
column_to_move
d[69].insert(9, 11, column_to_move )
    : Pop column 11 and insert it at column 9
d[75].insert(9, '10', ["",""])
    : Insert two rows of column 10 after 9 with empty cells

In [11]:
# Check whether all dataframes are of the same size
for key in d:
    print(key)
    print(d[key].shape)

19
(16, 4)
20
(45, 4)
21
(45, 4)
22
(45, 4)

In [12]:
for key in d:
    d[key] = d[key].drop([0,1], axis=0)

In [13]:
for key in d:
    print(key)
    print(d[key].shape)

19
(14, 4)
20
(43, 4)
21
(43, 4)
22
(43, 4)

In [14]:
d[19] = d[19].drop([2,3,4], axis=0)
d[19].head()

,0,1,2,3
5,Hygrobiidae,,,
6,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
7,Haliplidae,,,
8,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
9,Haliplus confinis,3,"12a, 14a","Zehlendorf, Teich am Teltowkanal im Forst Düp-"

In [15]:
# Removing empty dataframes
# del d[64]
# del d[74]

In [16]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
d2 = OrderedDict(sorted(d.items()))

In [17]:
# Check whether the dictionary is sorted
for key in d2:
    print(key)

19
20
21
22

In [18]:
# Rename all the dataframes in the sorted dictionary
for key in d2:
    print(key)
    d2[key].columns = [
    "Species",
    "RL", 
    "Gefährdungsursachen", 
    "Letzter Nachweis in Berlin"]
print("Rename completed for concat")

19
20
21
22
Rename completed for concat

In [19]:
# Concatanate all the non-empty dataframes in the sorted dictionary into the empty df
for key in d2:
    df = pd.concat([df, d2[key]], axis = 0)
df

,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin
5,Hygrobiidae,,,
6,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
7,Haliplidae,,,
8,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
9,Haliplus confinis,3,"12a, 14a","Zehlendorf, Teich am Teltowkanal im Forst Düp-"
...,...,...,...,...
40,Dryops anglicanus,2,"2d, 11c","Schmöckwitz, ND Langes Luch 2006, Hendrich leg."
41,Dryops griseus,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1973, Korge leg. (CK)"
42,Dryops nitidulus,0,?,"Lichterfelde, US-Truppenübungsplatz, 1983, Hen-"
43,,,,drich leg.
44,Dryops similaris,0,1a,"Spandau, Elsgraben, 1921, leg. ? (CK)"

In [20]:
# Definition of extinction
df2 = df.loc[df["RL"] == "0"]
df2.head()

,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin
6,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
8,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
12,Agabus biguttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."
13,Agabus clypealis,0,"2d, 11c","Dahlem, NSG Langes Luch, 1987, BH leg."
19,Agabus guttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."

In [21]:
df2.reset_index(inplace = True)
df2.head()

,index,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin
0,6,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
1,8,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
2,12,Agabus biguttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."
3,13,Agabus clypealis,0,"2d, 11c","Dahlem, NSG Langes Luch, 1987, BH leg."
4,19,Agabus guttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."

In [22]:
df2 = df2.drop(['index'], axis=1)
df2.head()

,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin
0,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
1,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
2,Agabus biguttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."
3,Agabus clypealis,0,"2d, 11c","Dahlem, NSG Langes Luch, 1987, BH leg."
4,Agabus guttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."

In [23]:
#df3 = df.loc[df["Bestand"] == "ex"]
#df3.reset_index(inplace = True)
#df3 = df3.drop(['index'], axis=1)
#df3.head()

In [24]:
df2.describe()

,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin
count,31,31,31,31
unique,31,1,13,29
top,Hygrobia hermanni,0,"2d, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."
freq,1,31,10,2

In [25]:
df2

,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin
0,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
1,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
2,Agabus biguttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."
3,Agabus clypealis,0,"2d, 11c","Dahlem, NSG Langes Luch, 1987, BH leg."
4,Agabus guttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."
5,Agabus labiatus,0,"1a, 5b","Tegel, Jungfernheide, ca. 1900, coll. Schilsky"
6,Agabus striolatus,0,"2d, 11c","Reinickendorf, ehem. Hermsdorfer See, 1994, BH"
7,Dytiscus latissimus,0,11c,"Tegel, Tegeler See, 1949, Weinhold leg."
8,Dytiscus semisulcatus,0,"1a, 5b","Pankow, Buch, 1926, Beck leg."
9,Graphoderus bilineatus,0,"5b, 11c, 12c","Berlin 10.1.1905, Sammlung Zimmermann (ZSM)"
10,Graphoderus zonatus,0,"5b, 11c, 12c","Zehlendorf, Buschgraben, 2001, Hendrich leg."
11,Hydroporus elongatulus,0,"2d, 11c, 12c","Köpenick, Gosener Wiesen, 1996, Hendrich leg."
12,Hydroporus glabriusculus,0,"2d, 11c","Spandau, NSG Großer u. Kleiner Rohrpfuhl, 1993,"
13,Hydroporus gyllenhalii,0,1a,"Spandau, ca. 1920, Schöppa leg. (HORION 1941)"
14,Hydroporus notatus,0,1a,"Karlshorst, 1913, Ahlwarth leg. (ZMB)"
15,Hydroporus rufifrons,0,"2d, 11c, 12c","Wannsee, NSG Bäkewiese, 1995, BH leg."
16,Ilybius aenescens,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1987, Schlarbaum"
17,Ilybius similis,0,"2d, 11c","Grunewald, NSG Hundekehlefenn, 1990, BH leg."
18,Rhantus notaticollis,0,12c,"Karlshorst, 1913, Ahlwarth leg. (ZMB)"
19,Rhantus suturellus,0,"2d, 11c","Schmöckwitz, ND Langes Luch, 1995, Hendrich"
20,Suphrodytes dorsalis,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1986, Hendrich leg."
21,Gyrinus distinctus,0,"3b, 5, 11c","Havelufer, Großes Fenster, 1989, BH leg."
22,Gyrinus marinus,0,"3b, 5, 11c","Buch, Karower Teiche, 1996, Hendrich leg."
23,Gyrinus minutus,0,"2d, 11c","Reinickendorf, Tegeler Fließ, 1989, BH leg."
24,Gyrinus natator,0,"2d, 11c","Grunewald, NSG Teufelsfenn, 1959, Fery leg. (CF)"
25,Hydrochus megaphallus,0,?,"Tegel, Jungfernheide, ca. 1920, Zumpt leg."
26,Helophorus tuberculatus,0,Ausbleiben,"Tiergarten, 1889, Habelmann leg."
27,Stenelmis canaliculata,0,"5a, 11c","Berlin, 10.8.1900, 2 Exemplare, Maas leg. (MNG)"
28,Dryops griseus,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1973, Korge leg. (CK)"
29,Dryops nitidulus,0,?,"Lichterfelde, US-Truppenübungsplatz, 1983, Hen-"
30,Dryops similaris,0,1a,"Spandau, Elsgraben, 1921, leg. ? (CK)"

In [26]:
#df3.describe()

In [27]:
# export the dataframe as CSV
df2.to_csv('../../Transformation/Raw_csv/Coleoptera_Wasserkäfer.csv', index=False)